<div id="player<%=video_player['divid']%>">
 <div data-youtube="true" data-youtube-id="<%=video_player['video_id']%>" data-youtube-title="<%=video_player['post_title']%>" data-youtube-category="<%=video_player['solarSlug']%>" data-youtube-width="<%=video_player['width']%>" data-youtube-height="<%=video_player['height']%>"></div>
</div>