<!--New Cricket Strip-->
<style>
    .new-cricket-strip{ margin: 30px 0; background: #112e6e;}
    .new-ticker-slider{ position: relative;height: 38px; }
    .new-ticker-slider .glide__arrow{ position: absolute; top:5px; background: #fff; max-width: 28px; max-height: 28px; padding: 2px 4px 2px 2px; border-radius: 50%; cursor: pointer; }
    .new-ticker-slider .glide__arrow--prev{ left: 5px;}
    .new-ticker-slider .glide__arrow--next{ right: 5px; }
    .new-ticker-slider .glide-slide{ width: 100%; }
    .glide-wrap{font-family: Arial, Helvetica, sans-serif;  max-width: 95%; margin: 5px auto 0;display: flex;  align-items: center;  }
    .g-ipl-title{ white-space: nowrap;font-size: 16px; font-weight: 800; color: #fff; }
    .g-match-name{  white-space: nowrap;font-size: 15px; color: #fff; display: flex; align-items: center; margin: 2px 0 0; }
    .g-inn-txt{ margin: 0 6px; white-space: nowrap; }
    .g-team-name-one{ font-size: 20px; color:#f7b921; text-transform: uppercase; font-weight: 700; }
    .g-score-div{ font-size: 20px; font-weight: 500; color: #fff; white-space: nowrap;}
    .g-score-div span{ font-size: 15px; font-weight: 400; opacity: 0.8; }
    .g-vs-text{ font-size: 15px; font-weight: 900; color: #112e6e; background: #fff; padding: 2px 7px 3px; display: flex; justify-content: center; align-items: center; border-radius: 50%; line-height: 18px; }
    .g-team-name-two{ font-size: 20px; color:#e31638; text-transform: uppercase; font-weight: 700; }
    .g-match-status{ color: #e1e5e4; font-size: 15px; font-weight: 400; white-space: nowrap;  }
    .g-live-blog-div{  }
    .g-live-blog-div a{ display: flex; align-items: center;background: #e41414; padding: 1px 5px 1px 10px; border-radius: 5px; font-size: 14px; color: #fff; text-transform: uppercase; }
    .g-live-blog-div a img{width: 47px; display: inline; position: relative; top:0;margin: 0 0 0 5px; }
    .comp-link{ display: flex;  align-items: center;justify-content: space-evenly; width: 84%; }

    /*Hide buttons during single match*/
    #newtickerslider.single-match .glide__arrows{display: none;}
    #newtickerslider.single-match .glide-wrap{ margin: 5px 0 0; max-width: 100%; }
</style>
<div class="new-cricket-strip">
    <div class="slider-wrap new-ticker-slider single-match" id="newtickerslider"> <!--Add the single match class "single-match" on div "new-ticker-slider"-->
        <div class="glide__track" data-glide-el="track">
            <div class="slider">
                <% for (const [match_key, match_val] of Object.entries(liveMatchList)) { %>
                <% if(match_val['teama'] != undefined && match_val['live'] == '1' && match_val['series_Id'] == '4165'){ %>
                <div class="glide-slide">
                    <div class="glide-wrap">
                        <a href="<%= constant.SITE_URL %>firstcricket/cricket-live-score/<%-match_val['teama'].replace(/\s+/g, '-').toLowerCase() %>-vs-<%-match_val['teamb'].replace(/\s+/g, '-').toLowerCase() %>-<%= match_val['matchtype'].replace(/\s+/g, '-').toLowerCase() %>-live-cricket-score-full/<%= match_val['series_Id']%>/<%= match_val['match_Id']%>.html" title="<%-match_val['teama'] %> vs <%-match_val['teamb'] %> Full Scorecard" class="comp-link">
                            <div class="g-match-name">
                                <p class="g-match-txt">
                                    <%=match_val["matchnumber"]%>
                                </p>
                                <% if(typeof match_val['inn_team_4'] !== 'undefined' && match_val['inn_team_4'] != '' ) { %>
                                <p class="g-inn-txt">
                                    4th Inns
                                </p>
                                <% }else if(typeof match_val['inn_team_3'] !== 'undefined' && match_val['inn_team_3'] != '' ) { %>
                                <p class="g-inn-txt">
                                    3rd Inns
                                </p>
                                <% }else if(typeof match_val['inn_team_2'] !== 'undefined' && match_val['inn_team_2'] != '' ) { %>
                                <p class="g-inn-txt">
                                    2nd Inns
                                </p>
                                <% }else { %>
                                <p class="g-inn-txt">
                                    1st Inns
                                </p>
                                <% } %>
                            </div>
                            <div class="g-team-name-one">
                                <%= match_val['teama_short'] %>
                            </div>
    
                            <% 
                            if(match_val['current_batting_team'] == match_val['teama_Id']){
                            %>
                            <div class="g-score-div">
                                <p>
                                    <%= match_val['current_score'] %>
                                    <!-- <span class="g-over"><%= match_val['current_score'].match(/\(([^)]+)\)/)[0] %></span> -->
                                </p>
                            </div>
                            <%}%>
    
                            <div class="g-vs-text">
                                v
                            </div>
    
                            <div class="g-team-name-two">
                                <%= match_val['teamb_short'] %>
                            </div>
    
                            <% 
                            if(match_val['current_batting_team'] == match_val['teamb_Id']){
                            %>
                            <div class="g-score-div">
                                <p>
                                    <%= match_val['current_score'] %>
                                    <!-- <span class="g-over"><%= match_val['current_score'].match(/\(([^)]+)\)/)[0] %></span> -->
                                </p>
                            </div>
                            <%}%>
    
                            <div class="g-match-status">
                                
                                <% if(match_val['matchstatus'] == 'Match Ended') { %>
                                    <%= match_val['matchstatus'] %>
                                <% } else if(match_val['equation'] != '') { %>
                                    <%= match_val['equation'] %>
                                <% } else { %>
                                    <%= match_val['matchstatus'] %>
                                <%}%>
                            </div>
                        </a>
                        

                        <div class="g-live-blog-div">
                            <a href="<%=cricketLive%>" title="<%-match_val['teama'] %> vs <%-match_val['teamb'] %> Live Score">
                                LIVE BLOG
                                <img src="/static/images/live-img.png" alt="" width='47'>
                            </a>
                        </div>

                    </div>
                </div>
                <% } } %>
            </div>
        </div>
        <% 
        if(Object.entries(liveMatchList).length > 1){
        %>
        <div class="glide__arrows" data-glide-el="controls">
            <div class="glide__arrow glide__arrow--prev" data-glide-dir="<"><svg height="24" viewBox="0 0 24 24" width="24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg></div>
            <div class="glide__arrow glide__arrow--next" data-glide-dir=">"><svg height="24" viewBox="0 0 24 24" width="24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg></div>
        </div>
        <%}%>
    </div>    
</div>

<script>
    var crickglide = new Glide('#newtickerslider',{
      type: 'carousel',
      perView:1,
      startAt: 0,
      rewind:false,
      slidesToScroll: 1,
      autoplay: false,
      duration: 5000,
      animationDuration: 600,
      animationTimingFunc: 'linear',
    });
    
    crickglide.mount()
</script>
<!--New Cricket Strip-->