<% if(typeof seriesSlug !== 'undefined' && seriesSlug == 'ipl-2020') { %>
<style>
   .breadcrumb.ipl-breadcrumb{ display: flex; justify-content: space-between; }
   .ipl-asso-strip{ max-width: 300px; width: 280px; max-height: 67px; padding: 10px; background: #221122; color: #fff; font-family:  'Arial Narrow ', sans-serif; }
   .ipl-flex-class a{ display: flex; align-items: flex-start; justify-content: space-between;color: #fff; }
   .ipl-flex-class img{ height: auto; width: 46px;}
   .asso-txt{ font-size: 10px; font-weight: normal; text-transform: uppercase; white-space: nowrap;  }
   .sport-menu-div{display: none;}

   @media screen and (max-width: 769px) {
      .breadcrumb.ipl-breadcrumb{ flex-direction: column; }
      .ipl-asso-strip{ margin: 10px auto 0; }
   }
</style>
<script language='JavaScript1.1' src="https://ad.doubleclick.net/ddm/trackimpj/N1153793.3368054NETWORK18DISPLAY/B24666494.282680890;dc_trk_aid=476481562;dc_trk_cid=137873223;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755}?">
</script>
<% } %>

<div class="breadcrumb <% if(typeof seriesSlug !== 'undefined' && seriesSlug == 'ipl-2020') { %>ipl-breadcrumb<% } %>" >
   <ul class="breadcrumb-list">
      <% var i = 0;
         var cntArr = [];
         cntArr = Object.keys(breadcrumbsArr).length; 
         for (const [breadCrumb_key, breadCrumb_val] of Object.entries(breadcrumbsArr)) { 
         i++;
      %>
         <% if(i >= cntArr) { %>
            <li class="current">
               <a href="<%- breadCrumb_key%>" title="<%- breadCrumb_val%>">
                  <%- breadCrumb_val%>
               </a>   
            </li>
         <% %>   
         <% } else { %>
            <li>
               <a href="<%- breadCrumb_key%>" title="<%- breadCrumb_val%>">
                  <%- breadCrumb_val%>
               </a>
            </li>
         <% } %>
      <% } %>
   </ul>
   <% if(typeof seriesSlug !== 'undefined' && seriesSlug == 'ipl-2020') { %>
      <div class="ipl-asso-strip">
         <div class="ipl-flex-class">
            <a href="https://ad.doubleclick.net/ddm/trackclk/N1153793.3368054NETWORK18DISPLAY/B24666494.282680890;dc_trk_aid=476481562;dc_trk_cid=137873223;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755}" target="_new" title="IPL 2020">
               <p class="asso-txt">
                  Associate Partner
               </p>
               <div class="img-div">
                  <img loading="lazy" width="62" height="62" src="/static/images/dell170.png" title="" alt="">
               </div>
               
            </a>
         </div>
      </div>
   <% } %>
</div>
<script type="application/ld+json">
{
 "@context":"http://schema.org",
 "@type":"BreadcrumbList",
 "itemListElement":[ 
   <%
      var i = 0;
      var cntArr = [];
      cntArr = Object.keys(breadcrumbsArr).length;
      for (const [key, value] of Object.entries(breadcrumbsArr)) {
         i++;
   %>
      { 
         "@type":"ListItem",
         "position":"<%- i%>",
         "item":
            {
               "@id":"<%- key %>",
               "name":"<%- value%>"
            }
      }
      <% if(i < cntArr) { %>
            ,
      <% } %>
   <% } %>   
   ]
}
</script>