<style type="text/css">
   @import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap);@font-face{font-family:'Segoe Pro Regular';font-style:normal;font-weight:400;src:local('Segoe Pro Regular'),url(https://images.news18.com/static_news18/pix/ibnhome/news18/delhi-assembly-election-2020/fonts/SegoePro-Regular.woff) format('woff')}@font-face{font-family:'Segoe Pro Bold';font-style:normal;font-weight:400;src:local('Segoe Pro Bold'),url(https://images.news18.com/static_news18/pix/ibnhome/news18/delhi-assembly-election-2020/fonts/SegoePro-Bold.woff) format('woff')}@font-face{font-family:'Segoe Condensed';font-style:normal;font-weight:400;src:local('Segoe Condensed'),url(https://images.news18.com/static_news18/pix/ibnhome/news18/delhi-assembly-election-2020/fonts/SegoePro-Cond.woff) format('woff')}@font-face{font-family:'Segoe Pro Cond Bold';font-style:normal;font-weight:400;src:local('Segoe Pro Cond Bold'),url(https://images.news18.com/static_news18/pix/ibnhome/news18/delhi-assembly-election-2020/fonts/SegoePro-CondBold.woff) format('woff')}.corona-toolbar div{font-family:'Segoe Pro Regular'}.corona-toolbarbtn{position:fixed;bottom:0;left:50%;transform:translate(-50%,0);cursor:pointer;display:none;background:#ffc44e;padding:8px 11px;border-radius:20px 20px 0 0;border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;box-shadow:0 0 10px #00000029;z-index:999999}.corona-toolbarbtn .toolbarbtn-l{margin-right:10px}.corona-toolbarbtn img{display:block}.corona-toolbar{position:fixed;bottom:0;background:#1e2630;width:100%;z-index:9999999;display:none}.corona-toolbar ul{list-style:none}.corona-container{width:1244px;box-sizing:initial;margin:0 auto;display:flex;justify-content:space-between}.corona-container .corona-boxl{width:360px;background:#fff}.corona-container .corona-boxr{width:884px;padding:3px}.corona-container .corona-boxl .corona-l-r{display:flex;padding:7px}.corona-container .corona-boxl .corona-l-r:first-child{background:#ffc44e}.corona-container .corona-boxl .corona-l-r .virus{margin-right:5px}.corona-container .corona-boxl .virus-text .virushead-1{font-family:Montserrat,sans-serif;font-weight:900;font-size:32px;margin-bottom:5px;margin-top:0}.corona-container .corona-boxl .virus-text .virushead-2{font-family:Montserrat,sans-serif;font-weight:500;font-size:17px;text-transform:uppercase;margin-bottom:5px;margin-top:5px}.corona-container .corona-boxl .virus-text .virushead-2 span{border-bottom:2px solid #000}.corona-container .corona-boxl .virus-text ul{display:flex;flex-wrap:wrap;justify-content:space-between;margin-bottom:0}.corona-container .corona-boxl .virus-text ul li{width:50%}.corona-container .corona-boxl .virus-text ul li span{font-weight:700;font-family:Montserrat,sans-serif}.corona-container .corona-boxl .corona-l-r:last-child{border-left:2px solid #e1261c}.corona-container .corona-boxl .corona-l-r:last-child p{margin-bottom:0}.corona-container .corona-boxl .corona-l-r:last-child p a{color:#1e2630;font-family:'Segoe Pro Bold';font-size:13px}.corona-boxr .corona-main{display:none}.corona-boxr .corona-main.active{display:inherit}.corona-boxr .corona-header{display:flex;justify-content:space-between;margin-bottom:7px;position:relative;padding-right:35px}.corona-boxr .corona-header .cross-icon{width:26px;height:26px;background:#ffc44e;border-radius:50%;position:absolute;right:0;top:13px;cursor:pointer}.corona-boxr .corona-header .cross-icon:after,.corona-boxr .corona-header .cross-icon:before{content:'';width:15px;height:2px;background:#222;display:block;position:absolute;top:50%;left:24%}.corona-boxr .corona-header .cross-icon:before{transform:rotate(-45deg)}.corona-boxr .corona-header .cross-icon:after{transform:rotate(45deg)}.corona-boxr .corona-header .coorna-tab{display:flex}.corona-boxr .corona-header .coorna-tab li{font-size:24px;color:#8f8a7f;font-family:'Segoe Pro Regular';text-transform:uppercase;padding:5px 50px 5px 15px;margin-right:3px;border-bottom:1px solid #8f8a7f;cursor:pointer}.corona-boxr .corona-header .coorna-tab li:last-child{margin-right:0}.corona-boxr .corona-header .other-link{display:flex;align-items:center;margin-bottom:0}.corona-boxr .corona-header .other-link li{margin-right:30px;font-size:14px;text-transform:uppercase;font-family:'Segoe Pro Bold'}.corona-boxr .corona-header .other-link li a,.corona-boxr .corona-header .other-link li span{color:#fff;display:flex;align-items:center;font-family:'Segoe Pro Bold'}.corona-boxr .corona-header .other-link li a .icon{margin-right:7px}.corona-boxr .corona-header .other-link li a .icon img{height:30px}.corona-boxr .corona-header .other-link li:last-child{margin-right:0}.corona-main-inner{display:flex;border:1px solid #444;background:#1f2326;margin-bottom:5px}.corona-main-inner .c-main-l{width:25%;padding:5px;border-right:1px solid #444}.corona-main-inner .c-main-r{width:75%}.corona-main-inner .c-main-r ul{display:flex;margin-bottom:0}.corona-main-inner .c-main-r ul li{font-family:'Segoe Pro Regular';flex:0 0 25%;border-right:1px solid #444;text-align:center;position:relative;padding:5px 0}.corona-main-inner .c-main-r ul li:after{content:'';width:100%;height:3px;background:#707070;position:absolute;left:0;bottom:0}.corona-main-inner .c-main-r ul li .head1{color:#bbb;font-size:11px;text-transform:uppercase;font-family:'Segoe Pro Regular';margin-bottom:0}.corona-main-inner .c-main-r ul li .head2{font-size:34px;font-family:'Segoe Pro Bold';margin-top:0}.corona-main-inner .c-main-r ul li span{font-size:12px}.corona-main-inner .c-main-r ul li.active-cases .head2{color:#ffb727}.corona-main-inner .c-main-r ul li.active-cases span{color:#ffb727}.corona-main-inner .c-main-r ul li.total-confirmed .head2{color:#ffd488}.corona-main-inner .c-main-r ul li.total-confirmed span{color:#ffd488}.corona-main-inner .c-main-r ul li.cured .head2{color:#41b408}.corona-main-inner .c-main-r ul li.cured span{color:#41b408}.corona-main-inner .c-main-r ul li.total-deaths .head2{color:#e34042}.corona-main-inner .c-main-r ul li.total-deaths span{color:#e34042}.c-main-select{width:100%;padding:4px;border:0;margin-bottom:10px}.c-main-l-head{color:#444;font-size:24px;font-family:'Segoe Pro Regular';text-transform:uppercase;margin-top:5px}.corona-m-ftr{display:flex;justify-content:space-between;align-items:center}.corona-m-ftr .corona-m-box{font-family:'Segoe Pro Regular';color:#ffeccb;font-size:11px;font-style:italic}.corona-m-ftr .corona-m-box span{color:#ffeccb;font-weight:900;border-bottom:1px solid}.corona-m-ftr .corona-m-box:nth-child(2){color:#ffb727}.corona-m-ftr .corona-hospital{font-family:'Segoe Pro Regular';background:#f5f5f5;color:#e1261c;font-size:12px;text-transform:uppercase;padding:3px 18px;border-radius:25px;display:flex;align-items:center}.corona-m-ftr .corona-hospital img{width:22px;margin-right:5px}.note-icon{margin-right:7px}.note-icon img{display:block;width:20px}.corona-boxr .corona-header .coorna-tab li.active{position:relative;font-family:'Segoe Pro bold';color:#ffc44e}.corona-boxr .corona-header .coorna-tab li.active:before{content:'';width:100%;height:3px;position:absolute;background:#ffc44e;bottom:0;left:0}.corona-boxr .corona-header .coorna-tab li.active:after{content:'';width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #ffc44e;position:absolute;top:100%;left:10px}.bounce{animation-name:bounce;animation-timing-function:ease;animation-duration:2s;animation-iteration-count:infinite}@keyframes bounce{0%{transform:scale(1,1) translateY(0)}10%{transform:scale(1.1,.9) translateY(0)}30%{transform:scale(.9,1.1) translateY(-20px)}50%{transform:scale(1,1) translateY(0)}100%{transform:scale(1,1) translateY(0)}}.covid-radio{padding-left:20px;position:relative;line-height:15px}.covid-radio .covid-radio-label{color:#ffc44e;font-size:11px;text-transform:uppercase}.covid-radio input[type=radio]{position:absolute;opacity:0;z-index:1;left:0;top:3px;cursor:pointer;margin:0}.covid-radio input[type=radio]+.covid-radio-label:before{position:absolute;content:'';border-radius:100%;border:1px solid #ffc44e;display:inline-block;width:10px;height:10px;top:3px;vertical-align:top;cursor:pointer;text-align:center;-webkit-transition:all 250ms ease;transition:all 250ms ease;left:0}.covid-radio input[type=radio]:checked+.covid-radio-label:before{background-color:#ffc44e;box-shadow:inset 0 0 0 2px #1f2326}.corona-main-inner .c-main-r ul li span{font-size:14px;font-family:'Segoe Pro Regular'}
</style>
<div class="corona-toolbarbtn">
   <div class="toolbarbtn-l bounce"> <img src="https://images.news18.com/static_news18/pix/ibnhome/news18/images/corona-toolbar/corona-virus-btn-virus.png" alt="corona virus"> </div>
   <div class="toolbarbtn-r"> <img src="https://images.news18.com/static_news18/pix/ibnhome/news18/images/corona-toolbar/corona-virus-btn.png" alt="corona virus"> </div>
</div>
<div class="corona-toolbar">
   <div class="corona-container">
      <div class="corona-boxl">
         <div class="corona-l-r">
            <div class="virus"><img src="https://images.news18.com/static_news18/pix/ibnhome/news18/images/corona-toolbar/virus.png" alt="corona virus"></div>
            <div class="virus-text">
               <h2 class="virushead-1">CORONAVIRUS</h2>
               <h3 class="virushead-2">COVID-19 <span>Information Centre</span></h3>
               <ul>
                  <li><span>24 hrs.</span> helpline no. -</li>
                  <li><span>+91-11-23978046</span></li>
                  <li><span>24 hrs.</span> toll free no. -</li>
                  <li><span>1075</span></li>
               </ul>
            </div>
         </div>
         <div class="corona-l-r">
            <div class="note-icon"><img src="https://images.news18.com/static_news18/pix/ibnhome/news18/images/corona-toolbar/notebook-icon.png" alt="notebook-icon"></div>
            <p>
               <% var i = 0;
                  for (const [categoryData_key, categoryData_val] of Object.entries(covidCatData['CatMainRanking']['main_ranking'])) { 
                     i++;
                  if(i == 1){   
               %>
                  <a href="<%-categoryData_val.post_url %>"><%-categoryData_val.post_title %></a>
                  <% } %>
               <% } %>
            </p>
         </div>
      </div>
      <div class="corona-boxr">
         <div class="corona-header">
            <div class="cross-icon"></div>
            <ul class="coorna-tab">
               <li class="active" id="" data-tab="corona-tab1">India</li>
               <li data-tab="corona-tab2">World</li>
            </ul>
            <ul class="other-link">
               <li>
                  <a href="https://www.firstpost.com/indiagives/">
                     <div class="icon"><img width="63" height="55" src="https://images.firstpost.com/wp-content/uploads/2020/04/donation.png" alt="donation"></div>
                     <span>#INDIAGIVES</span>
                  </a>
               </li>
               <li>
                  <a href="https://www.firstpost.com/tag/coronavirus">
                     <div class="icon">
                     	<img src="https://images.firstpost.com/wp-content/uploads/2020/04/news.png" alt="">
                     </div>
                     COVID-19 NEWS
                  </a>
               </li>
               <li>
                  <a href="https://covid.bhaarat.ai/workflow" target="_blank" rel="nofollow noindex">
                     <div class="icon"><img src="https://images.news18.com/static_news18/pix/ibnhome/news18/images/corona-toolbar/symtoms-icon.png" alt="symtoms-icon"></div>
                     Symptom Checker
                  </a>
               </li>
            </ul>
         </div>
         <div id="corona-tab1" class="corona-main active">
            <div class="corona-main-inner">
               <div class="c-main-l">
                  <select class="c-main-select" id="coronoVirusStateChange">
                     <option value="Select State/UT">Select State/UT</option>
                     <% for (const [covidDataKey, covidDataVal] of Object.entries(covidData['India']['data'])) { %>
	                    <% if (covidDataVal['english'] != "India") { %>
	                     	<option value="<%-covidDataVal['english'] %>"><%-covidDataVal['english'] %></option>
	                    <% } %>  	
                     <% } %>  
                  </select>
                  <div class="covid-radio">
                     <input id="radio1" class="stateRadio" name="radio" type="radio" checked="checked" value="default">
                     <label for="radio1" class="covid-radio-label">MOHFW, India</label>
                  </div>

                  <div class="covid-radio" id="stateDepDiv">
                     <input id="radio2" class="stateRadio" name="radio" type="radio" value="state_active">
                     <label for="radio2" class="covid-radio-label" id="state_sourceLabel">Health Dep. Delhi</label>
                  </div>
                  <h3 class="c-main-l-head">India</h3>
               </div>
               <div class="c-main-r">
                  <ul>
                     <li class="active-cases" id="txtactive" name="active">
                        <h3 class="head1">Active Cases</h3>
                        <h4 class="head2"></h4>
                        <span></span>
                     </li>
                     <li class="total-confirmed" id="txtconfirmed" name="confirmed">
                        <h3 class="head1">Total Confirmed</h3>
                        <h4 class="head2"></h4>
                        <span></span>
                     </li>
                     <li class="cured" id="txtcured" name="cured">
                        <h3 class="head1">Cured/Discharged</h3>
                        <h4 class="head2"></h4>
                        <span></span>
                     </li>
                     <li class="total-deaths" id="txtdeaths" name="deaths">
                        <h3 class="head1">Total DEATHS</h3>
                        <h4 class="head2"></h4>
                        <span></span>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="corona-m-ftr">
               <div class="corona-m-box">*change over the previous day</div>
               <div class="corona-m-box"><span>Data Source:</span> <span id="IndiaTextDiv">Ministry of Health and Family Welfare, India</span></div>
               <div class="corona-m-box"><span id="UpdatedStateTimeStamp">Updated: <%= dateFormat(covidData['India']['time']['upated_time'], "mmmm dd',' yyyy HH:MM:ss") %></span></div>
               <a class="corona-hospital" href="https://covid.bhaarat.ai/testingcentres/" target="_blank" rel="nofollow noindex"><img src="https://images.news18.com/static_news18/pix/ibnhome/news18/images/corona-toolbar/hospital-icon.png" alt="hospital-icon"> Hospitals & Testing centres</a> 
            </div>
         </div>
         <div id="corona-tab2" class="corona-main">
            <div class="corona-main-inner">
               <div class="c-main-l">
                  <select class="c-main-select" id="coronoVirusCountryChange">
                     <option value="Select Country">Select Country</option>
                     <% for (const [covidDataKey, covidDataVal] of Object.entries(covidData['World']['data'])) { %>
                       <% if (covidDataVal['english'] != "World") { %>
	                     	<option value="<%-covidDataVal['english'] %>"><%-covidDataVal['english'] %></option>
	                    <% } %>     
                     <% } %> 
                  </select>
                   
                  <h3 class="c-main-l-head">World</h3>
               </div>
               <div class="c-main-r">
                  <ul>
                     <li class="active-cases" id="txtactiveworld" name="active">
                        <h3 class="head1">Active Cases</h3>
                        <h4 class="head2"></h4>
                     </li>
                     <li class="total-confirmed" id="txtconfirmedworld" name="confirmed">
                        <h3 class="head1">Total Confirmed</h3>
                        <h4 class="head2"></h4>
                        <span></span>
                     </li>
                     <li class="cured" id="txtcuredworld" name="cured">
                        <h3 class="head1">Cured/Discharged</h3>
                        <h4 class="head2"></h4>
                     </li>
                     <li class="total-deaths" id="txtdeathsworld" name="deaths">
                        <h3 class="head1">Total DEATHS</h3>
                        <h4 class="head2"></h4>
                        <span></span>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="corona-m-ftr">
               <div class="corona-m-box">*change over the previous day</div>
               <div class="corona-m-box"><span>Data Source:</span> Johns Hopkins University, U.S. (www.jhu.edu)</div>
               <div class="corona-m-box"><span>Updated: <%= dateFormat(covidData['India']['time']['upated_time'], "mmmm dd',' yyyy HH:MM:ss") %></span></div>
               <a class="corona-hospital" href="https://covid.bhaarat.ai/testingcentres/" target="_blank" rel="nofollow noindex"><img src="https://images.news18.com/static_news18/pix/ibnhome/news18/images/corona-toolbar/hospital-icon.png" alt="hospital-icon"> Hospitals & Testing centres</a> 
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
function numberFormat(x) {
	x=x.toString();
	var lastThree = x.substring(x.length-3);
	var otherNumbers = x.substring(0,x.length-3);
	if(otherNumbers != '')
	    lastThree = ',' + lastThree;
	var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
	return res;
}
$(document).ready(function(){

	//setting default country
    var defaultState = 'India';
    //var radio_type=document.querySelector('input[name="radio"]:checked').value;
    $("#stateDepDiv").hide();
    document.getElementById('radio1').checked = true;  

    var coronaVirusIndiaData = <%- JSON.stringify(covidData['India']['data']) %>;
    if(coronaVirusIndiaData !== undefined && coronaVirusIndiaData !== '' && coronaVirusIndiaData[defaultState] !== ''){
    	//$('#coronoVirusStateChange').val(defaultState);
    	//$('#coronoVirusStateChange').val('Select State/UT')
        populateStateData(defaultState);    
    }

    //state change action
    $("#coronoVirusStateChange").change(function(){
    	var selState = $('option:selected', this).val();
    	var selectedState = selState;
      var radioSelected = $('.covid-radio-label').text();
    	if(selState == 'Select State/UT'){
    		selectedState = "India"; 
    	}

         if(selectedState != "India")
         {
            $("#stateDepDiv").show();
            document.getElementById('radio1').checked = true;  
         }
         else
         {
             $("#stateDepDiv").hide();
              document.getElementById('radio1').checked = true;      
         }
      if (radioSelected.indexOf('MOHFW') > -1) {
         populateStateData(selectedState,false);
      }else{
         populateStateData(selectedState,true);   
      }
    	//populateStateData(selectedState);
    });


   $(".stateRadio").click(function(){
      var selState =$(this).next('label:first').html();
      var selectedState1 = $("#coronoVirusStateChange").val();
      if (selState.indexOf('MOHFW') > -1) {
         populateStateData(selectedState1,false);
      }else{
         populateStateData(selectedState1,true);   
      }
   });

    //common populate state data
    function populateStateData(selState,stateFlag=false){
      var coronaVirusIndiaData = <%- JSON.stringify(covidData['India']['data']) %>;
        $("#txtactive h4").text(''); 
        $("#txtactive span").text(''); 

        $("#txtconfirmed h4").text('');
        $("#txtconfirmed span").text('');

        $("#txtcured h4").text('');
        $("#txtcured span").text('');

        $("#txtdeaths h4").text('');
        $("#txtdeaths span").text('');

        if(selState != 'sel'){
        	for(var i=0;i<=coronaVirusIndiaData.length-1;i++){
        		if(coronaVirusIndiaData[i].english == selState){
               $('#state_sourceLabel').html(coronaVirusIndiaData[i].state_source);

               if(($("input[name=radio]:checked").val() == "state_active") && coronaVirusIndiaData[i].state_source!="")
               {
                   $('#IndiaTextDiv').html(coronaVirusIndiaData[i].state_source);           
               }
               else
               {
               $('#IndiaTextDiv').html('Ministry of Health and Family Welfare, India');   
               }

               if(($("input[name=radio]:checked").val() == "state_active") && coronaVirusIndiaData[i].state_timeupdated!="")
               {
               $('#UpdatedStateTimeStamp').html('Updated: '+coronaVirusIndiaData[i].state_timeupdated);
               }

               if(stateFlag)
               {
                  $("#txtactive h4").text(numberFormat(coronaVirusIndiaData[i].state_active));
                  if(Math.sign(coronaVirusIndiaData[i].active_change) == 1){
                     $("#txtactive span").text('+'+(numberFormat(coronaVirusIndiaData[i].active_change))+'*');
                  }else{
                     $("#txtactive span").text(numberFormat(coronaVirusIndiaData[i].active_change)+'*');
                  }
                  
                  $("#txtconfirmed h4").text(numberFormat(coronaVirusIndiaData[i].state_total));
                  if(Math.sign(coronaVirusIndiaData[i].total_change) == 1){
                     $("#txtconfirmed span").text('+'+(numberFormat(coronaVirusIndiaData[i].total_change))+'*');
                  }else{
                     $("#txtconfirmed span").text(numberFormat(coronaVirusIndiaData[i].total_change)+'*');
                  }

                  $("#txtcured h4").text(numberFormat(coronaVirusIndiaData[i].state_discharged));
                  if(Math.sign(coronaVirusIndiaData[i].discharged_change) == 1){
                     $("#txtcured span").text('+'+(numberFormat(coronaVirusIndiaData[i].discharged_change))+'*');
                  }else{
                     $("#txtcured span").text(numberFormat(coronaVirusIndiaData[i].discharged_change)+'*');
                  }

                  $("#txtdeaths h4").text(numberFormat(coronaVirusIndiaData[i].state_deads));
                  if(Math.sign(coronaVirusIndiaData[i].dead_change) == 1){
                     $("#txtdeaths span").text('+'+(numberFormat(coronaVirusIndiaData[i].dead_change))+'*');
                  }else{
                     $("#txtdeaths span").text(numberFormat(coronaVirusIndiaData[i].dead_change)+'*');
                  }
               }else{
                  $("#txtactive h4").text(numberFormat(coronaVirusIndiaData[i].active_case));
                  if(Math.sign(coronaVirusIndiaData[i].active_change) == 1){
                     $("#txtactive span").text('+'+(numberFormat(coronaVirusIndiaData[i].active_change))+'*');
                  }else{
                     $("#txtactive span").text(numberFormat(coronaVirusIndiaData[i].active_change)+'*');
                  }

                  $("#txtconfirmed h4").text(numberFormat(coronaVirusIndiaData[i].total_cases));
                  if(Math.sign(coronaVirusIndiaData[i].total_change) == 1){
                     $("#txtconfirmed span").text('+'+(numberFormat(coronaVirusIndiaData[i].total_change))+'*');
                  }else{
                     $("#txtconfirmed span").text(numberFormat(coronaVirusIndiaData[i].total_change)+'*');
                  }

                  $("#txtcured h4").text(numberFormat(coronaVirusIndiaData[i].total_discharge));
                  if(Math.sign(coronaVirusIndiaData[i].discharged_change) == 1){
                     $("#txtcured span").text('+'+(numberFormat(coronaVirusIndiaData[i].discharged_change))+'*');
                  }else{
                     $("#txtcured span").text(numberFormat(coronaVirusIndiaData[i].discharged_change)+'*');
                  }

                  $("#txtdeaths h4").text(numberFormat(coronaVirusIndiaData[i].total_deaths));
                  if(Math.sign(coronaVirusIndiaData[i].dead_change) == 1){
                     $("#txtdeaths span").text('+'+(numberFormat(coronaVirusIndiaData[i].dead_change))+'*');
                  }else{
                     $("#txtdeaths span").text(numberFormat(coronaVirusIndiaData[i].dead_change)+'*');
                  }
               }   
        			
        		}
        	}
        }
    }

    //setting default country
    var defaultCountry = 'World';
    var coronaVirusWorldData = <%- JSON.stringify(covidData['World']['data']) %>;
    if(coronaVirusWorldData !== undefined && coronaVirusWorldData !== '' && coronaVirusWorldData[defaultCountry] !== ''){
    	$('#coronoVirusCountryChange').val(defaultCountry);
        populateCountryData(defaultCountry);    
    }
	
	//country change action
    $("#coronoVirusCountryChange").change(function(){
    	var selCountry = $('option:selected', this).val();
    	var selectedCountry = selCountry;
    	if(selCountry == 'Select Country'){
    		selectedCountry = "World"; 
    	}
        populateCountryData(selectedCountry);
    });
    //common populate country data
    function populateCountryData(selCountry){
    	var coronaVirusWorldData = <%- JSON.stringify(covidData['World']['data']) %>;
        $("#txtactiveworld h4").text(''); 

        $("#txtconfirmedworld h4").text('');
        $("#txtconfirmedworld span").text('');

        $("#txtcuredworld h4").text('');
        $("#txtdeathsworld h4").text('');
        $("#txtdeathsworld span").text('');

        if(selCountry != 'sel'){
        	for(var i=0;i<=coronaVirusWorldData.length-1;i++){
        		//console.log("aaa=",coronaVirusWorldData[i].english);
        		if(coronaVirusWorldData[i].english == selCountry){
        			$("#txtactiveworld h4").text(numberFormat(coronaVirusWorldData[i].active_case));

               $("#txtconfirmedworld h4").text(numberFormat(coronaVirusWorldData[i].total_cases));
               if(selCountry == ''){
                  if(Math.sign(coronaVirusWorldData[i].total_today_cases) == 1){
                     $("#txtconfirmedworld span").text('+'+(numberFormat(coronaVirusWorldData[i].total_today_cases))+'*');
                  }else{
                     $("#txtconfirmedworld span").text(numberFormat(coronaVirusWorldData[i].total_today_cases)+'*');
                  }
               }else{
                  if(Math.sign(coronaVirusWorldData[i].today_cases) == 1){
                     $("#txtconfirmedworld span").text('+'+(numberFormat(coronaVirusWorldData[i].today_cases))+'*');
                  }else{
                     $("#txtconfirmedworld span").text(numberFormat(coronaVirusWorldData[i].today_cases)+'*');
                  }
               }
               
               $("#txtcuredworld h4").text(numberFormat(coronaVirusWorldData[i].total_discharge));

               $("#txtdeathsworld h4").text(numberFormat(coronaVirusWorldData[i].total_deaths));
               if(selCountry == ''){
                  if(Math.sign(coronaVirusWorldData[i].total_today_deaths) == 1){
                     $("#txtdeathsworld span").text('+'+(numberFormat(coronaVirusWorldData[i].total_today_deaths))+'*');
                  }else{
                     $("#txtdeathsworld span").text(numberFormat(coronaVirusWorldData[i].total_today_deaths)+'*');
                  }
               }else{
                  if(Math.sign(coronaVirusWorldData[i].today_deaths) == 1){
                     $("#txtdeathsworld span").text('+'+(numberFormat(coronaVirusWorldData[i].today_deaths))+'*');
                  }else{
                     $("#txtdeathsworld span").text(numberFormat(coronaVirusWorldData[i].today_deaths)+'*');
                  }  
               }  
            }
         }
      }
    }


  $(".corona-toolbarbtn").click(function(){
    $(".corona-toolbar").slideToggle();
  });
	$(".cross-icon").click(function(){
    $(".corona-toolbar").slideToggle();
  });
  $(".covid-tracker").click(function(){
   $(".corona-toolbar").slideToggle();
   });
	$('.coorna-tab li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('.coorna-tab li').removeClass('active');
		$('.corona-main').removeClass('active');

		if(tab_id == 'corona-tab1'){
			$('#coronoVirusStateChange').val('Select State/UT')
         $("#stateDepDiv").hide();
         document.getElementById('radio1').checked = true;  
			populateStateData('India'); 
		}else if(tab_id == 'corona-tab2'){
			$('#coronoVirusCountryChange').val('Select Country')
			populateCountryData('World'); 
		}

		$('#corona-tab2 ul').val();

		$(this).addClass('active');
		$("#"+tab_id).addClass('active');
	});

});

</script>