<!--floating social icons-->
<div class="floating-social-div" id="floating_<%-postPageJson['post']['ID']%>">
    <ul>
        <li>
            <a href="javascript:void(0);" class="bg-wapp whatsapp shareicon" title="<%-shareArr.shareTitle %>"  data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="whatsapp">    
                
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="bg-fb facebook shareicon" title="<%-shareArr.shareTitle %>"  data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="facebook">
                
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="bg-tw twitter shareicon" title="<%-shareArr.shareTitle %>"  data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="twitter">
                
            </a>
        </li>
        <li>
            <a href="mailto:?subject=<%-shareArr.shareTitle %>&amp;body=<%-shareArr.shareUrl %>" title="<%-shareArr.shareTitle %>" class="bg-mail mail">
                
            </a>
        </li>
        <li>
            <a href="/" title="Home" class="bg-hp home">                
           
            </a>
        </li>
    </ul>
</div>
<!--floating social icons-->