<div class="social-share-tbl">
    <ul class="horizontal-share">
        <li>
            <a href="javascript:void(0);" class="tw sc-icon shareicon" title="<%-shareArr.shareTitle %>" data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="twitter">
                <svg id="" data-name="Layer 1" viewBox="0 0 24 24"><defs></defs><g id="" data-name="Group 2"><g id="" data-name="Ellipse 31"><circle style="fill:#fff;" cx="12" cy="12" r="12"></circle><circle style="fill:none;stroke:#585858;" cx="12" cy="12" r="11.5"></circle></g><path id="" data-name="Icon feather-twitter" style="fill:none;stroke:#585858;stroke-linecap:round;stroke-linejoin:round;" d="M234.56,364.21a7,7,0,0,1-2,1,2.93,2.93,0,0,0-5.13,2v.65a7,7,0,0,1-5.87-3s-2.6,5.87,3.26,8.48a7.54,7.54,0,0,1-4.56,1.3c5.87,3.26,13,0,13-7.5a3.29,3.29,0,0,0,0-.54A5.06,5.06,0,0,0,234.56,364.21Z" transform="translate(-215.48 -358.52)"></path></g></svg>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="fb sc-icon shareicon" title="<%-shareArr.shareTitle %>" data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="facebook">
                <svg id="" data-name="Layer 1" viewBox="0 0 24 24"><defs></defs><g id="" data-name="Group 7"><g id="" data-name="Ellipse 32"><circle style="fill:#fff;" cx="12" cy="12" r="12"></circle><circle style="fill:none;stroke:#585858;" cx="12" cy="12" r="11.5"></circle></g><path id="" data-name="Icon feather-facebook" style="fill:none;stroke:#585858;stroke-linecap:round;stroke-linejoin:round;" d="M231.92,362.94h-2.27a3.79,3.79,0,0,0-3.79,3.79V369h-2.28v3h2.28v6.06h3V372h2.27l.76-3h-3v-2.27a.76.76,0,0,1,.76-.76h2.27Z" transform="translate(-215.48 -358.52)"></path></g></svg>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="in sc-icon shareicon" title="<%-shareArr.shareTitle %>" data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="whatsapp">
                <svg id="" data-name="Layer 1" viewBox="0 0 24 24"><g id="" data-name="Group 5"><g id="" data-name="Ellipse 36"><circle style="fill:#fff;" cx="12" cy="12" r="12"></circle><circle style="fill:none;stroke:#585858;" cx="12" cy="12" r="11.5"></circle></g><path id="" data-name="Icon awesome-whatsapp" style="fill:#585858;" d="M233.1,365.51a6.77,6.77,0,0,0-10.66,8.17l-1,3.51,3.59-.95a6.68,6.68,0,0,0,3.24.83h0a6.83,6.83,0,0,0,6.83-6.77A6.75,6.75,0,0,0,233.1,365.51Zm-4.79,10.42a5.59,5.59,0,0,1-2.87-.79l-.2-.12-2.13.56.57-2.08-.13-.21a5.64,5.64,0,1,1,9.64-5.86,5.79,5.79,0,0,1,.82,2.87A5.7,5.7,0,0,1,228.31,375.93Zm3.09-4.22c-.17-.08-1-.49-1.16-.55s-.27-.08-.38.09a8,8,0,0,1-.54.66c-.1.12-.2.13-.36,0a4.54,4.54,0,0,1-2.3-2c-.18-.3.17-.28.5-.92a.32.32,0,0,0,0-.3l-.52-1.26c-.14-.34-.28-.28-.38-.29h-.33a.6.6,0,0,0-.45.21,1.89,1.89,0,0,0-.59,1.41,3.27,3.27,0,0,0,.68,1.75,7.61,7.61,0,0,0,2.9,2.56,3.33,3.33,0,0,0,2,.42,1.71,1.71,0,0,0,1.14-.8,1.4,1.4,0,0,0,.1-.81C231.68,371.84,231.57,371.79,231.4,371.71Z" transform="translate(-215.48 -358.52)"></path></g></svg>
            </a>
        </li>
    </ul>
</div>