<ul class="inner-share">
    <li>
        <a href="javascript:void(0);" class="fb sc-icon shareicon" title="<%-shareArr.shareTitle %>"
            data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="facebook">
            <svg width="30" height="30" viewBox="0 0 30 30">
                <g id="" data-name="Group 1199" transform="translate(-290 -78)">
                  <rect id="" data-name="Rectangle 702" width="30" height="30" rx="15" transform="translate(290 78)" fill="#4968ab"/>
                  <path id="" data-name="Icon feather-facebook" d="M18,3H15.954a3.409,3.409,0,0,0-3.409,3.409V8.454H10.5v2.727h2.045v5.454h2.727V11.181h2.045L18,8.454H15.272V6.409a.682.682,0,0,1,.682-.682H18Z" transform="translate(290.563 83.333)" fill="#fff"/>
                </g>
              </svg>
              
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" class="tw sc-icon shareicon" title="<%-shareArr.shareTitle %>"
            data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="twitter">
            <svg width="30" height="30" viewBox="0 0 30 30">
                <g id="" data-name="Group 1200" transform="translate(-296 -132)">
                  <rect id="" data-name="Rectangle 703" width="30" height="30" rx="15" transform="translate(296 132)" fill="#01b0ef"/>
                  <path id="" data-name="Icon feather-twitter" d="M15.839,4.491a7.1,7.1,0,0,1-2.047,1A2.92,2.92,0,0,0,8.67,7.444V8.1A6.948,6.948,0,0,1,2.8,5.143S.2,11.009,6.062,13.616A7.587,7.587,0,0,1,1.5,14.92c5.866,3.259,13.036,0,13.036-7.5a2.933,2.933,0,0,0-.052-.541A5.032,5.032,0,0,0,15.839,4.491Z" transform="translate(302.5 136.515)" fill="#fff"/>
                </g>
              </svg>              
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" class="wa sc-icon shareicon" title="<%-shareArr.shareTitle %>"
            data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="whatsapp">
            <svg width="30" height="30" viewBox="0 0 30 30">
                <g id="" data-name="Group 1201" transform="translate(-290 -45)">
                  <rect id="" data-name="Rectangle 704" width="30" height="30" rx="15" transform="translate(290 45)" fill="#2cb742"/>
                  <path id="" data-name="Icon ionic-logo-whatsapp" d="M9.384,2.25A6.854,6.854,0,0,0,2.5,9.077,6.756,6.756,0,0,0,3.492,12.6L2.25,16.264l3.809-1.21A6.892,6.892,0,0,0,16.264,9.077,6.853,6.853,0,0,0,9.384,2.25Zm3.421,9.419a1.777,1.777,0,0,1-1.217.784c-.323.017-.332.25-2.091-.514A7.178,7.178,0,0,1,6.6,9.2a3.374,3.374,0,0,1-.649-1.829,1.949,1.949,0,0,1,.67-1.43.674.674,0,0,1,.476-.2c.139,0,.228,0,.331,0s.256-.021.389.333.452,1.225.493,1.314a.319.319,0,0,1,0,.306,1.2,1.2,0,0,1-.186.284c-.092.1-.193.22-.275.3s-.187.174-.091.353a5.265,5.265,0,0,0,.932,1.243,4.8,4.8,0,0,0,1.379.917c.173.094.275.084.382-.029s.458-.493.582-.662.24-.137.4-.073,1.006.518,1.179.612.288.142.329.216A1.445,1.445,0,0,1,12.805,11.669Z" transform="translate(295.783 50.683)" fill="#fff"/>
                </g>
              </svg>
              
        </a>
    </li>
    <li>
        <a href="mailto:?subject=<%-shareArr.shareTitle %>&amp;body=<%-shareArr.shareUrl %>" class="mail sc-icon" title="<%-shareArr.shareTitle %>"
            data-url="<%-shareArr.shareUrl %>" data-title="<%-shareArr.shareTitle %>" data-sitename="Email">
            <svg width="30" height="30" viewBox="0 0 30 30">
                <g id="" data-name="Group 1202" transform="translate(-296 -166)">
                  <rect id="" data-name="Rectangle 706" width="30" height="30" rx="15" transform="translate(296 166)" fill="#df5b43"/>
                  <path id="" data-name="Icon material-email" d="M13.567,6H4.174A1.173,1.173,0,0,0,3.006,7.174L3,14.219a1.178,1.178,0,0,0,1.174,1.174h9.393a1.178,1.178,0,0,0,1.174-1.174V7.174A1.178,1.178,0,0,0,13.567,6Zm0,2.348-4.7,2.935-4.7-2.935V7.174l4.7,2.935,4.7-2.935Z" transform="translate(302 170)" fill="#fff"/>
                </g>
              </svg>
              
        </a>
    </li>
</ul>