<style>
.blog-author-div .blog-auth-img {
    margin: 0 10px 0 0;
    width: 10%;
}
.blog-author-div .blog-auth-img img {
    border-radius: 100%;
    width: 100%;
}
ul.tabs{
margin: 0px;
padding: 0px;
list-style: none;
display: flex;
align-items: center;
justify-content: flex-start;
}
ul.tabs li a{
font: 400 12px/15px Arial;
letter-spacing: 0;
color: #000;
display: inline-block;
padding: 10px 34px 15px;
background: linear-gradient(180deg,#fff 0 87%,grey 200%) no-repeat;
border-width: 1px 1px 1px 0;
border-style: solid;
border-color: #E2E2E2;
white-space: nowrap;
}
ul.tabs li a:first-child{
border-left: 1px solid #E2E2E2;
}
ul.tabs li.current a{
color: #DF5A43;
font-weight: 700;
font-size: 16px;
padding: 21px 33px 32px;
height: 32px;
position: relative;
top: -7px;
}
.tab-content{
display: none;
}
.tab-content.current{
display: inherit;
}
</style>
<div class="main-highlight">
    <div class="hghlight-img">
        <img src="<%-postPageJson.post.post_image%>" alt="<%-postPageJson.post.post_title%>" title="<%-postPageJson.post.post_title%>" />
    </div>
    <h1 class="hghlight-txt">
         <%-postPageJson['post']['post_title'] %>
    </h1>
</div>
<div class="live-highlights">
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1"><a>Live Updates</a></li>
      <li class="tab-link" data-tab="tab-2"><a>Highlights</a></li>
    </ul>
<div id="tab-1" class="tab-content current">

<input type="hidden" id="post_title" value="<%-postPageJson.post.post_title %>" />
<input type="hidden" id="post_url" value="<%-postPageJson.post.post_url %>" />
<input type="hidden" id="commUrl" value="<%-commUrl%>" />
<input type="hidden" id="togBtn" value="1" />
<div class="timelineContent" id="blogDivScroll">
<div class="detail-highlight refresh-live-blog live-blog" data-live-blog-id="<%-liveBlogKey %>" data-live-blog-page = "1" itemtype="http://schema.org/LiveBlogPosting" itemprop="liveBlogUpdate" itemscope="itemscope" data-shareTitle="<%-shareArr.shareTitle %>" data-shareUrl="<%-shareArr.shareUrl %>">
    <meta itemprop="headline" content="<%- seoData['metaTitle'] %>"/>
	<meta itemprop="coverageStartTime" content="<%-dateFormat(postPageJson.post.post_date,"yyyy-mm-dd") %>T<%-dateFormat(postPageJson.post.post_date,"HH:MM:ss") %>+05:30">
	<meta itemprop="coverageEndTime" content="<%-dateFormat(coverageEndTime,"yyyy-mm-dd") %>T<%-dateFormat(coverageEndTime,"HH:MM:ss") %>+05:30">
    <meta itemprop="author" content="Firstpost">
	<meta itemprop="url" content="<%-postPageJson.post.post_url %>">
    <meta itemprop="description" content="<%-postPageJson.post.post_excerpt.replace(/"/g,"`") %>">
    <meta itemprop="datePublished" content="<%-dateFormat(postPageJson.post.post_modified,"yyyy-mm-dd") %>T<%-dateFormat(postPageJson.post.post_modified,"HH:MM:ss") %>+05:30">
    <meta itemprop="dateModified" content="<%-dateFormat(postPageJson.post.post_modified,"yyyy-mm-dd") %>T<%-dateFormat(postPageJson.post.post_modified,"HH:MM:ss") %>+05:30">
    <meta itemprop="about" content="SportsEvent">
	<% for (const [key, item] of Object.entries(liveBlog.data)) { %>
	<% striptagtitle = striptags(item.post.title) %> 
	<% filteredDate = item['time'].substring(0,8) %> 
	<% blogDate = filteredDate.substring(6, 8)+"-"+filteredDate.substring(4, 6) +"-"+filteredDate.substring(0, 4) %>
	<% blogDateTimeSchema = item['time'].substring(6, 8)+"-"+item['time'].substring(4, 6) +"-"+item['time'].substring(0, 4) +"T"+ item['time'].substring(8, 10) +":"+ item['time'].substring(10, 12) +":"+ item['time'].substring(12, 14) %>
	<% filteredTime = item['time'].substring(8) %> 
    <div class="blog-entry-wrap timeline-content" data-id="live-blog-<%-item.time %>" itemtype="https://schema.org/BlogPosting" itemprop="liveBlogUpdate" itemscope="itemscope">
        <div class="blog-inner-wrap"  itemprop="articleBody">
            <div class="h-timestamp">
                <h6 class="time-txt"><%-filteredTime.substring(0, 2) %>:<%-filteredTime.substring(2, 4) %> <span>(IST)</span></h6>
            </div>
            <div class="blog-txt">
            	<time itemprop="datePublished" datetime="<%-blogDateTimeSchema %>+05:30"></time>
			        <time itemprop="url" content="<%-postPageJson.post.post_url %>#<%-item.time %>"></time>
			        <span itemscope="itemscope" itemprop="author" itemtype="http://schema.org/Person">
				        <meta content="https://www.firstpost.com/" itemprop="sameAs">
				        <meta content="firstpost.com" itemprop="name">
				     </span>

				     <% if(item.post.image_path != '') { %>
				        <span itemtype="https://schema.org/ImageObject" itemscope="itemscope" itemprop="image">
				            <meta itemprop="url" content="<%-item.post.image_path %>">
				            <meta content="480" itemprop="width"><meta content="267" itemprop="height">
				        </span>
			        <% } else { %>	
				        <span itemtype="https://schema.org/ImageObject" itemscope="itemscope" itemprop="image">
					        <meta itemprop="url" content="<%-constant.IMG_URL %>wp-content/uploads/FP-LiveCoverage-Box.jpg">
					        <meta content="480" itemprop="width"><meta content="267" itemprop="height">
					    </span>
			        <% } %>	
			        <span itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher">
			            <span itemtype="https://schema.org/ImageObject" itemscope="itemscope" itemprop="logo">
			                <meta content="<%-constant.IMG_URL %>wp-content/uploads/fp/fp-logowhite.png" itemprop="url">
			            </span>
			            <meta content="Firstpost" itemprop="name">
			        </span>
			        <meta itemprop="mainEntityOfPage" content="<%-postPageJson.post.post_url %>">
			        <meta itemprop="dateModified" content="<%-blogDateTimeSchema %>+05:30">
			        <% /*if(typeof item.post.title !== 'undefined' || striptagtitle == '') { %>
			        	<meta itemprop="headline" content="<%=striptagtitle.substring(0,52) %>..<%=striptagtitle.substring((striptagtitle.length-54),(striptagtitle.length)) %>">
			        <% } else {*/ %>
			        	<meta itemprop="headline" content="<%=striptagtitle.substring(0,52) %>..<%=striptagtitle.substring((striptagtitle.length-54),(striptagtitle.length)) %>">
			        <% //} %>

            	<% if (typeof item.post.img !== "undefined" && item.post.img != ""){ %>
            	<div class="blog-img">
                    <img src="<%-constant.IMG_URL %>wp-content/uploads/firstcricket/milestones/2020/<%-item.post.img %>.png" title="<%-item.post.img %>" alt="<%-item.post.img %>"/>
                </div>
                <% } %>
                <div class="blog-txt-wrap">
                    <%-item.post.title %>

                    <% if (item.post.image_path != "") { %>
                        <img class="timeline-image" src="<%-item.post.image_path %>" />
                    <% } %> 

                    <% if (item.post.data_type != 'new_embedded' && (typeof item['post']['source'] !== 'undefined' && striptags(item['post']['source']).indexOf('embed') > -1)) { %>
                        <iframe class="embed-responsive-item" src="<%-item.post.source %>"></iframe>
                    <% } else if(item.post.source != null) { %> 
                        <p class="blog-source"><%-item.post.source %></p>
                    <% } %>
                </div>
                
            </div>                                
            <div class="blog-author-div">
                <% if (item.author_image != null) { %>
                <div class="blog-auth-img">
                    <img src="<%-item.author_image %>">
                </div>
                <% } %>
                <div class="blog-auth-details">
                    <% if (item.author_name != "") { %>
                    <h4 class="auth-blog-name">
                        <%-item.author_name %>
                    </h4>
                    <div class="time-stamp">
                        <%-filteredTime.substring(0, 2) %>:<%-filteredTime.substring(2, 4) %> <span>(IST)</span>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="blog-btn-div">
            	<% if ( typeof fullUrl !== 'undefined' && fullUrl != ""){ %> 
                <div class="full-score-btn">
                    <a href="<%-fullUrl%>" title="Full Scorecard">
                        Full Scorecard
                    </a>
                </div>
                <% } %>
                <div class="blog-share">
                    <div class="share-wrap">
                        <%- include(viewpath+ '/widgets/popup_social_share_widget'); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<% if (liveBlog.count.count > 10) { %>
<div class="btn-panel clearfix upload-btn-fp"><a id="live-blog-update" href="javascript:void(0);" class="link">Load More</a></div>
<% } %>
</div>
</div>
<div id="tab-2" class="tab-content">
    <div class="highlight-section">
        <div class="hghlight-title-div">
            <h2 class="highlight-title">
                Highlights
            </h2>
            <img src="<%-constant.SITE_URL %>static/images/cricket/title-img.png" alt="title-img" />
            <div class="ball-svg">
                <svg height="6" viewBox="0 0 382.04857 382" width="6" fill="#727C8E"><path d="m321.050781 51.128906c-75.28125-69.972656-192.429687-67.832031-265.105469 4.839844-72.675781 72.675781-74.8125 189.824219-4.839843 265.105469zm-223.679687 207.621094-11.523438 11.527344c-2.734375 2.734375-7.167968 2.734375-9.902344 0-2.734374-2.734375-2.734374-7.167969 0-9.902344l11.527344-11.523438c2.734375-2.734374 7.167969-2.734374 9.898438 0 2.734375 2.734376 2.734375 7.164063 0 9.898438zm28.8125-28.8125-11.523438 11.523438c-2.734375 2.734374-7.164062 2.734374-9.898437 0-2.734375-2.734376-2.734375-7.167969 0-9.898438l11.523437-11.527344c2.734375-2.734375 7.167969-2.734375 9.902344 0 2.730469 2.734375 2.730469 7.167969 0 9.902344zm28.8125-28.8125-11.523438 11.527344c-2.734375 2.734375-7.167968 2.734375-9.902344 0-2.730468-2.734375-2.730468-7.167969 0-9.902344l11.527344-11.523438c2.734375-2.734374 7.164063-2.734374 9.898438 0 2.734375 2.734376 2.734375 7.164063 0 9.898438zm28.816406-28.8125-11.527344 11.523438c-2.730468 2.734374-7.164062 2.734374-9.898437 0-2.734375-2.734376-2.734375-7.167969 0-9.902344l11.527343-11.523438c2.734376-2.734375 7.164063-2.734375 9.898438 0s2.734375 7.164063 0 9.898438zm28.8125-28.816406-11.523438 11.527344c-2.734374 2.730468-7.167968 2.730468-9.902343 0-2.730469-2.734376-2.730469-7.167969 0-9.902344l11.527343-11.523438c2.734376-2.734375 7.167969-2.734375 9.898438 0 2.734375 2.734375 2.734375 7.164063 0 9.898438zm28.816406-28.8125-11.527344 11.527344c-2.734374 2.730468-7.164062 2.730468-9.898437 0-2.734375-2.734376-2.734375-7.167969 0-9.902344l11.523437-11.527344c2.734376-2.730469 7.167969-2.730469 9.902344 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.8125-28.8125-11.527344 11.523437c-2.734374 2.734375-7.164062 2.734375-9.898437 0-2.734375-2.730469-2.734375-7.164062 0-9.898437l11.523437-11.527344c2.734376-2.734375 7.167969-2.734375 9.898438 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.171875-38.070313c2.734375 2.730469 2.734375 7.164063 0 9.898438l-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.902344 0-2.730469-2.734375-2.730469-7.164062 0-9.898437l11.527344-11.523438c2.734375-2.734375 7.164062-2.734375 9.898437 0zm-38.710937-5.765625 11.519531-11.523437c2.734375-2.734375 7.167969-2.734375 9.898437 0 2.734376 2.734375 2.734376 7.164062 0 9.898437l-11.523437 11.527344c-2.734375 2.734375-7.164063 2.734375-9.898437 0-2.734376-2.734375-2.734376-7.167969 0-9.902344zm-28.171875 28.175782 11.523437-11.527344c2.734375-2.734375 7.164063-2.734375 9.898438 0s2.734375 7.167968 0 9.902344l-11.523438 11.523437c-2.734375 2.734375-7.167968 2.734375-9.902344 0-2.730468-2.734375-2.730468-7.167969 0-9.898437zm-28.816407 28.8125 11.527344-11.527344c2.734375-2.734375 7.164063-2.734375 9.898438 0s2.734375 7.167968 0 9.902344l-11.527344 11.523437c-2.730469 2.734375-7.164062 2.734375-9.898438 0-2.734374-2.734375-2.734374-7.167969 0-9.902344zm-28.8125 28.8125 11.523438-11.527344c2.734375-2.730469 7.167969-2.730469 9.898438 0 2.734374 2.734375 2.734374 7.167968 0 9.902344l-11.523438 11.523437c-2.734375 2.734375-7.164062 2.734375-9.898438 0-2.734374-2.730469-2.734374-7.164063 0-9.898437zm-28.816406 28.816406 11.527344-11.53125c2.734375-2.730469 7.167969-2.730469 9.902344 0 2.734375 2.734375 2.734375 7.167968 0 9.902344l-11.527344 11.527343c-2.734375 2.734375-7.167969 2.734375-9.902344 0s-2.734375-7.164062 0-9.898437zm-28.8125 28.808594 11.523438-11.523438c2.734375-2.734375 7.167968-2.734375 9.902344 0 2.734374 2.730469 2.734374 7.164062 0 9.898438l-11.527344 11.523437c-2.734375 2.734375-7.164063 2.734375-9.898438 0-2.734375-2.730469-2.734375-7.164063 0-9.898437zm-28.8125 28.8125 11.523438-11.523438c2.734375-2.734375 7.167968-2.734375 9.902344 0 2.734374 2.734375 2.734374 7.167969 0 9.902344l-11.527344 11.523437c-2.730469 2.734375-7.164063 2.734375-9.898438 0s-2.734375-7.164062 0-9.898437zm-28.8125 28.8125 11.523438-11.523438c2.734375-2.734375 7.167968-2.734375 9.898437 0 2.734375 2.734375 2.734375 7.164062 0 9.898438l-11.523437 11.527343c-2.734375 2.734375-7.167969 2.734375-9.902344 0-2.730469-2.734375-2.730469-7.167969 0-9.898437zm-23.222656 40.125c-2.832031 0-5.386719-1.707032-6.46875-4.320313-1.085938-2.617187-.484375-5.628906 1.515625-7.628906l11.527344-11.527344c2.734375-2.734375 7.164062-2.734375 9.898437 0s2.734375 7.167969 0 9.902344l-11.527344 11.523437c-1.308593 1.3125-3.089843 2.050782-4.945312 2.050782zm12.335938 5.335937 11.523437-11.523437c2.734375-2.734376 7.167969-2.734376 9.902344 0 2.734375 2.730468 2.734375 7.164062 0 9.898437l-11.527344 11.527344c-2.730469 2.734375-7.164063 2.734375-9.898437 0-2.734376-2.730469-2.734376-7.164063 0-9.898438zm0 0"/><path d="m61.003906 330.972656c75.277344 69.96875 192.425782 67.824219 265.09375-4.851562 72.679688-72.667969 74.820313-189.820313 4.851563-265.097656zm223.679688-207.621094 11.523437-11.527343c2.734375-2.730469 7.167969-2.730469 9.902344 0 2.730469 2.734375 2.730469 7.167969 0 9.902343l-11.527344 11.523438c-2.734375 2.734375-7.167969 2.734375-9.902343 0-2.734376-2.734375-2.734376-7.164062 0-9.898438zm-28.816406 28.8125 11.527343-11.523437c2.730469-2.734375 7.164063-2.734375 9.898438 0 2.734375 2.730469 2.734375 7.164063 0 9.898437l-11.523438 11.523438c-2.734375 2.734375-7.167969 2.734375-9.902343 0-2.734376-2.730469-2.734376-7.164062 0-9.898438zm-28.8125 28.8125 11.527343-11.527343c2.734375-2.730469 7.164063-2.730469 9.898438 0 2.734375 2.734375 2.734375 7.167969 0 9.902343l-11.523438 11.523438c-2.734375 2.734375-7.167969 2.734375-9.898437 0-2.734375-2.734375-2.734375-7.164062 0-9.898438zm-28.8125 28.8125 11.523437-11.523437c2.734375-2.734375 7.167969-2.734375 9.902344 0s2.734375 7.164063 0 9.898437l-11.527344 11.527344c-2.734375 2.734375-7.167969 2.734375-9.898437 0-2.734376-2.734375-2.734376-7.167968 0-9.898437zm-28.816407 28.816407 11.527344-11.527344c2.734375-2.730469 7.164063-2.730469 9.898437 0 2.734376 2.734375 2.734376 7.167969 0 9.902344l-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.902344 0s-2.734375-7.164062 0-9.898437zm-28.8125 28.8125 11.527344-11.523438c2.730469-2.734375 7.164063-2.734375 9.898437 0 2.734376 2.730469 2.734376 7.164063 0 9.898438l-11.527343 11.527343c-2.734375 2.734376-7.164063 2.734376-9.898438 0-2.734375-2.734374-2.734375-7.167968 0-9.902343zm-28.808593 28.8125 11.523437-11.523438c2.734375-2.734375 7.164063-2.734375 9.898437 0 2.734376 2.734375 2.734376 7.164063 0 9.898438l-11.523437 11.527343c-2.734375 2.730469-7.164063 2.730469-9.898437 0-2.734376-2.734374-2.734376-7.167968 0-9.902343zm-23.222657 40.121093c-2.832031 0-5.386719-1.707031-6.46875-4.320312-1.082031-2.617188-.484375-5.628906 1.515625-7.628906l11.527344-11.527344c2.734375-2.734375 7.164062-2.734375 9.898438 0 2.734374 2.734375 2.734374 7.167969 0 9.902344l-11.527344 11.527344c-1.3125 1.3125-3.089844 2.046874-4.945313 2.046874zm33.761719 3.710938-11.523438 11.527344c-2.734374 2.734375-7.167968 2.734375-9.902343 0s-2.734375-7.164063 0-9.898438l11.527343-11.527344c2.730469-2.734374 7.164063-2.734374 9.898438 0 2.734375 2.734376 2.734375 7.167969 0 9.902344zm28.171875-28.171875-11.523437 11.523437c-2.734376 2.734376-7.167969 2.734376-9.902344 0-2.730469-2.734374-2.730469-7.164062 0-9.898437l11.527344-11.527344c2.734374-2.730469 7.164062-2.730469 9.898437 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.8125-28.8125-11.527344 11.527344c-2.734375 2.734375-7.167969 2.734375-9.898437 0-2.734375-2.734375-2.734375-7.167969 0-9.902344l11.523437-11.523437c2.734375-2.734376 7.167969-2.734376 9.902344 0 2.734375 2.734374 2.734375 7.167968 0 9.902343zm28.8125-28.8125-11.523437 11.527344c-2.734376 2.734375-7.167969 2.734375-9.902344 0s-2.734375-7.167969 0-9.902344l11.527344-11.523437c2.730468-2.734376 7.164062-2.734376 9.898437 0 2.734375 2.734374 2.734375 7.164062 0 9.898437zm28.816406-28.816406-11.53125 11.53125c-2.734375 2.730469-7.164062 2.730469-9.898437 0-2.734375-2.734375-2.734375-7.167969 0-9.902344l11.527344-11.527344c2.734374-2.734375 7.167968-2.734375 9.898437 0 2.734375 2.734375 2.734375 7.167969 0 9.898438zm28.8125-28.8125-11.527343 11.527343c-2.730469 2.734376-7.164063 2.734376-9.898438 0-2.734375-2.734374-2.734375-7.167968 0-9.902343l11.527344-11.523438c2.734375-2.734375 7.164062-2.734375 9.898437 0s2.734375 7.164063 0 9.898438zm28.8125-28.8125-11.527343 11.527343c-2.734376 2.734376-7.164063 2.734376-9.898438 0-2.734375-2.734374-2.734375-7.167968 0-9.902343l11.523438-11.523438c2.734374-2.734375 7.167968-2.734375 9.902343 0s2.734375 7.164063 0 9.898438zm28.8125-28.8125-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.902344 0-2.734375-2.730468-2.734375-7.164062 0-9.898437l11.527344-11.527344c2.734375-2.730469 7.164062-2.730469 9.898437 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.171875-38.070313c2.734375 2.730469 2.734375 7.164063 0 9.898438l-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.898438 0-2.734375-2.730469-2.734375-7.164062 0-9.898437l11.523438-11.523438c2.734375-2.734375 7.167969-2.734375 9.898437 0zm-17.285156-7.390625-11.527344 11.527344c-2.734375 2.734375-7.164062 2.734375-9.898437 0s-2.734375-7.167969 0-9.902344l11.523437-11.523437c2.734375-2.734375 7.167969-2.734375 9.902344 0 2.730469 2.734375 2.730469 7.164062 0 9.898437zm0 0"/></svg>
            </div>
        </div>

        <div class="highlight-flex refresh-highlight-blog">
            <% for (const [key, item] of Object.entries(liveBlog.kf)) { %>
            <% if (item.title != null) { %>
            <div class="highlight-block">
                <a href="#live-blog-<%-item['date']%>" class="clearfix">
                <div class="h-timestamp">
                    <% filteredTime = item['date'].substring(8) %> 
                    <h6 class="time-txt"><%-filteredTime.substring(0, 2) %>:<%-filteredTime.substring(2, 4) %> <span>(IST)</span></h6>
                    <svg height="22" viewBox="0 0 382.04857 382" width="22" fill="#000"><path d="m321.050781 51.128906c-75.28125-69.972656-192.429687-67.832031-265.105469 4.839844-72.675781 72.675781-74.8125 189.824219-4.839843 265.105469zm-223.679687 207.621094-11.523438 11.527344c-2.734375 2.734375-7.167968 2.734375-9.902344 0-2.734374-2.734375-2.734374-7.167969 0-9.902344l11.527344-11.523438c2.734375-2.734374 7.167969-2.734374 9.898438 0 2.734375 2.734376 2.734375 7.164063 0 9.898438zm28.8125-28.8125-11.523438 11.523438c-2.734375 2.734374-7.164062 2.734374-9.898437 0-2.734375-2.734376-2.734375-7.167969 0-9.898438l11.523437-11.527344c2.734375-2.734375 7.167969-2.734375 9.902344 0 2.730469 2.734375 2.730469 7.167969 0 9.902344zm28.8125-28.8125-11.523438 11.527344c-2.734375 2.734375-7.167968 2.734375-9.902344 0-2.730468-2.734375-2.730468-7.167969 0-9.902344l11.527344-11.523438c2.734375-2.734374 7.164063-2.734374 9.898438 0 2.734375 2.734376 2.734375 7.164063 0 9.898438zm28.816406-28.8125-11.527344 11.523438c-2.730468 2.734374-7.164062 2.734374-9.898437 0-2.734375-2.734376-2.734375-7.167969 0-9.902344l11.527343-11.523438c2.734376-2.734375 7.164063-2.734375 9.898438 0s2.734375 7.164063 0 9.898438zm28.8125-28.816406-11.523438 11.527344c-2.734374 2.730468-7.167968 2.730468-9.902343 0-2.730469-2.734376-2.730469-7.167969 0-9.902344l11.527343-11.523438c2.734376-2.734375 7.167969-2.734375 9.898438 0 2.734375 2.734375 2.734375 7.164063 0 9.898438zm28.816406-28.8125-11.527344 11.527344c-2.734374 2.730468-7.164062 2.730468-9.898437 0-2.734375-2.734376-2.734375-7.167969 0-9.902344l11.523437-11.527344c2.734376-2.730469 7.167969-2.730469 9.902344 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.8125-28.8125-11.527344 11.523437c-2.734374 2.734375-7.164062 2.734375-9.898437 0-2.734375-2.730469-2.734375-7.164062 0-9.898437l11.523437-11.527344c2.734376-2.734375 7.167969-2.734375 9.898438 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.171875-38.070313c2.734375 2.730469 2.734375 7.164063 0 9.898438l-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.902344 0-2.730469-2.734375-2.730469-7.164062 0-9.898437l11.527344-11.523438c2.734375-2.734375 7.164062-2.734375 9.898437 0zm-38.710937-5.765625 11.519531-11.523437c2.734375-2.734375 7.167969-2.734375 9.898437 0 2.734376 2.734375 2.734376 7.164062 0 9.898437l-11.523437 11.527344c-2.734375 2.734375-7.164063 2.734375-9.898437 0-2.734376-2.734375-2.734376-7.167969 0-9.902344zm-28.171875 28.175782 11.523437-11.527344c2.734375-2.734375 7.164063-2.734375 9.898438 0s2.734375 7.167968 0 9.902344l-11.523438 11.523437c-2.734375 2.734375-7.167968 2.734375-9.902344 0-2.730468-2.734375-2.730468-7.167969 0-9.898437zm-28.816407 28.8125 11.527344-11.527344c2.734375-2.734375 7.164063-2.734375 9.898438 0s2.734375 7.167968 0 9.902344l-11.527344 11.523437c-2.730469 2.734375-7.164062 2.734375-9.898438 0-2.734374-2.734375-2.734374-7.167969 0-9.902344zm-28.8125 28.8125 11.523438-11.527344c2.734375-2.730469 7.167969-2.730469 9.898438 0 2.734374 2.734375 2.734374 7.167968 0 9.902344l-11.523438 11.523437c-2.734375 2.734375-7.164062 2.734375-9.898438 0-2.734374-2.730469-2.734374-7.164063 0-9.898437zm-28.816406 28.816406 11.527344-11.53125c2.734375-2.730469 7.167969-2.730469 9.902344 0 2.734375 2.734375 2.734375 7.167968 0 9.902344l-11.527344 11.527343c-2.734375 2.734375-7.167969 2.734375-9.902344 0s-2.734375-7.164062 0-9.898437zm-28.8125 28.808594 11.523438-11.523438c2.734375-2.734375 7.167968-2.734375 9.902344 0 2.734374 2.730469 2.734374 7.164062 0 9.898438l-11.527344 11.523437c-2.734375 2.734375-7.164063 2.734375-9.898438 0-2.734375-2.730469-2.734375-7.164063 0-9.898437zm-28.8125 28.8125 11.523438-11.523438c2.734375-2.734375 7.167968-2.734375 9.902344 0 2.734374 2.734375 2.734374 7.167969 0 9.902344l-11.527344 11.523437c-2.730469 2.734375-7.164063 2.734375-9.898438 0s-2.734375-7.164062 0-9.898437zm-28.8125 28.8125 11.523438-11.523438c2.734375-2.734375 7.167968-2.734375 9.898437 0 2.734375 2.734375 2.734375 7.164062 0 9.898438l-11.523437 11.527343c-2.734375 2.734375-7.167969 2.734375-9.902344 0-2.730469-2.734375-2.730469-7.167969 0-9.898437zm-23.222656 40.125c-2.832031 0-5.386719-1.707032-6.46875-4.320313-1.085938-2.617187-.484375-5.628906 1.515625-7.628906l11.527344-11.527344c2.734375-2.734375 7.164062-2.734375 9.898437 0s2.734375 7.167969 0 9.902344l-11.527344 11.523437c-1.308593 1.3125-3.089843 2.050782-4.945312 2.050782zm12.335938 5.335937 11.523437-11.523437c2.734375-2.734376 7.167969-2.734376 9.902344 0 2.734375 2.730468 2.734375 7.164062 0 9.898437l-11.527344 11.527344c-2.730469 2.734375-7.164063 2.734375-9.898437 0-2.734376-2.730469-2.734376-7.164063 0-9.898438zm0 0"/><path d="m61.003906 330.972656c75.277344 69.96875 192.425782 67.824219 265.09375-4.851562 72.679688-72.667969 74.820313-189.820313 4.851563-265.097656zm223.679688-207.621094 11.523437-11.527343c2.734375-2.730469 7.167969-2.730469 9.902344 0 2.730469 2.734375 2.730469 7.167969 0 9.902343l-11.527344 11.523438c-2.734375 2.734375-7.167969 2.734375-9.902343 0-2.734376-2.734375-2.734376-7.164062 0-9.898438zm-28.816406 28.8125 11.527343-11.523437c2.730469-2.734375 7.164063-2.734375 9.898438 0 2.734375 2.730469 2.734375 7.164063 0 9.898437l-11.523438 11.523438c-2.734375 2.734375-7.167969 2.734375-9.902343 0-2.734376-2.730469-2.734376-7.164062 0-9.898438zm-28.8125 28.8125 11.527343-11.527343c2.734375-2.730469 7.164063-2.730469 9.898438 0 2.734375 2.734375 2.734375 7.167969 0 9.902343l-11.523438 11.523438c-2.734375 2.734375-7.167969 2.734375-9.898437 0-2.734375-2.734375-2.734375-7.164062 0-9.898438zm-28.8125 28.8125 11.523437-11.523437c2.734375-2.734375 7.167969-2.734375 9.902344 0s2.734375 7.164063 0 9.898437l-11.527344 11.527344c-2.734375 2.734375-7.167969 2.734375-9.898437 0-2.734376-2.734375-2.734376-7.167968 0-9.898437zm-28.816407 28.816407 11.527344-11.527344c2.734375-2.730469 7.164063-2.730469 9.898437 0 2.734376 2.734375 2.734376 7.167969 0 9.902344l-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.902344 0s-2.734375-7.164062 0-9.898437zm-28.8125 28.8125 11.527344-11.523438c2.730469-2.734375 7.164063-2.734375 9.898437 0 2.734376 2.730469 2.734376 7.164063 0 9.898438l-11.527343 11.527343c-2.734375 2.734376-7.164063 2.734376-9.898438 0-2.734375-2.734374-2.734375-7.167968 0-9.902343zm-28.808593 28.8125 11.523437-11.523438c2.734375-2.734375 7.164063-2.734375 9.898437 0 2.734376 2.734375 2.734376 7.164063 0 9.898438l-11.523437 11.527343c-2.734375 2.730469-7.164063 2.730469-9.898437 0-2.734376-2.734374-2.734376-7.167968 0-9.902343zm-23.222657 40.121093c-2.832031 0-5.386719-1.707031-6.46875-4.320312-1.082031-2.617188-.484375-5.628906 1.515625-7.628906l11.527344-11.527344c2.734375-2.734375 7.164062-2.734375 9.898438 0 2.734374 2.734375 2.734374 7.167969 0 9.902344l-11.527344 11.527344c-1.3125 1.3125-3.089844 2.046874-4.945313 2.046874zm33.761719 3.710938-11.523438 11.527344c-2.734374 2.734375-7.167968 2.734375-9.902343 0s-2.734375-7.164063 0-9.898438l11.527343-11.527344c2.730469-2.734374 7.164063-2.734374 9.898438 0 2.734375 2.734376 2.734375 7.167969 0 9.902344zm28.171875-28.171875-11.523437 11.523437c-2.734376 2.734376-7.167969 2.734376-9.902344 0-2.730469-2.734374-2.730469-7.164062 0-9.898437l11.527344-11.527344c2.734374-2.730469 7.164062-2.730469 9.898437 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.8125-28.8125-11.527344 11.527344c-2.734375 2.734375-7.167969 2.734375-9.898437 0-2.734375-2.734375-2.734375-7.167969 0-9.902344l11.523437-11.523437c2.734375-2.734376 7.167969-2.734376 9.902344 0 2.734375 2.734374 2.734375 7.167968 0 9.902343zm28.8125-28.8125-11.523437 11.527344c-2.734376 2.734375-7.167969 2.734375-9.902344 0s-2.734375-7.167969 0-9.902344l11.527344-11.523437c2.730468-2.734376 7.164062-2.734376 9.898437 0 2.734375 2.734374 2.734375 7.164062 0 9.898437zm28.816406-28.816406-11.53125 11.53125c-2.734375 2.730469-7.164062 2.730469-9.898437 0-2.734375-2.734375-2.734375-7.167969 0-9.902344l11.527344-11.527344c2.734374-2.734375 7.167968-2.734375 9.898437 0 2.734375 2.734375 2.734375 7.167969 0 9.898438zm28.8125-28.8125-11.527343 11.527343c-2.730469 2.734376-7.164063 2.734376-9.898438 0-2.734375-2.734374-2.734375-7.167968 0-9.902343l11.527344-11.523438c2.734375-2.734375 7.164062-2.734375 9.898437 0s2.734375 7.164063 0 9.898438zm28.8125-28.8125-11.527343 11.527343c-2.734376 2.734376-7.164063 2.734376-9.898438 0-2.734375-2.734374-2.734375-7.167968 0-9.902343l11.523438-11.523438c2.734374-2.734375 7.167968-2.734375 9.902343 0s2.734375 7.164063 0 9.898438zm28.8125-28.8125-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.902344 0-2.734375-2.730468-2.734375-7.164062 0-9.898437l11.527344-11.527344c2.734375-2.730469 7.164062-2.730469 9.898437 0 2.734375 2.734375 2.734375 7.167969 0 9.902344zm28.171875-38.070313c2.734375 2.730469 2.734375 7.164063 0 9.898438l-11.523437 11.523437c-2.734375 2.734375-7.167969 2.734375-9.898438 0-2.734375-2.730469-2.734375-7.164062 0-9.898437l11.523438-11.523438c2.734375-2.734375 7.167969-2.734375 9.898437 0zm-17.285156-7.390625-11.527344 11.527344c-2.734375 2.734375-7.164062 2.734375-9.898437 0s-2.734375-7.167969 0-9.902344l11.523437-11.523437c2.734375-2.734375 7.167969-2.734375 9.902344 0 2.730469 2.734375 2.730469 7.164062 0 9.898437zm0 0"/></svg>
                </div>
                <div class="highlight-txt">
                    <%-item.title %>
                </div>
                </a>
            </div>
            <% } %>
            <% } %>
            <div class="arrow-div">
                <svg width="8.72" height="7.381" viewBox="0 0 8.72 7.381"><defs><style>.a{}</style></defs><g transform="translate(-2.293 -3.293)"><path style="fill:#fff;fill-rule:evenodd;" d="M4.875,6.984,2.293,4.4,3.4,3.293,7.092,6.984,3.4,10.674,2.293,9.566Zm3.92,0L6.213,4.4,7.322,3.293l3.691,3.691L7.322,10.674,6.213,9.566Z"/></g></svg>
            </div>
        </div>
    </div>
</div>
</div>    