<%- include(viewpath+'/'+device+'/firstcricket/team-score-widget'); %>
<% if (typeof ads  !== 'undefined' && (typeof ads['MID1_300']  !== 'undefined' || typeof ads['MID2_300']  !== 'undefined')){%>
    <div class="two-ad-slot">
    <% if (typeof ads  !== 'undefined' && typeof ads['MID1_300'] !== 'undefined'){%>
    <div class="ad-slot">
    <%-common.displayAds(ads['MID1_300'][0]) %>
    </div>
    <% } %> 
    <% if (typeof ads  !== 'undefined' && typeof ads['MID2_300'] !== 'undefined'){%>
    <div class="ad-slot">
    <%-common.displayAds(ads['MID2_300'][0]) %>
    </div>
    <% } %>  
    </div>
<% }%>
<% if(template == "articleConsumption") {%>

<%- include(viewpath+'/'+device+'/firstcricket/quick-score-widget',{currentInn:currInning}); %>

<%} else {%>
<section class="quick-score-section">
<% if(pageType == "quick" && currInning != "no"){ %>
	<%- include(viewpath+'/'+device+'/firstcricket/quick-score-widget',{currentInn:currInning}); %>
        		<!--Commentray Intro-->
    <%- include(viewpath+ '/desktop/firstcricket/commentary-score-widget',{limit:"25"}); %>
<% } else if(pageType == "full" && currInning != "no") { %>
    <!--Score Tabs Widget-->
    <div class="score-tabs">
        <div class="tab">
            <% for (let i = 1; i <= innCount; i++) { %>
            <a href="javascript:void(0);" title="" class="tablinks <% if(i == innCount) {%> active<%}%>" onclick="tabs(this, 'innings<%= i %>')">
                <h4 class="team-name-txt">
                    <%= scoreData[inningArr[i]]['Battingteam'].replace("-"," ") %>
                </h4>
                <h6 class="innings-txt">
                    <%= inningText[i] %>
                </h6>
            </a>  
            <% } %>                              
        </div>

        <% for (let i = 1; i <= innCount; i++) { %>
        <div id="innings<%= i %>" class="tabcontent" <% if(i == innCount) {%>style="display: block;" <%}%> >
          

    <%- include(viewpath+ '/desktop/firstcricket/bat-bowl-common-widget',{scoreData:scoreData,inningArr:inningArr,i:i}); %>
    
    <!--Score Card Div-->                        
    <div class="scorecard-sect">
        <h3 class="scorecard-ttl">
        <% var teamShort = "teamb"; 
            if(scoreData[inningArr[i]]['Battingteam'] == scoreData['teamfa']){ 
                teamShort= "teama"; } %>
        <%= scoreData[inningArr[i]]['Battingteam'] %> (<%= scoreData[teamShort] %>) Scorecard</h3>
        <div class="score-tbl-wrap">
            <!--Batting Table-->
            <table class="score-big-tbl">
                <thead>
                    <tr>
                        <th>Batsman</th>
                        <th>R</th>
                        <th>B</th>
                        <th>4s</th>
                        <th>6s</th>
                    </tr>
                </thead>
                <tbody>                                    
                <%                               
           for (const [bat_Key, bat_val] of Object.entries(scoreData[inningArr[i]]['batsmen']['list'])) { 
            var batSName = bat_val['name'].toLowerCase().replace(" (c)","").replace(" (w)","").replace(/\ /g,"-"); 
            var BatUrl = deFUrl+batSName+'-'+bat_val['id'];    
            %>
            <tr class="<% if(bat_val['Howout'].toLowerCase() != "not out" && bat_val['Howout'] != "" && bat_val['Howout'].toLowerCase() != "batting"){ %>out<% }else if(bat_val['Striker'].toLowerCase() == "yes"){ %>current<% }  %>">
                <td><a href="<%= BatUrl %>"><%= bat_val['name'] %> 
<% if(bat_val['Howout'].toLowerCase()  != "not out" && bat_val['Howout'].toLowerCase()  != "batting" && bat_val['Howout'].toLowerCase()  != ""){ %>
                    (<%= bat_val['Howout'] %>)</a></td>
                    <% } %>
                <td><%= bat_val['Runs'] %></td>
                <td><%= bat_val['BallsFaced'] %></td>
                <td><%= bat_val['four'] %></td>
                <td><%= bat_val['six'] %></td>
            </tr>  
            <% }  %>
                </tbody>
            </table>
            <!--Batting Table-->

            <!--Batting Status-->
            <div class="match-status-div">
                <div class="match-label-txt">
                    <label for="">Extras: <%= scoreData[inningArr[i]]['Equation']['extra'] %></label>
                    <span>(
                        b - <%= scoreData[inningArr[i]]['ExtraDetails']['Byes'] %>,
                        lb - <%= scoreData[inningArr[i]]['ExtraDetails']['Legbyes'] %>,
                        w - <%= scoreData[inningArr[i]]['ExtraDetails']['Wides'] %>,
                        nb - <%= scoreData[inningArr[i]]['ExtraDetails']['Noballs'] %>,
                        Penalty - <%= scoreData[inningArr[i]]['ExtraDetails']['Penalty'] %>)
                    </span>                                        
                </div>
                <div class="match-label-txt">
                    <label for="">Fall of wickets: </label>
                    <% let fowCount=1;
                    for (const [fow_Key, fow_val] of Object.entries(scoreData[inningArr[i]]['Fallofwicket']['list'])) { %>
                    <label for=""><% if(fowCount != 1){ %> , <%}%>&nbsp;<%= fowCount %> - <%= fow_val['Run'] %></label>
                    <span>(<%= fow_val['name'] %>, <%= fow_val['Over'] %> ov)</span>    
                    <% fowCount = fowCount+1; }%>
                </div>                
            </div>
            <!--Batting Status-->
        </div>
        <div class="score-tbl-wrap">
            <!--Bowling Table-->
            <table class="score-big-tbl">
                <thead>
                    <tr>
                        <th>Bowling</th>
                        <th>0</th>
                        <th>M</th>
                        <th>R</th>
                        <th>W</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (const [bowl_Key, bowl_val] of Object.entries(scoreData[inningArr[i]]['bowler']['list'])) { 
            var bowlName = bowl_val['name'].toLowerCase().replace(" (c)","").replace(" (w)","").replace(/\ /g,"-"); 
            var bowlUrl = deFUrl+bowlName+'-'+bowl_val['id'];
        %>
            <tr>
                <td <% if(bowl_val['Bowling'] == "yes"){ %>class="current"<% } %>>
                    <a href="<%= bowlUrl %>"><%= bowl_val['name'] %></a></td>
                <td><%= bowl_val['Over'] %></td>
                <td><%= bowl_val['Maiden'] %></td>
                <td><%= bowl_val['Runs'] %></td>
                <td><%= bowl_val['Wicket'] %></td>
            </tr>
            <% } %> 
                </tbody>
            </table>
            <!--Bowling Table-->
        </div>
    </div>
    <!--Score Card Div-->
    </div>
    
        <% } %>                        
    </div>
    <!--Accordion Section-->    
    <div class="accordionWrapper">
        <% 
        if(scoreData['matchtype'] != "test") {
            var ocClass = "close";
            for (let i = 1; i <= innCount; i++) { 
               if(i == innCount)
                ocClass= "open";
        %>
        <div class="accordionItem <%= ocClass %>">
            <h2 class="accordionItemHeading" onclick="toggleItem(this)">Match Notes
                <span> <%= inningText[i] %></span>
            </h2>
            <div class="accordionItemContent">
                <!--Notes Table-->
                <table class="score-big-tbl">
                    <tbody>
                    <% 
                    for (const [note_Key, note_val] of Object.entries(scoreData[inningArr[i]]['Notes'])) { %>
                        <tr>
                            <td>
                                <%= note_val %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <!--Notes Table-->
            </div>
        </div>
        <% } }else{
            var ocClass = "close";
            var innCount = Object.entries(scoreData['Notes']).length;
            for (let i = 1; i <= Object.entries(scoreData['Notes']).length; i++) {                 
               if(i == innCount)
                ocClass= "open";
            if(Object.entries(scoreData['Notes']["Day"+[i]]).length > 0){
        %>
        <div class="accordionItem <%= ocClass %>">
            <h2 class="accordionItemHeading" onclick="toggleItem(this)">Match Notes
                <span> Day<%= i %></span>
            </h2>
            <div class="accordionItemContent">
                <!--Notes Table-->
                <table class="score-big-tbl">
                    <tbody>
                    <% 
                    for (const [note_Key, note_val] of Object.entries(scoreData['Notes']["Day"+[i]])) { %>    
                        <tr>
                            <td>
                                <%= note_val %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <!--Notes Table-->
            </div>
        </div>
        <% } } %>    
    <% }%>
    </div>
    <!--Accordion Section-->
<%} else if(pageType == "commentary" && currInning != "no"){%>
    <!--Score Tabs Widget-->
<div class="score-tabs">
    <div class="tab">
        <% for (let i = 1; i <= innCount; i++) { %>
        <a href="javascript:void(0);" title="" class="tablinks <% if(i == innCount) {%> active<%}%>" onclick="tabs(this, 'innings<%= i %>')">
            <h4 class="team-name-txt">
                <%= scoreData[inningArr[i]]['Battingteam'].replace("-"," ") %>
            </h4>
            <h6 class="innings-txt">
                <%= inningText[i] %>
            </h6>
        </a>  
        <% } %>                              
    </div>

<% for (let i = 1; i <= innCount; i++) { %>
    <div id="innings<%= i %>" class="tabcontent" <% if(i == innCount) {%>style="display: block;" <%}%> >
          
    <%- include(viewpath+ '/desktop/firstcricket/bat-bowl-common-widget',{scoreData:scoreData,inningArr:inningArr,i:i}); %>                            
    </div>                        
<% } %>
</div>                        
    <%- include(viewpath+ '/desktop/firstcricket/commentary-score-widget',{limit:""}); %>
<%}%>
</section>
<%} %>
<%if (typeof outbrain_ads !== 'undefined' && typeof outbrain_ads['AR_2'] !== 'undefined'){%>
        <%-outbrain_ads['AR_2'];%>  
 <% } %>