<%- include(viewpath+ '/layouts/header'); %>
<div class="container">	
	<!--728x90 Ad Space-->
	<% if (typeof ads  !== 'undefined' && typeof ads['ATF_728']  !== 'undefined'){%>
	<div class="ad-center ATF_728"  data-ad-id="<%-ads['ATF_728'][0]%>" data-ad-size="<%-ads['ATF_728'][1]%>">
	<%-common.displayAds(ads['ATF_728'][0]) %>
	</div>
	<% } %>              
	<!--728x90 Ad Space-->
   <!--Score-Widget-->
   <%- include(viewpath+ '/widgets/scorecard_caraousal'); %>
   <!--Score-Widget-->
   <!--Breadcrum widget-->
   <%- include(viewpath+ '/widgets/breadCrumbs'); %>
	<!--Breadcrum widget-->
   <!--Cricket Inner Menu-->
    <%- include(viewpath+ '/layouts/level-4-nav'); %>
    <!--Cricket Inner Menu-->
   <div class="main-container">
   		<div class="main-content">
   			<div class="main-story-thumb-wrap">
	            <h1 class="main-story-title">
	               <a href="javascript:void(0);">Cricket News</a>
	               <span></span>
	            </h1>
		    </div>
   			<% var countForAd = 0; for (const [tagData_key, tagData_val] of Object.entries(tagData['solarResults'])) { countForAd =countForAd+1 %>
   				<div class="big-thumb">
	        <a href="<%- tagData_val['url']%>" class="thumb-img">
			<img src="<%-constant.PLACEHOLDER_IMG_640x362 %>" class="fp-lazy" data-src="<%-common.firstpost_imageOptimization(tagData_val['image'], 640, 362, '') %>" alt="<%- tagData_val['title']%>" title="<%- tagData_val['title']%>">
	        </a>
	        	<div class="title-wrap">
	        	<a href="/category/<%- tagData_val['category'].replace(/\s+/g, '-').toLowerCase()%>" class="category-name"><%- tagData_val['category']%></a>
	           </a>
	           <h3 class="main-title">
	              <a href="<%- tagData_val['url']%>"><%= tagData_val['title']%></a>
	           </h3>
	           <p class="copy">
	             	<%= tagData_val['description']%>
	           </p>
	           <% var shareArr = []; 
		            shareArr['shareTitle'] = tagData_val['title'];
	              	shareArr['shareUrl'] = tagData_val['url']; 
		       %>
		       <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
	        </div>
    	</div>
		<%if(countForAd == '5'){%>
             <% if (typeof ads  !== 'undefined' && (typeof ads['MID1_300']  !== 'undefined' || typeof ads['MID2_300']  !== 'undefined')){%>
            <div class="two-ad-slot">
            <% if (typeof ads  !== 'undefined' && typeof ads['MID1_300'] !== 'undefined'){%>
            <div class="ad-slot">
            <%-common.displayAds(ads['MID1_300'][0]) %>
            </div>
            <% } %> 
            <% if (typeof ads  !== 'undefined' && typeof ads['MID2_300'] !== 'undefined'){%>
            <div class="ad-slot">
            <%-common.displayAds(ads['MID2_300'][0]) %>
            </div>
            <% } %>  
            </div>                        
        	<% }%>
        <% } } %>
   			<%- include(viewpath+ '/widgets/paginationDefault'); %>
			<% if (typeof outbrain_ads !== 'undefined' && typeof outbrain_ads['AR_2'] !== 'undefined'){%>
		        <%-outbrain_ads['AR_2'];%>
		    <% } %>
	</div>
	<!--main-content-->
	<%- include(viewpath+ '/'+device+'/firstpost/rhs'); %>	
   </div>
</div>
<%- include(viewpath+ '/layouts/footer'); %>