<%- include(viewpath+ '/layouts/header'); %>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
      window.googletag = window.googletag || {cmd: []};
      googletag.cmd.push(function() {
        googletag.defineSlot('/1039154/FSTPST_ENG/FSTPST_ENG_CRICKET/FSTPST_ENG_CRICKET_AL/FSTPST_ENG_CRI_AL_ROS_LOGO_ImpressionTracker', [1, 1], 'div-gpt-ad-1617695489538-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });
    </script>

    <!-- /1039154/FSTPST_ENG/FSTPST_ENG_CRICKET/FSTPST_ENG_CRICKET_AL/FSTPST_ENG_CRI_AL_ROS_LOGO_ImpressionTracker -->
    <div id='div-gpt-ad-1617695489538-0' style='width: 1px; height: 1px;'>
      <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1617695489538-0'); });
      </script>
    </div>

    <div class="main-wrapper">

        <!--ipllogo-->
        <style type="text/css">
        .logoflex{display: flex;justify-content: space-between;align-items: center;margin-bottom: 20px}
        .logoright{display: flex;}
        .copo,.aoso{display: flex;}
        .copotext{text-align: left;text-decoration: underline;font: 400 11px/13px Arial;letter-spacing: 0px;color: #B1B1B1;text-transform: uppercase;opacity: 1;margin-right: 10px}
        .logoright img{margin-right: 10px}
        .thumb-social-wrap{position: relative !important;top: 9px;right: 10px;}
        </style>
        <div class="logoflex">
            <div class="lodoleft"><img loading="lazy" width="275" height="108" src="<%-constant.SITE_URL %>static/images/cricket/ipl/t20-league-final-fp.PNG" alt="IPL 2021"></div>
            <div class="logoright">
                <div class="aoso"><div class="copotext">Associate Partners</div>
                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5661389695&iu=/1039154/FSTPST_ENG/FSTPST_ENG_CRICKET/FSTPST_ENG_CRICKET_AL/FSTPST_ENG_CRI_AL_ROS_LOGO_ClickTracker_Shell" target="_blank">
                    <img src="<%-constant.SITE_URL %>static/images/cricket/ipl/shell_logo.png">
                </a>
                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5664296053&iu=/1039154/FSTPST_ENG/FSTPST_ENG_CRICKET/FSTPST_ENG_CRICKET_AL/FSTPST_ENG_CRI_AL_ROS_LOGO_ClickTracker_PanMasala" target="_blank">
                    <img src="<%-constant.SITE_URL %>static/images/cricket/ipl/panmasala.jpg">
                </a>
                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5665050131&iu=/1039154/FSTPST_ENG/FSTPST_ENG_CRICKET/FSTPST_ENG_CRICKET_AL/FSTPST_ENG_CRI_AL_ROS_LOGO_ClickTracker_AMFI" target="_blank">
                    <img src="<%-constant.SITE_URL %>static/images/cricket/ipl/amfi.png">
                </a>
                </div>
            </div>
        </div>
        <!--ipllogo-->

        <!--Score-Widget-->
        <%- include(viewpath+ '/widgets/scorecard_caraousal'); %>
        <input type="hidden" name="" id="checkDevice" value="<%=device%>">
        <!--Score-Widget-->
    </div>

    <!--1244x60 Ad Space-->
    <% if (typeof ads  !== 'undefined' && typeof ads['ATF_728']  !== 'undefined'){%>
        <div class="ad-slot fixed-ad-banner-fc">
            <%-common.displayAds(ads['ATF_728'][0]) %>
        </div>
    <% } %>
    <!--1244x60 Ad Space-->

    <div class="main-wrapper">
        <!--Bread crumb-->
        <%- include(viewpath+ '/widgets/breadCrumbs'); %>
        <!--Bread crumb-->

        <!--Main Page Content-->
        <div class="content-wrap" id="ipl">
            <style type="text/css">
                #ipl .page-title span{font-weight: 900;}
            </style>
            <div class="left-content">

                <h2 class="page-title"><span>Cricket News</span></h2>

                <!--Tab container-->
                <%- include(viewpath+ '/widgets/cric-series-menu'); %>
                <!--Tab container-->


                <!--Top Slider Section-->
                <% if(typeof rankingData !== 'undefined' && rankingData !== null) { %>
                <section class="top-slider-section">
                    <div class="glide" id="topSlider">
                        <div data-glide-el="track" class="glide__track">
                            <ul class="glide__slides">
                                <% for (const [rankDataKey, rankDataValue] of Object.entries(rankingData['main_ranking'])) { %>
                                <li class="glide__slide">
                                    <div class="top-story-slide">
                                        <div class="top-image-wrap">
                                            <a href="<%=rankDataValue['post_url']%>" title="<%=rankDataValue['post_title']%>">
                                                <img src="<%=rankDataValue['desktop_img']%>" alt="<%=rankDataValue['post_title']%>" title="<%=rankDataValue['post_title']%>"/>
                                            </a>
                                            <div class="main-title-div">
                                                <h1 class="main-title-wrap">
                                                    <a href="<%=rankDataValue['post_url']%>" title="<%=rankDataValue['post_title']%>">
                                                        <%=rankDataValue['post_title']%>
                                                    </a>
                                                </h1>
                                                <div class="share-wrap">
                                                    <% var shareArr = []; 
                                                    shareArr['shareTitle'] = rankDataValue['post_title'];
                                                    shareArr['shareUrl'] = rankDataValue['post_url']; %>
                                                    <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } %>       
                            </ul>
                        </div>
                        <div class="glide__bullets" data-glide-el="controls[nav]">
                            <button class="glide__bullet" data-glide-dir="=0"></button>
                            <button class="glide__bullet" data-glide-dir="=1"></button>
                            <button class="glide__bullet" data-glide-dir="=2"></button>
                          </div>
                    </div>
                </section>
                <% } %>
                <!--Top Slider Section-->

                <!--point table-->
                <style type="text/css">
                .tabflex{display: flex;justify-content: space-between; margin-bottom: 30px}
                .tableft{width: 49%}
                .tabright{width: 49%}
                .tabflex .page-title {text-align: center;margin: 0;border-bottom: 0 solid #707070}
                .tabflex .page-title:after {content: none}
                .gridwrap {display: grid;grid-template-columns: 15% 35% 15% 15% 20%; text-align: left;font: 400 16px/25px Roboto;letter-spacing: 0;color: #000000;opacity: 1;padding: 10px 0}
                .gridbox{text-align: center;font: 600 10px/20px Arial;letter-spacing: 0px;color: #202020;opacity: 1; text-transform: uppercase;}
                .whi .gridbox{color: #fff}
                .gridwrap:nth-child(even){background:#F8F8F8}
                .mapflex{display: flex;align-items: center;}
                .mapflex img{width: 45px;margin-right: 10px}
                .mapflex span{text-align: left;text-decoration: underline;font: 700 12px/20px Arial;letter-spacing: 0px; text-transform: uppercase;}
                .tabflex .page-title span {font:900 21px/37px arial}
                .gridwrap:nth-child(even).bluebg{background:#012F68 }
                .gridbox:nth-child(2){text-align: left;}
                .mi{color: #005795}
                .csk{color:#EE9B00;}
                .dc{color:#0355A2;}
                .srh{color:#FF4233;}
                .kkr{color:#482863;}
                .pbks{color:#D33F25;}
                .rr{color:#1F3A76;}
                .rcb{color:#1E1E1E;}
                .orgbg .whi{background: #F55B00}
                .purbg .whi{background:#5D068E;}
                .purbg .page-title span{color: #5D068E}
                .tabwrap .page-title span span{text-align: center;font: italic 500 16px/20px Arial;letter-spacing: 0px;color: #C2C2C2;}
                .purbg .page-title, .orgbg .page-title{text-align: left;}
                .orgbg{margin-bottom: 21px}
                .gridwrap{box-shadow: 1px 1px 0 0px #F8F8F8}
                .purbg .gridbox:nth-child(3), .orgbg .gridbox:nth-child(3){color: #909090;font-weight: 400}
                .orgbg .whi .gridbox:nth-child(3),.purbg .whi .gridbox:nth-child(3){color: #fff; font-weight: 600}
                .purbg .mapflex img, .orgbg .mapflex img {width: 26px; background: #fff; box-shadow: 0px 3px 6px #00000029; border-radius: 50%}
                .mapflex span { font: italic 600 10px/12px Arial;}
                .fulltab{text-align: right;text-decoration: underline;font: 400 9px/13px Arial;letter-spacing: 0px;color: #001D42;text-transform: uppercase;display: block;margin: 10px 0;}
                .purbg .fulltab{color: #5D068E}
                .orgbg .fulltab{color: #F55B00}
                .no-data{text-align:center;padding: 10px;font-weight: 600;color: grey;}
                </style>
                <div class="tabflex">
                    <div class="tableft">
                        <div class="tabwrap">
                        <h2 class="page-title"><span>POINTS TABLE</span></h2>
                        <div class="gridwrap whi bluebg">
                                <div class="gridbox">Pos</div>
                                <div class="gridbox">Teams</div>
                                <div class="gridbox">Matches</div>
                                <div class="gridbox">Points</div>
                                <div class="gridbox">NRR</div>
                        </div>
                        
                        <!-- Render Points Table Starts Here-->
                        <% if(templateVars && templateVars['pointsData'] && templateVars['pointsData']['standings'] && templateVars['pointsData']['standings']['stage1'] && templateVars['pointsData']['standings']['stage1']['team']) { %>                             
                            <% const pointsData = templateVars['pointsData']['standings']['stage1']['team'] %>          
                            <% pointsData.forEach((data, index) => { 
                                const {name, short_name,pts,nrr,p,pos,id} = data
                                const serialNo = index+1
                                if(serialNo > 8) return %>
 
                                <div class="gridwrap">
                                    <div class="gridbox"> <%- pos %> </div>
                                    <div class="gridbox">
                                        <div class="mapflex">
                                            <img src="https://xmlns.cricketnext.com/cktnxt/scorecard/crk_player_images/flags/90x50/<%- id %>.png" alt="">
                                            <a href="<%=constant.SITE_URL %>firstcricket/teams/<%= name.replace(/\s/g,'-').toLowerCase() %>-team-players/series/ipl-<%=iplYear%>.html">
                                                <span class="<%- short_name.toLowerCase()%>"> <%- short_name%> </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gridbox"> <%- p %> </div>
                                    <div class="gridbox"> <%- pts%> </div>
                                    <div class="gridbox"><%= nrr%> </div>
                                </div>

                            <% }) %>
                    
                        <% } else { %>
                            <p class="no-data">No Data</p>
                        <% } %>
                        
                        <a href="<%-constant.SITE_URL %>firstcricket/points-table/series/ipl-2021.html" class="fulltab">FULL TABLE [+]</a>
                        </div>
                    </div>
                    <div class="tabright">
                        <div class="tabwrap orgbg">
                        <h2 class="page-title"><span>ORANGE CAP <span>-Most Runs</span></span></h2>
                        <div class="gridwrap whi">
                                <div class="gridbox">Pos</div>
                                <div class="gridbox">Player</div>
                                <div class="gridbox">Team</div>
                                <div class="gridbox">Matches</div>
                                <div class="gridbox">Runs</div>
                        </div>

                        <% if(templateVars && templateVars['orangeCap'] && templateVars['orangeCap']['leaderboard'] ) { %>
                            <% const orangeCapLeaderboard = templateVars['orangeCap']['leaderboard'] %>      
                            <% orangeCapLeaderboard.forEach((data, index) => { 
                                const {player_name,player_id,team_short_name, matches_played,runs_scored} = data
                                const serialNo = index+1
                                if(serialNo > 3) return %>
 
                                <div class="gridwrap">    
                                    <div class="gridbox"> <%- serialNo %></div>
                                    <div class="gridbox">
                                        <div class="mapflex">
                                            <img src="https://xmlns.cricketnext.com/cktnxt/scorecard/crk_player_images/players/128X128/<%- player_id %>.png" class="icon_player" alt="">
                                            <a href="<%=constant.SITE_URL%>firstcricket/player-profile/<%= player_name.replace(/\s/g,'-').toLowerCase() %>-<%=player_id %>">
                                                <span class="playname"> <%- player_name %></span>
                                            </a>    
                                           
                                        </div>
                                    </div>
                                    <div class="gridbox"> <%- team_short_name %> </div>
                                    <div class="gridbox"> <%- matches_played %> </div>
                                    <div class="gridbox"> <%- runs_scored%> </div>
                                </div>

                            <% }) %>
                    
                        <% } else { %>
                            <p class="no-data">No Data</p>
                        <% } %>
                     
                        <a href="<%-constant.SITE_URL %>firstcricket/orange-cap-holder/series/ipl-2021.html" class="fulltab">FULL TABLE [+]</a>
                        </div>

                        <div class="tabwrap purbg">
                        <h2 class="page-title"><span>PURPLE CAP <span>-Most Wickets</span></span></h2>
                        <div class="gridwrap whi">
                                <div class="gridbox">Pos</div>
                                <div class="gridbox">Player</div>
                                <div class="gridbox">Team</div>
                                <div class="gridbox">Matches</div>
                                <div class="gridbox">Wicket</div>
                        </div>

                        <% if(templateVars && templateVars['purpleCap'] && templateVars['purpleCap']['leaderboard']) { %>
                            <% const purpleCapLeaderboard = templateVars['purpleCap']['leaderboard'] %>  
                            <% purpleCapLeaderboard.forEach((data, index) => { 
                                const {player_name,player_id,team_short_name, matches_played,wickets} = data
                                const serialNo = index+1
                                if(serialNo > 3) return %>
 
                                <div class="gridwrap">    
                                    <div class="gridbox"> <%- serialNo %></div>
                                    <div class="gridbox">
                                        <div class="mapflex">
                                            <img src="https://xmlns.cricketnext.com/cktnxt/scorecard/crk_player_images/players/128X128/<%- player_id %>.png" class="icon_player" alt="">
                                            <a href="<%=constant.SITE_URL%>firstcricket/player-profile/<%= player_name.replace(/\s/g,'-').toLowerCase() %>-<%=player_id %>">
                                                <span class="playname"> <%- player_name %></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gridbox"> <%- team_short_name %> </div>
                                    <div class="gridbox"> <%- matches_played %> </div>
                                    <div class="gridbox"> <%- wickets%> </div>
                                </div>

                            <% }) %>
                    
                        <% } else { %>
                            <p class="no-data">No Data</p>
                        <% } %>

                        <a href="<%-constant.SITE_URL %>firstcricket/purple-cap-holder/series/ipl-2021.html" class="fulltab">FULL TABLE [+]</a>
                        </div>
                    </div>
                </div>
                <!--point table-->

                <!--My First IPL Match-->
                <style type="text/css">
                    .myfirst-section .sub-title-txt{padding:10px 20px 0 0}
                    .myfirst-section .glide__slide:nth-child(1){margin:0 5% 0 2px}
                    .myfirst-section .glide__slide{margin-bottom: 2px}
                    .myfirst-section .glide__slide{width:47%}
                    .myfirst-section .video-wrap .share-detail-div{display:flex;justify-content:space-between;padding:0;align-items:center;position:absolute;bottom:10px;right:10px}
                    .myfirst-section{position:relative;margin-top: 40px }
                    .readmore{font:12px/15px Arial;letter-spacing:0;color:#747474;text-transform:uppercase;opacity:1;border:1px solid #BEBEBE;padding:5px;display:inline-block;position:absolute;top:0;right:0}
                    .myfirst{margin-bottom: 40px}
                </style>
                <section class="myfirst-section" style="display: none;">
                <h2 class="page-title"><span>IPL's Lighter Side</span></h2>
                <div class="myfirst">
                    <div class="glide">
                            <ul class="glide__slides">
                                <% for (const [light_key, light_val] of Object.entries(lighterside['solarResults'])) { %>
                                <% if(light_key <= '1' ){ %>
                                <li class="glide__slide">
                                    <div class="video-wrap">
                                        <div class="video-img-wrap">
                                            <a href="<%= light_val['url'] %>" title="<%= light_val['title'] %>">
                                                <img src="<%= light_val['image'] %>" alt="<%= light_val['title'] %>" title="<%= light_val['title'] %>" />
                                            </a>
                                        </div>

                                        <div class="video-title-div">
                                            <h3 class="video-title">
                                                <a href="<%= light_val['url'] %>" title="<%= light_val['title'] %>">
                                                    <%= light_val['title'] %>
                                                </a>
                                            </h3>
                                            <h4 class="sub-title-txt">
                                                <%= light_val['description'] %>
                                            </h4>
                                        </div>

                                        <div class="share-detail-div">
                                            <div class="share-icon-wrap">
                                                <% var shareArr = []; 
                                                shareArr['shareTitle'] = light_val['title'];
                                                shareArr['shareUrl'] = light_val['url']; %>
                                                <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } } %>
                            </ul>
                    </div>

                    <a href="javascript:void(0);" class="readmore">read more</a>
                </div>
                </section>
                <!--My First IPL Match-->
               
                <!--PODCASTS Section-->
                <style type="text/css">
                .podcast-section .sub-title-txt{padding:10px 20px 0 0}
                .podcast-section .glide__slide:nth-child(2){margin:0 25px}
                .podcast-section .glide__slide{margin-bottom: 2px}
                .podcast-section .glide__slide{width:30%}
                .podcast-section{position:relative}
                .readmore{font:12px/15px Arial;letter-spacing:0;color:#747474;text-transform:uppercase;opacity:1;border:1px solid #BEBEBE;padding:5px;display:inline-block;position:absolute;top:0;right:0}
                .podcast{margin-bottom: 40px}
                #ipl .podcast-section .video-wrap .share-detail-div {position: absolute;bottom: 10px;right: 0;}
                </style>
                <section class="podcast-section">
                    <h2 class="page-title"><span>PODCASTS</span></h2>
                    <div class="podcast">
                        <div class="glide">
                                <ul class="glide__slides">
                                    <% for (const [pod_key, pod_val] of Object.entries(podcast['solarResults'])) { %>
                                    <% if(pod_key <= '2' ){ %>
                                    <li class="glide__slide">
                                        <div class="video-wrap">
                                        
                                            <div class="video-img-wrap">
                                                <div class="video-icon">
                                                    <img src="<%-constant.SITE_URL %>static/images/cricket/ipl/podcast.png" alt="">
                                                </div>
                                                <a href="<%= pod_val['url'] %>" title="<%= pod_val['title'] %>">
                                                    <img src="<%= pod_val['image'] %>" alt="<%= pod_val['title'] %>" title="<%= pod_val['title'] %>">
                                                </a>
                                            </div>
                                        
                                            <div class="video-title-div">
                                                <h3 class="video-title">
                                                    <a href="<%= pod_val['url'] %>" title="<%= pod_val['title'] %>">
                                                        <%= pod_val['title'] %>
                                                    </a>
                                                </h3>
                                                
                                            </div>
                                            <div class="share-detail-div">
                                                <div class="share-icon-wrap">
                                                    <% var shareArr = []; 
                                                    shareArr['shareTitle'] = pod_val['title'];
                                                    shareArr['shareUrl'] = pod_val['url']; %>
                                                    <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% } } %>                          
                                </ul>
                        </div>
                         <a href="<%-constant.SITE_URL %>tag/ipl-2021-podcast" class="readmore">read more</a>
                    </div>
                </section>
                <!--PODCASTS Section-->

                <!--trivia-->
                <style type="text/css">
                .trivia-section{margin-bottom: 30px;background: #F8F8F8;padding: 30px 20px;}
                .trivia{position: relative;}
                .trivia-section .page-title:after {content: none}
                .readmore{font:12px/15px Arial;letter-spacing:0;color:#747474;text-transform:uppercase;opacity:1;border:1px solid #BEBEBE;padding:5px;display:inline-block;position:absolute;top:0;right:0}
                .triviatext{font: 700 15px/20px 'Playfair Display';letter-spacing: 0;color: #000;margin-top: 5px;}
                .trivialogo{display: flex; align-items: center;}
                .trivia-section .page-title {text-align: left;margin: 0;border-bottom: 0 solid #707070;margin-top: -10px;margin-left: 10px;}
                .trivia-section .page-title span {text-align: left;font: 900 27px/30px arial;}
                .trivialogo img{width: 100px;}
                </style>
                <% if(typeof trivia['ipl_cricket_trivia'] !== 'undefined' && trivia['ipl_cricket_trivia'] !== null) { %>
                <section class="trivia-section">
                    <% for (const [trivia_key, trivia_val] of Object.entries(trivia['ipl_cricket_trivia'])) { %>
                    <% if(trivia_key == '0' ){ %>
                    <div class="trivia">
                        <div class="trivialogo">
                            <img src="<%-constant.SITE_URL %>static/images/cricket/ipl/trivia.png" alt="">
                            <h2 class="page-title">
                                <span><%= trivia_val['trivia_title'] %></span>
                            </h2>
                        </div>
                        <div class="triviatext"><%= trivia_val['trivia_description'] %></div><a href="<%-constant.SITE_URL %>firstcricket/trivia/series/ipl-2021.html" class="readmore">read more</a>
                    </div>
                    <% } } %>
                </section>
                <% } %>
                <!--trivia-->

                <!--IPL 2021 stats
                <style type="text/css">
                    .iplstats{margin-bottom: 40px}
                    .iplstats-section .page-title:after {content: none}
                    .iplstats-section .page-title {text-align: left;margin: 0;border-bottom: 0 solid #707070;}
                </style>
                <section class="iplstats-section">
                <h2 class="page-title"><span>IPL 2021 stats</span></h2>
                <div class="iplstats">
                    <img src="<%-constant.SITE_URL %>static/images/cricket/ipl/stats.png" alt="">
                </div>
                </section>
                IPL 2021 stats-->

                <!--IPL FACTBOX-->
                <style type="text/css">
                    .factbox-section .sub-title-txt{padding:10px 20px 0 0}
                    .factbox-section .glide__slide{margin-bottom: 2px}
                    .factbox-section .glide__slide:nth-child(2){margin:0 25px}
                    .factbox-section .glide__slide{width:30%}
                    .factbox-section .video-wrap .share-detail-div{display:flex;justify-content:space-between;padding:0;align-items:center;position:absolute;bottom:10px;right:10px}
                    .factbox-section{position:relative}
                    .readmore{font:12px/15px Arial;letter-spacing:0;color:#747474;text-transform:uppercase;opacity:1;border:1px solid #BEBEBE;padding:5px;display:inline-block;position:absolute;top:0;right:0}
                    .factbox{margin-bottom: 40px}

                </style>
                <section class="factbox-section">
                <h2 class="page-title"><span>IPL FACTBOX</span></h2>
                <div class="factbox">
                    <div class="glide">
                        <ul class="glide__slides">
                                <% for (const [fact_key, fact_val] of Object.entries(factbox['solarResults'])) { %>
                                <% if(fact_key <= '2' ){ %>
                                <li class="glide__slide">
                                    <div class="video-wrap">
                                        <div class="video-img-wrap">
                                            <a href="<%= fact_val['url'] %>" title="<%= fact_val['title'] %>">
                                                <img src="<%= fact_val['image'] %>" alt="<%= fact_val['title'] %>" title="<%= fact_val['title'] %>" />
                                            </a>
                                        </div>

                                        <div class="video-title-div">
                                            <h3 class="video-title">
                                                <a href="<%= fact_val['url'] %>" title="<%= fact_val['title'] %>">
                                                    <%= fact_val['title'] %>
                                                </a>
                                            </h3>
                                            <h4 class="sub-title-txt">
                                                <%= fact_val['description'] %>
                                            </h4>
                                        </div>
                                        <div class="share-detail-div">
                                            <div class="share-icon-wrap">
                                                <% var shareArr = []; 
                                                shareArr['shareTitle'] = fact_val['title'];
                                                shareArr['shareUrl'] = fact_val['url']; %>
                                                <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } } %>
                        </ul>
                    </div>

                    <a href="<%-constant.SITE_URL %>tag/ipl-factbox" class="readmore">read more</a>
                </div>
                </section>
                <!--IPL FACTBOX-->

                <!--Photo Gallery-->
                <style type="text/css">
                    .photo-section .photo-wrap:nth-child(3){margin:0 25px}
                    .photo-section .photo-wrap {position: relative;width: 30%;}
                </style>
                <section class="photo-section">
                    <h2 class="page-title"><span>Photos</span></h2>

                    <div class="gallery-wrap">
                        <% for (const [photos_key, photos_val] of Object.entries(photos_ipl['solarResults'])) { %>
                        <% if(photos_key <= '3' ){ %>
                        <div class="photo-wrap">
                            
                            <div class="photo-img-wrap">
                                <div class="photo-icon">
                                    <svg width="50.45" height="45.239" viewBox="0 0 50.45 45.239"><defs><filter id="a" x="0" y="0" width="50.45" height="45.239" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="4.5" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs><g transform="translate(13.5 10.5)"><g style="filter:url(#a);" transform="matrix(1, 0, 0, 1, -13.5, -10.5)"><path style="fill:#000;" d="M23.147,3H2.3A1.3,1.3,0,0,0,1,4.3V19.936a1.3,1.3,0,0,0,1.3,1.3H23.147a1.3,1.3,0,0,0,1.3-1.3V4.3A1.3,1.3,0,0,0,23.147,3ZM16.959,7.56A1.628,1.628,0,1,1,15.33,9.188,1.628,1.628,0,0,1,16.959,7.56ZM4.908,17.33,9.226,7.4l4.91,7.949,4.209-2.091,2.2,4.067Z" transform="translate(12.5 7.5)"/></g></g></svg>
                                </div>
                                <a href="<%= photos_val['url'] %>" title="<%= photos_val['title'] %>">
                                    <img src="<%= photos_val['image'] %>" alt="<%= photos_val['title'] %>" title="<%= photos_val['title'] %>"/>
                                </a>
                            </div>
                            
                            <div class="photo-title-div">                                    
                                <h3 class="photo-title">
                                    <a href="<%= photos_val['url'] %>" title="<%= photos_val['title'] %>">
                                        <%= photos_val['title'] %>
                                    </a>
                                </h3>  
                                <div class="share-icon-wrap">
                                    <% var shareArr = []; 
                                    shareArr['shareTitle'] = photos_val['title'];
                                    shareArr['shareUrl'] = photos_val['url']; %>
                                    <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
                                </div>                                  
                            </div>
                            
                        </div>
                        <% } } %>
                    </div>
                </section>
                <!--Photo Gallery-->

                <!--IPL 2021 QUIZ
                <div class="apester-media" data-media-id="604b13afc7823f0009707965" height="452"></div><script async src="https://static.apester.com/js/sdk/latest/apester-sdk.js"></script>
                IPL 2021 QUIZ-->

                <!--latest cricket Section-->
                <style type="text/css">
                #iplstoriesSlider .glide__bullets .glide__bullet.glide__bullet--active{background:#f04f38}
                #iplstoriesSlider .glide__bullets .glide__bullet{background:#d6d6d6;border:none;width:30px;height:6px;margin:0 2px;cursor:pointer;outline:0}
                #iplstoriesSlider .glide__bullets{margin:10px 0 40px;display:flex;justify-content:center}
                #iplstoriesSlider .title-div-wrap .share-wrap{bottom:0;right:10px;top:unset}
                #iplstoriesSlider .image-wrap img{width:100%}
                #iplstoriesSlider .share-wrap{position:absolute}
                </style>
                <section class="ipl-slider">
                    <h2 class="page-title"><span>LATEST CRICKET STORIES</span></h2>
                    <div class="glide" id="iplstoriesSlider">
                        <div data-glide-el="track" class="glide__track">
                            <ul class="glide__slides">
                                <% for (const [latestKey, latestValue] of Object.entries(latestStories['CatMainRanking']['main_ranking'])) { %>
                                <li class="glide__slide">
                                    <div class="image-wrap">
                                        <a href="<%=latestValue['post_url']%>" title="<%=latestValue['post_title']%>">
                                            <img src="<%=latestValue['desktop_img']%>" alt="<%=latestValue['post_title']%>" title="<%=latestValue['post_title']%>" />
                                        </a>
                                        <div class="title-div-wrap">
                                            <div class="text-wrap">
                                                <a href="<%=latestValue['post_url']%>" title="<%=latestValue['post_title']%>">
                                                    <h2 class="title-text">
                                                        <%=latestValue['post_title']%>
                                                    </h2>
                                                </a>
                                            </div>
                                            <div class="share-wrap">
                                                <% var shareArr = []; 
                                                shareArr['shareTitle'] = latestValue['post_title'];
                                                shareArr['shareUrl'] = latestValue['post_url']; %>
                                                <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <div class="glide__bullets" data-glide-el="controls[nav]">
                            <button class="glide__bullet" data-glide-dir="=0"></button>
                            <button class="glide__bullet" data-glide-dir="=1"></button>
                            <button class="glide__bullet" data-glide-dir="=2"></button>
                        </div>
                    </div>
                </section>
                <!--latest cricket Section-->

                <!--Misc Story Section-->
                <%- include(viewpath+ '/desktop/firstcricket/ipl/ipl-news-widget'); %>
                <!--Misc Story Section-->
                
                <!--Pagination-->
                <%- include(viewpath+ '/widgets/paginationDefault'); %>
                <!--Pagination-->
            </div>

            <!--IPL RHS-->
            <%- include(viewpath+ '/desktop/firstcricket/ipl/ipl-rhs'); %>
            <!--IPL RHS-->
        </div>
        <style type="text/css">
            .apester-media{margin-top:30px}
            .upcoming-team-div .flag-div.team-one, .upcoming-team-div .flag-div.team-two {
                border-radius: 0;
            }
            #ipl .top-slider-section .share-wrap {
                position: absolute;
                    bottom: 10px;
                right: -5px;
            }
            #ipl .glide__slides{
                padding-bottom: 10px;
            }
            #ipl .ipl-slider .image-wrap {margin: 0;}
            #ipl .video-wrap { height: 100%;}
            #ipl .glide__slide {height: auto;}
            #ipl .photo-wrap .photo-title a {  max-height: 107px;
                min-height: 107px}   
            #ipl .ipl-slider {margin-top:30px}
        </style>
        <!--Main Page Content-->
    </div>
<%- include(viewpath+ '/layouts/footer'); %>