<%- include(viewpath+ '/layouts/amp-header'); %>
  <style amp-custom>
    .transition{-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease}
    @font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:url(/static/fonts/playfair-display-v20-latin-regular.eot);src:local(''), url(/static/fonts/playfair-display-v20-latin-regular.eot?#iefix) format('embedded-opentype'), url(/static/fonts/playfair-display-v20-latin-regular.woff2) format('woff2'), url(/static/fonts/playfair-display-v20-latin-regular.woff) format('woff'), url(/static/fonts/playfair-display-v20-latin-regular.ttf) format('truetype'), url(/static/fonts/playfair-display-v20-latin-regular.svg#PlayfairDisplay) format('svg')}
    @font-face{font-family: 'Playfair Display';font-style: normal;font-weight: 700;src: url(/static/fonts/playfair-display-v20-latin-700.eot);src: local(''), url(/static/fonts/playfair-display-v20-latin-700.eot?#iefix) format('embedded-opentype'), url(/static/fonts/playfair-display-v20-latin-700.woff2) format('woff2'), url(/static/fonts/playfair-display-v20-latin-700.woff) format('woff'), url(/static/fonts/playfair-display-v20-latin-700.ttf) format('truetype'), url(/static/fonts/playfair-display-v20-latin-700.svg#PlayfairDisplay) format('svg')}
    * {box-sizing:border-box}
    body{padding:0;margin: 0;-webkit-overflow-scrolling: touch;color:#000;font-family: Arial,sans-serif;box-sizing: border-box}
    a,h1,h2,h3,h4,h5,h6{padding:0;margin:0}
    ul{padding:0;margin:0;list-style:none}
    a {display:block;text-decoration:none;cursor:pointer;outline:0;color:#000}
    a:hover{text-decoration:none}
    img{vertical-align:top;width:100%}
    .ad-center{display:flex;width:100%;text-align:center;margin:0 0 20px;justify-content:center}
    .tab-container{display:flex}
    .tab{background-color:#fff;width:100%;height:300px}
    .tablinks{display:block;background-color:inherit;color:#000;padding:13px 10px;border:none;outline:0;
    text-align: left;cursor:pointer;transition:.3s;font-size:17px}
    .tablinks:hover{background-color:#ddd}
    .tabcontent{padding:0;width:100%;border-left:none;background:#fff}
    .category-name{font:600 12px/15px Arial;color:#585858;text-transform:uppercase;position:relative;  padding-right:5px;z-index:1;display:inline-block;margin:0 10px}
    .category-name:before{content:'';position:absolute;height:4px;background:#fad65f;left:0;right:0; bottom:2px;z-index:-1}
    .main-story-title{display:flex;flex-direction:column;align-items:center;font:Bold 22px/23px Arial;  letter-spacing:0;color:#000;position:relative;margin-bottom:15px;text-transform:uppercase;text-align:center}
    .main-story-title:before{content:'';position:absolute;left:0;right:0;bottom:2px;border-bottom:#707070 solid 1px;z-index:-1}
    .main-story-title span{display:inline-block;width:83px;height:4px;background:#FAD65F;margin-top:8px;position:relative}
    .main-story-title span:before{content:'';background:#fff;width:10px;height:5px;position:absolute;left:-10px;top:0}
    .main-story-title span:after{content:'';background:#fff;width:10px;height:5px;position:absolute; right:-10px;top:0}
    .double-title{position:relative;margin:0 0 0 11px}
    .title-shadow:after{content:'';display:inline-block;width:100%;height:6px;background:#F5D672;position:absolute;bottom:12px;left:0}
    .title-txt{font:900 Italic 20px/45px Arial;color:#000;text-transform:uppercase;position:relative;z-index:2}
    .title-shadow{font: 900 Italic 24px/53px Arial;color:#F2F2F2;text-transform:uppercase;position:absolute;left:-11px;z-index:1;top:-8px;letter-spacing:1px}
    .see-all{display:flex;color:#333;font:400 12px/18px Arial;text-transform:capitalize;justify-content:flex-end}
    .see-all svg{fill:#333;width:18px}
    .breadcrumb{margin:0 10px 20px}
    .breadcrumb-list{display:flex;align-items:center}
    .breadcrumb-list li{text-transform:capitalize}
    .breadcrumb-list li a{display:inline-block;font:400 12px/15px Arial;letter-spacing:0;color:#000;text-transform:capitalize}
    .breadcrumb-list li:after{content:'>';display:inline-block;color:#B2B2B2;margin:3px 10px;font-family:Consolas;font-size:12px}
    .breadcrumb-list .current{font:400 12px/15px Arial;color:#838383}
    .breadcrumb-list .current:after{display:none}
    header{background:#000;padding:22px 0;position:sticky;top:0;z-index:9}
    header .header-wrap{display:flex;justify-content:space-between;align-items:center;padding:0 10px}
    header .sidenav-menu-btn{display:flex;flex-direction:column;padding:5px;background:none;border:none;}
    header .sidenav-menu-btn span{width:22px;height:2px;margin-bottom:3px;background:#fff}
    .logo-size {display: inline-block;color: #000;position: absolute;left: -25%;top: 5px;left: -88px;}
    .hamburger-menu{position: relative;z-index: 999;}
    #sidenav-wrap{opacity:1;z-index:-9;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, .3);-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease}
    #mySidenav{position:absolute;top:0;left:-320px;bottom:0;width:320px;background:#fff;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;overflow-y:scroll;display:flex;flex-direction:column}
    #mySidenav .horizontal-share{display:flex;margin:10px 0}
    #sidenav-wrap.open #mySidenav{left:0;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease}
    .close-sidenav{display:flex;justify-content:flex-end;padding:10px;background:#fff;border:none}
    button:focus{outline:none}
    .close-sidenav svg{width:24px;height:24px}
    .menu-list, .menu-list li{display:block}
    .menu-list li a{display:block;padding:7px 10px 7px 30px;font:700 12px/24px Arial;color:#000;border-bottom: #B9B9B9 solid 1px}
    .logo{margin: 0 auto}
    #mySidenav .tablinks{border-bottom:#ccc solid 2px;text-align:left;font:600 10px/10px Arial;letter-spacing:0;color:#585858;opacity:1;display:flex;justify-content:center;align-items:center;flex-direction:column;text-transform:capitalize;width:68px}
    #mySidenav .tablinks svg{fill:#B9B9B9;width:16px;height:16px;margin-bottom:6px}
    #mySidenav .tab{height:100%}
    #mySidenav .tab-container{border-top:#B9B9B9 solid 1px;flex-grow:1}
    .main-menu-wrap{-webkit-box-shadow:0 3px 6px 0 #d6d6d6;box-shadow:0 3px 6px 0 #d6d6d6;overflow-x:scroll}
    .main-menu-wrap .menu-wrap{display:flex;white-space:nowrap;padding:0 15px}
    .main-menu-wrap .main-menu, .main-menu-wrap .sub-menu{display:flex;padding:6px 0}
    .main-menu-wrap .main-menu a, .main-menu-wrap .sub-menu a{display:inline-block;font:400 12px/15px Arial;
      padding:0 15px}
    .main-menu-wrap .main-menu li:first-child a, .main-menu-wrap .sub-menu li:first-child a{padding-left:0;  border-left:none}
    .main-menu-wrap .main-menu a{border-left:#C4C4C4 solid 1px}
    .main-menu-wrap .netflix{color:#D32F27}
    .main-menu-wrap .breathfree{color:#F29F46}
    .main-menu-wrap .nine-month{color:#357FC0}
    .main-menu-wrap .main-menu{margin-right:15px;border-right:#9F9F9F solid 1px}
    .main-story-thumb-wrap{position:relative;margin-bottom:30px}
    .main-story-thumb{position:relative;margin-bottom:15px}
    .main-story-thumb .slider .main-story-thumb{padding:10px}
    .main-story-thumb .title-wrap{background:#fff;padding:5px 10px 10px;margin:0 22px;position:absolute;
      bottom:12px;left:0;right:0}
    .main-story-thumb .category-name{display:inline-flex;margin-left:0}
    .main-story-thumb .main-title{font:700 22px/25px 'Playfair Display', sans-serif;letter-spacing:0;color:#000;margin-top:10px}
    .main-story-thumb .live-txt{background:#DF5B43;padding:0 7px;font:Bold 10px/18px Arial;color:#FFF;text-transform:uppercase;position:absolute;top:20px;left:30px;border-radius:2px}
    .main-story-thumb .blinking{display:inline-block;width:9px;height:9px;background:#fff;border-radius:30px;
      animation:blinkingText 1s linear infinite;margin-right:5px}
    @keyframes blinkingText {
      50% {opacity:0}
    }
    .nav-events.ipl2020{background:#f00;padding-left:10px}
    .nav-events.ipl2020 a{color:#fff}
    .main-story-thumb .thumb-social-wrap{position:absolute;top:9px;right:10px}
    .main-story-thumb .live-txt{display:flex;align-items:center;justify-content:center;z-index:99;}
    .main-story-thumb .thumb{display:flex;justify-content:center;padding:0 10px}
    .main-story-thumb .video-icon{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center}
    .sc-icon{width:26px;height:26px;}
    .fb{background-position-x:0}
    .tw{background-position-x:-28px}
    .wa{background-position-x:-56px}
    .ev{background-position-x:-83px}
    .in {background-position-x:54px}
    .yu {background-position-x:right}
    .horizontal-share{display:flex;padding-right:6px}
    .horizontal-share li{padding:0 2px}
    .big-thumb{position:relative;margin-bottom:20px}
    .big-thumb .thumb-img{position:relative}
    .big-thumb .category-name{margin-left:0}
    .big-thumb .title-wrap{background:#fff;padding:5px 5px 10px;margin:-28px 0 0 10px;position:relative}
    .big-thumb .main-title{font:700 22px/25px 'Playfair Display', sans-serif;letter-spacing:0;color:#000; margin-top:15px}
    .big-thumb .copy{font:400 13px/18px Arial;letter-spacing:0;color:#333;margin-top:10px}
    .big-thumb .video-icon{display:flex;justify-content:center;align-items:center;position:absolute;top:0;left:0;width:100%;height:100%}
    .big-thumb .podcast-icon{position:absolute;top:15px;left:15px;width:30px;height:30px}
    .big-thumb .podcast-icon circle, .big-thumb .podcast-icon path{fill:#fff}
    .big-thumb .photo-icon{position:absolute;top:15px;left:15px;width:30px}
    .big-thumb .photo-icon img{width:100%}
    .big-thumb .sponsor-logo{position:absolute;top:8px;right:30px}
    .photos-wrap .big-thumb .main-title{margin:5px 18px 0 0}
    .common-widget{margin:0 10px 30px}
    .top-stories-wrap{border:1px solid #DEDEDE;position:relative;top:-15px;border-bottom:4px solid #000}
    .top-stories-wrap .story-list-ul{list-style-type:none}
    .top-stories-wrap .story-list-ul li{border-bottom:1px solid #D5D5D5;position:relative;counter-increment: inst;padding:15px 5px 15px 45px}
    .top-stories-wrap .story-list-ul li::after{background:#efefef;content:'';display:inline-block;width:27px;
      height:27px;border-radius:50%;position:absolute;z-index:0;left:9px;top:23px}
    .top-stories-wrap .story-list-ul li::before{content:counter(inst);text-align:center;position:absolute;
      transition:all .2s ease-in-out;z-index:1;font:700 37px/17px 'Playfair Display';color:#000;text-transform:uppercase;left:9px}
    .top-play{position:absolute;right:5px;top:5px;border:1px dashed #000;border-radius:30px;padding:4px 4px 0
    }
    .top-head-title{font:700 20px/26px 'Playfair Display';letter-spacing:0;color:#000;margin:0 0 5px}
    .top-head-sum{font:400 14px/17px Arial;letter-spacing:.56px;color:#000}

    .footer{border-top:#585858 solid 6px;padding:10px 0 0}
    .footer .footer-main{display:flex;justify-content:space-between}
    .footer-link-wrap{display:flex;margin-top:10px;padding:0;border-top:#ddd solid 1px;border-bottom:#ddd solid 1px}
    .footer-link-wrap .footer-column{flex:1;border-right:#ddd solid 1px;padding:0 8px 15px}
    .footer-link-wrap .footer-column:last-child{border-right:none}
    .footer-link-wrap .footer-heading{font:800 13px/18px Arial;letter-spacing:0;color:#333;margin-top:15px;
      margin-bottom:7px;text-transform:capitalize}
    .footer-link-wrap .footer-links a{font:400 12px/22px Arial;letter-spacing:0;color:#333}
    .other-sites{display:flex;align-items:center;padding:8px;border-bottom:#ddd solid 1px;margin-bottom:10px}
    .company-name{display:flex;align-items:center;font:800 13px/18px Arial;letter-spacing:0;color:#333; margin-right:10px;flex-shrink:0}
    .company-name svg{width:18px;margin-left:5px;fill:#999}
    .other-sites-links{display:flex;overflow-x:scroll;white-space:nowrap}
    .other-sites-links li{padding:0 8px}
    .other-sites-links li a{font:400 12px/22px Arial;letter-spacing:.24px;color:#333}
    .copywrite{display:flex;justify-content:center;font:400 10px/22px Arial;letter-spacing:0;color:#333}
    .tnc-links{display:flex;justify-content:center;align-items:center;margin:5px 0 10px}
    .tnc-links li{padding:0 5px;border-right:#ccc solid 1px}
    .tnc-links li:last-child {border:none}
    .tnc-links li a{font:700 10px/10px Arial;letter-spacing:0;color:#000}
    .sports-menu-wrap {background: #EAEAEA;margin-bottom:10px;}
    .category-wrap {max-width: 100%;margin: 0 auto;overflow-x: scroll;}
    .sports-menu-wrap .category-wrap {display: flex;}
    .sports-menu-wrap .main-category-div {padding: 10px 0;display: flex;align-items: center;border: none;}
    .sports-menu-wrap .main-category-div a {border-right: 1px solid #c4c4c4;font: 400 12px/14px Arial;letter-spacing: .24px;color: #000; padding: 2px 14px;white-space: nowrap;position: relative;}
    .sport-menu-div {max-width: 100%;overflow: auto;max-height: 65px;overflow-y: hidden;}
.inner-menu-list {display: flex;margin: 12px 0 23px;}
.inner-menu-list li a:first-child {border-left: 1px solid #E2E2E2;}
.inner-menu-list li a {font: 400 13px/20px Arial;letter-spacing: 0;color: #000;display: inline-block;padding: 10px 34px;background: linear-gradient(180deg,#fff 0 87%,grey 200%) no-repeat;border-width: 1px 1px 1px 0;border-style: solid;border-color: #E2E2E2;}
.inner-menu-list li a.active {color:#DF5A43;font-weight:700;font-size:17px;padding: 21px 33px 31px;height: 32px;margin: -12px 0 0;}
.main-content .tab {overflow: scroll; max-width: 100%;display: flex;justify-content: space-between;width: 100%;height: auto;background: 0 0;}
.livescore-tabs .tab {border-bottom: 1px solid #D3D3D3;margin: 0 0 10px;}
.tablinks {display: block;background-color: inherit;color: #000;padding: 13px 10px;border: none;outline: 0;text-align: left;cursor: pointer;transition: .3s;font-size: 17px;}
.main-content .tab a { white-space: nowrap;font: 400 12px/18px Arial;letter-spacing: 0;color: #000;text-decoration: uppercase;display: inline-block;padding: 0 10px 10px;}
.main-content .tab a.active {border-bottom: 4px solid #4D4D4D;color: #D0634B;font-weight: 700;}
.livescore-tabs .tab a.active {border-bottom: 4px solid #4D4D4D;color: #D0634B;font-weight: 700;}
.score-tbl-wrap {margin: 0 10px;}
.score-tbl {border-collapse: collapse;border-spacing: 0;width: 100%;margin: 0 0 20px;}
.score-tbl thead th {padding: 0 10px 15px;font: 700 14px/18px Arial;color: #000;text-transform: uppercase;text-align: left;}
.score-tbl tbody tr td { padding: 10px;border: 1px solid #DBDBDB;text-align: left;font: 400 12px/15px Arial;color: #000;} 
.score-tbl thead th:nth-child(1) {color: #727C8E;}
.score-tbl:last-of-type thead tr th {color: #000;}
.current-status{padding:0 20px;margin:23px 0;letter-spacing:.56px}.sub-sec-title{font:700 14px/19px Arial;color:#727c8e;text-transform:uppercase}.current-team{font:400 14px/18px Arial;color:#000;margin:8px 0}.q-play-score{display:flex;align-items:center;font:700 14px/18px Arial;color:#000}.q-play-score .q-play-name:nth-child(1){margin:0 40px 0 0;position:relative;font-size:12px}.q-play-score .q-play-name:nth-child(1):after{background:#696969;content:'';display:inline-block;width:4px;height:4px;border-radius:4px;position:absolute;top:7px;right:-20px} 
.page-title{margin:0 0 15px;padding:2px;text-align:center;text-transform:uppercase;border-bottom:1px solid #707070;position:relative}.page-title span{text-align:left;font:700 22px/30px arial;letter-spacing:0;color:#000;opacity:1;padding:2px}.page-title:after{content:"";width:83px;height:4px;background:#fad65f;position:absolute;bottom:-3px;left:0;right:0;margin:0 auto;border-left:10px solid #ffff;border-right:10px solid #fff}.video-slider{padding:20px 0 10px 10px;background:#f2f2f2}.video-slider .video-slides{max-width:100%;overflow-x:scroll;display:flex;padding:0 0 10px}.video-slider .video-slides li{min-width:60%;margin:0 20px 0 0}.video-wrap{position:relative;box-shadow:0 3px 6px rgba(0,0,0,.16);padding:0 0 10px;background:#fff}.video-wrap .video-img-wrap{position:relative}.video-wrap .video-icon{z-index: 1;}.video-wrap .video-icon{position:absolute;bottom:0;left:0}.video-wrap .video-title-div{padding:10px 10px 0;margin:0 0 10px}.video-wrap .video-title a{font:700 15px/20px 'Playfair Display';letter-spacing:0;color:#000}.video-wrap .video-title-div a{display:block}.video-wrap .video-title-div .video-title{height:100px; overflow:hidden}.video-wrap .share-detail-div{display:flex;justify-content:space-between;padding:0 10px;align-items:center}.see-all-btn{display:flex;align-items:center;justify-content:flex-end}.see-all-btn a{font:400 12px/18px Arial;letter-spacing:0;color:#333;display:flex;align-items:center;justify-content:flex-end}.double-title{position:relative;margin:0 0 0 11px}.title-txt{font:900 Italic 20px/45px Arial;color:#000;text-transform:uppercase;position:relative;z-index:2}.title-shadow{font:900 Italic 24px/53px Arial;color:#f2f2f2;text-transform:uppercase;position:absolute;left:-1px;z-index:1;top:-8px;letter-spacing:1px}.title-shadow:after{content:'';display:inline-block;width:100%;height:6px;background:#f5d672;position:absolute;bottom:12px;left:0}.ad-slot{text-align:center}.upcoming-wrap{padding:0 0 10px;border:1px solid #dedede;position:relative;top:-15px;margin:0 10px 20px;border-bottom:4px solid #000}.upcoming-wrap .match-link-div{border-bottom:1px solid #dedede}.upcoming-wrap .match-link-div a{display:block;padding:18px 0}.upcoming-wrap .match-link-div .date-wrap{text-align:center}.upcoming-wrap .match-link-div .date-txt{display:inline-block;background:#fad65f;font:700 12px/30px Arial;letter-spacing:.4px;color:#000;padding:0 10px}.upcoming-team-div{margin:10px 0;display:flex;align-items:center;justify-content:space-between}.upcoming-team-div .flag-div.team-one{padding:3px 3px 0 22px}.upcoming-team-div .flag-div{background:#dedede}.upcoming-team-div .flag-div img{width:45px}.upcoming-team-div .flag-team-name{font:900 14px/18px Arial;letter-spacing:.28px;color:#333}.upcoming-team-div .flag-vs-txt{font:900 12px/24px Arial;letter-spacing:.24px;color:#333;width:auto;padding:5px 10px;border-radius:50%;border:1px solid #dedede}.upcoming-team-div .flag-team-name{font:900 14px/18px Arial;letter-spacing:.28px;color:#333}.upcoming-team-div .flag-div.team-two{padding:3px 22px 0 3px}.upcoming-details{text-align:center}.upcoming-details .upcoming-venue{font:400 15px/17px Arial;letter-spacing:0;color:#000}.upcoming-details .upcoming-time{font:900 16px/18px Arial;letter-spacing:.28px;color:#333;margin:10px 0 0}.gallery-wrap{display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 0 40px}.gallery-wrap .photo-wrap{width:100%;max-width:100%;box-shadow:none;padding:0;margin:0 0 15px;position:relative}.gallery-wrap .photo-img-wrap{position:relative}.gallery-wrap .photo-wrap .photo-icon{top:15px;left:15px;position:absolute;z-index:1}.gallery-wrap .photo-wrap .photo-title-div{position:absolute;bottom:-40px;background:#fff;margin:0;padding:7px 10px;display:flex;justify-content:space-between;left:10px}.gallery-wrap .photo-wrap .photo-title{width:80%}.gallery-wrap .photo-wrap .photo-title a{font:Bold 22px/26px 'Playfair Display';letter-spacing:0;color:#000}.thumb-social-wrap{position:relative;top:9px;right:10px}   

    /* AMP Sidebar Tabs CSS */
    :root {
      --color-primary: #005AF0;
      --space-1: .5rem;  /* 8px */
      --space-4: 2rem;   /* 32px */
    }
    #sections ul li:last-child a{border-bottom:none}
    /* Styles for the flex layout based tabs */
    amp-selector[role=tablist].tabs-with-flex {
        display: flex;
        flex-wrap: wrap;
        background:#f1f1f1;
        flex-direction:column;
        border-bottom:1px solid #B9B9B9;
    }
    amp-selector[role=tablist].tabs-with-flex [role=tab] {
        flex-grow: 1;
        /* custom styling, feel free to change */
        text-align: center;
        padding: var(--space-1);
    }
    amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
        outline: none;
        /* custom styling, feel free to change */
        background: #fff;
    }
    amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
        display: none;
        width: 100%;
        order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
        /* custom styling, feel free to change */
        
    }
    amp-selector[role=tablist].tabs-with-flex [role=tab][selected] + [role=tabpanel] {
        display: block;width:76%;margin-left:68px;margin-top:-200px;border-left:1px solid #B9B9B9;min-height:300px;background:#fff;
    }

    /* Styles for the selector based tabs */
    amp-selector[role=tablist].tabs-with-selector {
        display: flex;
    }
    amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {
        outline: none;
        /* custom styling, feel free to change */
        border-bottom: 2px solid var(--color-primary);
    }
    amp-selector[role=tablist].tabs-with-selector {
        display: flex;
    }
    amp-selector[role=tablist].tabs-with-selector [role=tab] {
      /* custom styling, feel free to change */
      width: 100%;
      text-align: center;
      padding: var(--space-1);
    }
    amp-selector.tabpanels [role=tabpanel] {
      display: none;
      /* custom styling, feel free to change */
      padding: var(--space-4);
    }
    amp-selector.tabpanels [role=tabpanel][selected] {
      outline: none;
      display: block;
    }
    footer {background: #000;color: #fff;padding: 20px;text-align: center;}
    .social-icons ul{ margin: 0 10px }
    .social-icons ul li{ margin: 0 10px 0  0; }
</style>

  </head>
  <body>
    <%- include(viewpath+ '/layouts/amp-hamburger'); %>    
        <% if (typeof ads  !== 'undefined' && typeof ads['ATF_320']  !== 'undefined'){%>
        <div class="ad-center" >
            <%-common.displayAmpAds(ads['ATF_320'][0] , ads['ATF_320'][1] , ads['ATF_320'][2] , ads['ATF_320'][3]) %>
        </div>
        <% } %>    

    <%- include(viewpath+ '/widgets/breadCrumbs'); %>
    <%- include(viewpath+ '/layouts/level-4-nav'); %>

    <div class="main-story-thumb-wrap">
      <h3 class="main-story-title">
        <a href="">Cricket News</a>
        <span></span>
      </h3>
      <amp-carousel width="400" height="300" layout="responsive" type="slides">
        <% for (const [homePageJson_key, homePageJson_val] of Object.entries(homePageJson['CatMainRanking']['main_ranking'])) { %>
        <div class="main-story-thumb slide">
          <amp-img src="<%=homePageJson_val['modified_postImg'] %>" width="363" height="495" layout="responsive" alt="<%=homePageJson_val['modified_title'] %>" title="<%=homePageJson_val['modified_title'] %>"></amp-img>
          <div class="title-wrap">
            <a href="<%=homePageJson_val['modified_posturl'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" ></a>
            <h1 class="main-title">
              <a href="<%=homePageJson_val['modified_posturl'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>"><%=homePageJson_val['modified_title'] %></a>
            </h1>
          </div>
        </div>
        <% } %>
      </amp-carousel>
    </div><!--main-story-thumb-->

    <% for (const [homePageJson_key, homePageJson_relVal] of Object.entries(homePageJson['CatMainRanking']['related_ranking'])) { %>
    <div class="big-thumb">
        <a href="<%=homePageJson_relVal['modified_posturl'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" class="thumb-img">
            <amp-img src="<%-common.firstpost_imageOptimization(homePageJson_relVal['modified_postImg'], 320, 180, '') %>" width="320" height="180" layout="responsive" alt="<%=homePageJson_relVal['modified_title'] %>" title="<%=homePageJson_relVal['modified_title'] %>"></amp-img>
        </a>
        <div class="title-wrap">
            <a href="<%=homePageJson_relVal['modified_posturl'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>"></a>
            <h3 class="main-title">
              <a href="<%=homePageJson_relVal['modified_posturl'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>"><%=homePageJson_relVal['modified_title'] %></a>
            </h3>
           <!--  <p class="copy">
              There are many things you can do to recharge yourself before another work week begins.
            </p> -->    
        </div><!--big-thumb-->
    </div>
    <% } %>
    <% if (typeof ads  !== 'undefined' && typeof ads['ATF_300']  !== 'undefined'){%>
    <div class="ad-center" >
        <%-common.displayAmpAds(ads['ATF_300'][0] , ads['ATF_300'][1] , ads['ATF_300'][2] , ads['ATF_300'][3]) %>
    </div>
    <% } %>
    <!--Video Section-->
<div class="video-section">
    <h2 class="page-title"><span>Videos</span></h2>
    <div class="video-slider">
        <div>
            <ul class="video-slides">
                <% for (const [homePageJson_key, homePageJson_videos] of Object.entries(templateVars['videosList']['solarResults'])) { %>
                <li>
                    <div class="video-wrap">                                    
                        <div class="video-img-wrap">
                            <div class="video-icon">
                                <svg fill="#fff" width="57.887" height="57.887" viewBox="0 0 57.887 57.887"><defs><filter id="a" x="0" y="0" width="57.887" height="57.887" filterUnits="userSpaceOnUse"><feGaussianBlur stdDeviation="4.5" result="b"></feGaussianBlur><feFlood flood-opacity="0.294"></feFlood><feComposite operator="in" in2="b"></feComposite><feComposite in="SourceGraphic"></feComposite></filter></defs><g class="b" transform="matrix(1, 0, 0, 1, 0, 0)"><path class="a" d="M17.443,2A15.443,15.443,0,1,0,32.887,17.443,15.449,15.449,0,0,0,17.443,2ZM14.355,24.393v-13.9l9.266,6.95Z" transform="translate(11.5 8.5)"></path></g></svg>
                            </div>
                            <a href="<%=homePageJson_videos['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" title="<%=homePageJson_videos['title'] %>">
                                <amp-img src="<%-common.firstpost_imageOptimization(homePageJson_videos['image'], 192, 104, '') %>" width="192" height="104" alt="<%=homePageJson_videos['title'] %>" title="<%=homePageJson_videos['title'] %>" layout="responsive"></amp-img>
                            </a>
                        </div>
                    
                        <div class="video-title-div">
                            <h3 class="video-title">
                                <a href="<%=homePageJson_videos['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" title="<%=homePageJson_videos['title'] %>">
                                    <%=homePageJson_videos['title'] %>
                                </a>
                            </h3> 
                        </div>
                    </div>
                </li>
                <% } %>                                
            </ul>
        </div>
        <div class="see-all-btn">
            <a href="<%=constant.SITE_URL%>/firstcricket/cricket-videos/" title="">
                See All 
                <svg fill="#333333" height="20" viewBox="0 0 24 24" width="20"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path><path d="M0 0h24v24H0V0z" fill="none"></path></svg>
            </a>
        </div>
    </div>
</div>
    <% for (const [homePageJson_key, homePageJson_news] of Object.entries(templateVars['cricketNews']['solarResults'])) { %>
    <div class="big-thumb">
        <a href="<%=homePageJson_news['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" class="thumb-img">
            <amp-img src="<%-common.firstpost_imageOptimization(homePageJson_news['image'], 320, 180, '') %>" width="320" height="180" layout="responsive" alt="<%=homePageJson_news['title'] %>" title="<%=homePageJson_news['title'] %>"></amp-img>
        </a>
        <div class="title-wrap">
            <a href="<%=homePageJson_news['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>"></a>
            <h3 class="main-title">
              <a href="<%=homePageJson_news['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>"><%=homePageJson_news['title'] %></a>
            </h3>
            <!-- <p class="copy">
              There are many things you can do to recharge yourself before another work week begins.
            </p> -->      
        </div>
    </div><!--big-thumb-->
    <% } %>
    <% if (typeof outbrain_ads  !== 'undefined' && typeof outbrain_ads['AMP_2']  !== 'undefined'){%>
        <%-outbrain_ads['AMP_2'];%>
    <% } %>
    <%- include(viewpath+ '/widgets/most_read_widget'); %>
    <% if (typeof ads  !== 'undefined' && typeof ads['BTF_300']  !== 'undefined'){%>
    <div class="ad-center" >
        <%-common.displayAmpAds(ads['BTF_300'][0] , ads['BTF_300'][1] , ads['BTF_300'][2] , ads['BTF_300'][3]) %>
    </div>
    <% } %>

        <!--Cricket Scores-->
        <div class="upcoming-matches">
            <%- include(viewpath+ '/mobile/firstcricket/amp-cric-upcoming-matches-widget'); %>
        </div>
        <!--Cricket Scores-->
        <!--Photo Gallery-->
<div class="photo-section">
    <h2 class="page-title"><span>Photos</span></h2>
    <div class="gallery-wrap">
        <div class="photo-wrap">
            <div class="photo-img-wrap">
                <div class="photo-icon">
                    <amp-img src="<%-constant.SITE_URL%>static/images/cricket/photo-icon.png" width="30" height="30"></amp-img>    
                </div>
                <a href="<%=templateVars['photoGallery']['solarResults'][0]['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL)%>">
                 <amp-img src="<%-common.firstpost_imageOptimization(templateVars['photoGallery']['solarResults'][0]['image'], 320, 180, '') %>" width="320" height="180" layout="responsive" alt="<%=templateVars['photoGallery']['solarResults'][0]['title']%>" title="<%=templateVars['photoGallery']['solarResults'][0]['title']%>"></amp-img>
                </a>  
            </div>
            <div class="photo-title-div">
                <h3 class="photo-title">
                    <a href="<%=templateVars['photoGallery']['solarResults'][0]['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL)%>">
                      <%=templateVars['photoGallery']['solarResults'][0]['title']%>
                   </a>    
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="video-section">
    <div class="video-slider">
        <div>
            <ul class="video-slides">
                <% for (const [homePageJson_key, homePageJson_photos] of Object.entries(templateVars['photoGallery']['solarResults'])) { %>
                <%if(homePageJson_key != '0'){%>
                <li>
                    <div class="video-wrap">                                    
                        <div class="video-img-wrap">
                            <div class="video-icon">
                                <amp-img src="<%-constant.SITE_URL%>static/images/cricket/photo-icon.png" width="30" height="30"></amp-img>
                            </div>
                            <a href="<%=homePageJson_photos['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" title="<%=homePageJson_photos['title'] %>">
                                <amp-img src="<%-common.firstpost_imageOptimization(homePageJson_photos['image'], 192, 104, '') %>" width="320" height="180" layout="responsive" alt="<%=homePageJson_photos['title'] %>" title="<%=homePageJson_photos['title'] %>"></amp-img>
                            </a>
                        </div>
                    
                        <div class="video-title-div">
                            <h3 class="video-title">
                                <a href="<%=homePageJson_photos['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" title="<%=homePageJson_photos['title'] %>">
                                    <%=homePageJson_photos['title'] %>
                                </a>
                            </h3> 
                        </div>
                    </div>
                </li>
                <% } } %>                                
            </ul>
        </div>
        <div class="see-all-btn">
            <a href="<%=constant.SITE_URL%>/firstcricket/photo-gallery/" title="">
                See All 
                <svg fill="#333333" height="20" viewBox="0 0 24 24" width="20"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path><path d="M0 0h24v24H0V0z" fill="none"></path></svg>
            </a>
        </div>
    </div>
</div>
<!--Photo Gallery-->
<%- include(viewpath+ '/layouts/amp-footer'); %>