<div class="desc vevent" style="margin-bottom: 2px;">
    <span class="dtstart" style="display:none;"><%=sche_val['matchdate_ist']%></span>
    <span style="display:none;" class="dtend"><%=sche_val['end_matchdate_ist']%></span>
    <span style="display:none;" class="description">Live score <%=sche_val['teama']%> vs <%=sche_val['teamb']%> <%=sche_val['matchnumber']%> at <%=sche_val['venue']%> </span>
    <span style="display:none;" class="summary"><%=sche_val['teama']%> vs <%=sche_val['teamb']%></span>
    <div class="match-venue" style="display:none;" data-venue="<%=sche_val['venue']%>"> <p style="display:none;"><%=sche_val['matchnumber']%></p>,<div style="display:none;" class="location category venue-detail1"> <%=sche_val['venue']%></div> </div>
    <span style="display:none;" class="url"><%= matchUrl %></span></div>
    
    <div style="display:none;" class="event-wrapper" itemscope itemtype="http://schema.org/Event">
      <div style="display:none;" class="event-date" itemprop="startDate" content="<%=sche_val['matchdate_ist']%>"><%=sche_val['matchdate_ist']%></div>                  
      <div style="display:none;" class="event-title" itemprop="name"><%=sche_val['teama']%> vs <%=sche_val['teamb']%></div>
      <div style="display:none;" class="event-title" itemprop="description"><%=sche_val['matchnumber']%> Score</div>
      <div style="display:none;" class="event-venue" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name"><%=sche_val['venue']%></span>                    
        <div style="display:none;" class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress"><%=sche_val['venue']%></span><br>
        </div>
      </div>
</div>