<%- include(viewpath+ '/layouts/m-header'); %>
<script type="text/javascript">
  $('#sticky-share .fb, .tw, .wa, .mail').attr('title', <%- JSON.stringify(postPageJson['post']['post_title']) %>);
    $('#sticky-share .fb, .tw, .wa, .mail').attr('data-url', <%- JSON.stringify(postPageJson['post']['post_url']) %>);
    $('#sticky-share .fb, .tw, .wa, .mail').attr('data-title', <%- JSON.stringify(postPageJson['post']['post_title']) %>);
    $("#sticky-share .mail").attr('href','mailto:?subject='+<%- JSON.stringify(postPageJson['post']['post_title']) %>+'&body='+<%- JSON.stringify(postPageJson['post']['post_url']) %>); 
</script>
<%
var new_url = '';
if(typeof photoArr !== 'undefined' && photoArr != ''){
     new_url = photoArr[0]['url_new'];
} %>
<div class="container mainArticlediv"  data-url="<%-new_url%>" data-title="<%-postPageJson['post']['post_title']%>" id="aid_<%-postPageJson['post']['ID']%>">
    <!--cricket-ticker-wrap-->
    <%- include(viewpath+ '/widgets/m-cricketscore_strip'); %>
    <!--cricket-ticker-wrap-->
	<% if (typeof ads  !== 'undefined' && typeof ads['ATF_320']  !== 'undefined'){%>
		<div class="ad-center"  data-ad-id="<%-ads['ATF_320'][0]%>" data-ad-size="<%-ads['ATF_320'][1]%>">
		    <%-common.displayAds(ads['ATF_320'][0]) %>
		</div>
	<% } %>  
	<%- include(viewpath+ '/widgets/breadCrumbs'); %>
	<div class="article-content clearfix">
		<%# include(viewpath+ '/widgets/floating_social_share_widget'); %>
		<div class="article-sect"  id="articleCont">
			<div class="innerpage-share">
				<h2 class="category-name"><a href="<%=constant.SITE_URL%>category/<%=catSlug_new%>" class="section-btn"><%=common.capitalizeFLetter(catSlug_new)%></a></h2>
				<%# include(viewpath+ '/widgets/social_share_widget'); %>
				</div>
				<h1 class="inner-main-title" id="headlineitem">
				<%=postPageJson['post']['post_title'] %>
				</h1>
				<p class="inner-copy">
				<%=postPageJson['post']['post_excerpt']%>
				</p>
				
				<div class="author-info">
				<a href="<%=constant['SITE_URL']%>author/<%=postPageJson['post']['post_authorslug']%>"><span class="article-by <% if(catSlug == 'health'){%> health-category <% } %>"><%=postPageJson['post']['post_authorname']%></span></a>
				<span><%=dateFormat(postPageJson['post']['post_date'] , "mmmm dd',' yyyy HH:MM:ss")%> IST</span>
				</div>
				<% if(typeof photoArr !== 'undefined' && photoArr != ''){ %>
				<div class='galleryListWrap'  itemscope itemtype="http://schema.org/ImageGallery">
				<%
				var photo_cnt = 1;
				for (const [photos_key, photos_val] of Object.entries(photoArr)) { %>
					<div class="photo-con-list"  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-url="<%-photos_val['url_new'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" data-desc="<%=seoData['metaDesc']%>" data-index="<%-photos_val['photo_cnt']%>" data-photo-id="<%-photos_val['photo_cnt']%>" data-title="<%=photos_val['title']%>">
					<img class="glrbox fp-lazy" src="<%-constant.PLACEHOLDER_IMG_320x180 %>" data-src="<%-common.firstpost_imageOptimization(photos_val['img_src'])%>" itemprop="http://schema.org/image"  alt="<%=photos_val['title']%>" title="<%=photos_val['title']%>">
					<div class="photo-count">
						<strong><%-photos_val['photo_cnt']%></strong>/<%-photoArr.length%>
					</div>
					<div class="photo-copy">
						<%=photos_val['title']%>
						<% var shareArr = [];
						if(typeof photos_val['title'] === 'undefined'){
						shareArr['shareTitle'] = seoData['metaTitle'].replace(/'/g , "").replace(/"/g , '');
						}else{
						shareArr['shareTitle'] = photos_val['title'].replace(/'/g , "").replace(/"/g , '');
						}
						
						shareArr['shareUrl'] = photos_val['url_new']; %>
						<%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
					</div>        	
					</div>
				<%
					if(photo_cnt == 2){
						if (typeof ads  !== 'undefined' && typeof ads['ATF_300']  !== 'undefined'){%>
							<div class="ad-center"  data-ad-id="<%-ads['ATF_300'][0]%>" data-ad-size="<%-ads['ATF_300'][1]%>">
								<%-common.displayAds(ads['ATF_300'][0]) %>
							</div>
				<%		}
					}else if(photo_cnt%2 == 0){
						if (typeof ads  !== 'undefined' && typeof ads['BTF_300']  !== 'undefined'){%>
						<div class="ad-center"  data-ad-id="<%-ads['BTF_300'][0]%>" data-ad-size="<%-ads['BTF_300'][1]%>">
							<%-common.displayAds(ads['BTF_300'][0]) %>
						</div>
				<%		}
					}
					photo_cnt++
				} %>
				</div>
				<% } %>
				<!-- <div class="share-page innerpage-share">
					<p>Share this article</p>
					<%- include(viewpath+ '/widgets/social_share_widget'); %>
				</div> -->
				<% if (typeof outbrain_ads  !== 'undefined' && typeof outbrain_ads['MB_1']  !== 'undefined'){%>
				    <%-outbrain_ads['MB_1'];%>	
				<% } %>
				
		</div>
	</div>
	<%- include(viewpath+ '/widgets/mailChimp'); %>
    <%- include(viewpath+ '/widgets/most_read_widget'); %>

    <!-- Apester code -->
	    <!--<div class="apester-media" data-token="57026ab0d51383a359ae688c" data-context="true" data-tags="" data-fallback="true" height="350"></div><script async src="https://static.apester.com/js/sdk/latest/apester-sdk.js"></script>-->
	<!-- Apester code end-->

    <%- include(viewpath+ '/widgets/related_article_widget'); %>
    <input type="hidden" name="" id="nxtarticle" value="1">
</div>
<%  if(typeof infiniteArticlesList !== 'undefined' && infiniteArticlesList != ''){%>
	<%- include(viewpath+ '/widgets/continuous_scroll'); %>
<%  } %>
<%- include(viewpath+ '/layouts/m-footer'); %>