<div class="right-section topspace">
    
    <% if ("olympics-games" != template2){%>    

    <div class="sports-wrap">
        <h3 class="sport-ttl">SPORTS</h3>
        <div id="sports" class="sport-cont glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-aquatics"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Aquatics.png" alt=""><div class="spname">Aquatics</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-archery"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Archery.png" alt=""><div class="spname">Archery</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-athletics"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Athletics.png" alt=""><div class="spname">Athletics</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-badminton"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Badminton.png" alt=""><div class="spname">Badminton</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-baseball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Baseball.png" alt=""><div class="spname">Baseball</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-basketball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Basketball.png" alt=""><div class="spname">Basketball</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-boxing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Boxing.png" alt=""><div class="spname">Boxing</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-canoeing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Canoeing.png" alt=""><div class="spname">Canoeing</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-cycling"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Cycling.png" alt=""><div class="spname">Cycling</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-equestrian"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Equestrian.png" alt=""><div class="spname">Equestrian</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-fencing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Fencing.png" alt=""><div class="spname">Fencing</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-hockey"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Field-Hockey.png" alt=""><div class="spname">Field Hockey</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-football"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Football.png" alt=""><div class="spname">Football</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-golf"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Golf.png" alt=""><div class="spname">Golf</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-gymnastics"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Gymnastics.png" alt=""><div class="spname">Gymnastics</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-handball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Handball.png" alt=""><div class="spname">Handball</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-judo"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Judo.png" alt=""><div class="spname">Judo</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-karate"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Karate.png" alt=""><div class="spname">Karate</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-modern-pentathlon"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Modern-Pentathlon.png" alt=""><div class="spname">Modern Pentathlon</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-rowing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Rowing.png" alt=""><div class="spname">Rowing</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-rugby-sevens"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Rugby-Sevens.png" alt=""><div class="spname">Rugby Sevens</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-sailing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Sailing.png" alt=""><div class="spname">Sailing</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-shooting"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Shooting.png" alt=""><div class="spname">Shooting</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-skateboarding"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Skateboarding.png" alt=""><div class="spname">Skateboarding</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-softball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Softball.png" alt=""><div class="spname">Softball</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-sports-climbing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Sports-climbing.png" alt=""><div class="spname">Sports climbing</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-surfing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Surfing.png" alt=""><div class="spname">Surfing</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-table-tennis"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Table-Tennis.png" alt=""><div class="spname">Table Tennis</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-taekwondo"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Taekwondo.png" alt=""><div class="spname">Taekwondo</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-tennis"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Tennis.png" alt=""><div class="spname">Tennis</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-triathlon"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Triathlon.png" alt=""><div class="spname">Triathlon</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-volleyball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Volleyball.png" alt=""><div class="spname">Volleyball</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-weightlifting"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Weightlifting.png" alt=""><div class="spname">Weightlifting</div></a></li>
                    <li class="glide__slide"><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-wrestling"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Wrestling.png" alt=""><div class="spname">Wrestling</div></a></li>
                </ul>
                <div data-glide-el="controls">
                    <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"/></svg>
                    </button>

                    <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
       
    <% } %> 

    
  
	<div class="rt-banner">
        <% if ((typeof ads  !== 'undefined' && typeof ads['ATF_300'] !== 'undefined')){%>
            <div class="ad-center ATF_300 fixed-ad-banner-rhs" data-ad-id="<%-ads['ATF_300'][0]%>" data-ad-size="[<%-ads['ATF_300'][1]%>]">
                <%-common.displayAds(ads['ATF_300'][0]) %>
            </div>
        <% } %> 
		<!-- <img src="<%-constant.SITE_URL %>static/images/olympics/rhs-banner.png" alt=""> -->
	</div>

    <% if (typeof ads  !== 'undefined' && typeof ads['PG_1x1']  !== 'undefined'){%>
    <div>
        <%-common.displayAds(ads['PG_1x1'][0]) %>
    </div>
    <% } %>
    <!-- <div class="medaltally-wrap">
        <img src="<%-constant.SITE_URL %>static/images/olympics/medal-tally.jpg" alt="">
    </div> -->
    <% if ("olympics-medaltally" != template2){%>
    <div class="medal-wrap widg">
        <h3 class="sport-ttl">MEDAL TALLY</h3>
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <th width="3%"></th>
                <th width="48%">Country</th>
                <th width="10%"><img src="<%-constant.SITE_URL %>static/images/olympics/gold.png" alt="" /></th>
                <th width="10%"><img src="<%-constant.SITE_URL %>static/images/olympics/silver.png" alt="" /></th>
                <th width="10%"><img src="<%-constant.SITE_URL %>static/images/olympics/bronze.png" alt="" /></th>
                <th width="20%">total</th>
            </tr>
            <% if(templateVars && templateVars['medalData'] && templateVars['medalData']['medals_tally'] ) { %>
            <% const medalLeaderboard = templateVars['medalData']['medals_tally'] %>      
            <% medalLeaderboard.forEach((data, index) => { 
                const {rank,team_name,short_team_name,gold_count,silver_count,bronze_count,medals_count} = data
                const serialNo = index+1
                if(serialNo > 10) return %>
            <tr class="<% if(team_name == 'India'){%>active<%}%>">
                <td  width="3%"><%- rank %></td>
                <td  width="48%">
                    <span><%- short_team_name %></span>
                </td>
                <td width="10%"><%- gold_count %></td>
                <td width="10%"><%- silver_count %></td>
                <td width="10%"><%- bronze_count %></td>
                <td width="20%"><%- medals_count %></td>
            </tr>
            <% }) %>
            <% } %>
            <% if(templateVars && templateVars['medalData'] && templateVars['medalData']['medals_tally'] ) { %>
            <% const medalLeaderboard = templateVars['medalData']['medals_tally'] %>
            <% medalLeaderboard.forEach((data, index) => {
                const {rank,team_name,short_team_name,gold_count,silver_count,bronze_count,medals_count} = data
            %>
            <% if(team_name == 'India' && rank > 10) { %>
            <tr class="active">
                <td  width="3%"><%- rank %></td>
                <td  width="48%">
                    <span><%- short_team_name %></span>
                </td>
                <td width="10%"><%- gold_count %></td>
                <td width="10%"><%- silver_count %></td>
                <td width="10%"><%- bronze_count %></td>
                <td width="20%"><%- medals_count %></td>
            </tr>
            <% } %>
            <% }) %>
            <% } %>
        </table>
    </div>
    <% } %>
	<div class="rt-banner">
        <% if ((typeof ads  !== 'undefined' && typeof ads['MTF_300'] !== 'undefined')){%>
            <div class="ad-center MTF_300 fixed-ad-banner-rhs" data-ad-id="<%-ads['MTF_300'][0]%>" data-ad-size="<%-ads['MTF_300'][1]%>">
                <%-common.displayAds(ads['MTF_300'][0]) %>
            </div>
        <% } %> 
		<!-- <img src="<%-constant.SITE_URL %>static/images/olympics/rhs-banner-vert.png" alt=""> -->
	</div>
	<div class="olym-tweet">
		<a class="twitter-timeline" data-width="300" data-height="600" data-theme="light" href="https://twitter.com/FirstpostSports?ref_src=twsrc%5Etfw">Tweets by FirstpostSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<!-- <div class="rt-banner">
        <% if ((typeof ads  !== 'undefined' && typeof ads['MTF_300'] !== 'undefined')){%>
            <div class="ad-center MTF_300 fixed-ad-banner-rhs" data-ad-id="<%-ads['MTF_300'][0]%>" data-ad-size="<%-ads['MTF_300'][2]%>">
                <%-common.displayAds(ads['MTF_300'][0]) %>
            </div>
        <% } %> 
		 <img src="<%-constant.SITE_URL %>static/images/olympics/rhs-banner1.png" alt="">
	</div> -->
    <% if(pageName != 'firstpost-olympics-player'){ %>
	<div class="daily-quiz-wrap">
		<h3 class="ttl">Daily Quiz</h3>
		<div class="daily-cont">
            <div class="daily-container">
                <% for (const [glide_key, glide_val] of Object.entries(transformData)) { %>
                    <% var no = parseInt(glide_key)+1; %>
                <div class="quesItem active">
                    <div class="errOption" style="display: none;">Please select an option</div>
                    <h3 class="ques"><%= no %> <%= glide_val['question'].replace(/[^a-zA-Z0-9'"’.?, ]/g,"") %></h3>
                    <div class="options">
                        <ol>
                            <% for (const [option_key, option_val] of Object.entries(glide_val['options'])) { %>
                                <% var no = parseInt(option_key)+1; var radioId= 'radio'+no; var correctAnswer = parseInt(glide_val['correctOption']); %>
                                    <li>
                                        <input type="radio" id="<%=radioId %>" name="ques1" 
                                        value="<%= no == correctAnswer ? "1" : "0" %>">
                                        <label for="<%=radioId %>"><span><span></span></span><em>
                                            <%= option_val %></em></label></li>
                            <% } %>

                            <!-- <li><input type="radio" id="radio2" name="ques1" value="<%= 2 == quizData['correct_option'][glide_key] ? "1" : "0" %>"><label for="radio2"><span><span></span></span><em><%= quizData['option_2'][glide_key] %></em></label></li>
                            <li><input type="radio" id="radio3" name="ques1" value="<%= 3 == quizData['correct_option'][glide_key] ? "1" : "0" %>"><label for="radio3"><span><span></span></span><em><%= quizData['option_3'][glide_key] %></em></label> </li>
                            <li><input type="radio" id="radio4" name="ques1" value="<%= 4 == quizData['correct_option'][glide_key] ? "1" : "0" %>"><label for="radio4"><span><span></span></span><em><%= quizData['option_4'][glide_key] %></em></label></li>
                         -->
                        </ol>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="quizAnswer"  style="display: none;">
            <h3 class="ques">Thank you for taking the quiz</h3>
            <h4 class="ques">You have attempted <%= quizData['noOfQues'] %> questions </h4>
            <h3 class="answer" id="answer"><span><span></span></span><em>Your Total Score is: 100</em></h3> 
            </div>

			<div class="pagination" id="quiztest">
				<div class="quesnos"><span id="qsno">1</span> of <%= quizData['noOfQues'] %></div>
				<a href="javascript:void(0);" class="next-btn" onclick="next()"><span>Next</span><i class="icon"><svg height="24px" viewBox="0 0 24 24" width="24px" fill="#a7a7a7"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"></path></svg></i></a>
                <a href="javascript:void(0);" class="submit-btn"  onclick="submitQuiz()" style="display:none"><span>Submit</span></a>
			</div>
		</div>
	</div>
    <% } %>
	<div class="rt-banner">
        <% if ((typeof ads  !== 'undefined' && typeof ads['BTF_300'] !== 'undefined')){%>
            <div class="ad-center BTF_300 fixed-ad-banner-rhs" data-ad-id="<%-ads['BTF_300'][0]%>" data-ad-size="<%-ads['BTF_300'][2]%>">
                <%-common.displayAds(ads['BTF_300'][0]) %>
            </div>
        <% } %> 
		<!-- <img src="<%-constant.SITE_URL %>static/images/olympics/rhs-banner2.png" alt=""> -->
	</div>
</div>