<%- include(viewpath+ '/desktop/microsites/olympics-header'); %>
	<div class="wrapper">
		<div class="breadcrumbs">
			<ul>
				<li><a href="<%=constant.SITE_URL%>sports/olympics/">Olympic 2020</a></li>
				<li><span>India's Olympic History</span></li>
			</ul>
		</div>
		<div class="cont-wrap" id="olympic-history">
			<div class="left-section">
				<h1 class="pgttl">
					<span>INDIA'S OLYMPIC HISTORY</span>
				</h1>
				<div class="history-wrap">
					<div class="anchor-wrap">
						<a href="#1900">1900</a>
						<a href="#1920">1920</a>
						<a href="#1924">1924</a>
						<a href="#1928">1928</a>
						<a href="#1932">1932</a>
						<a href="#1936">1936</a>
						<a href="#1948">1948</a>
						<a href="#1952">1952</a>
						<a href="#1956">1956</a>
						<a href="#1960">1960</a>
						<a href="#1964">1964</a>
						<a href="#1968">1968</a>
						<a href="#1972">1972</a>
						<a href="#1976">1976</a>
						<a href="#1980">1980</a>
						<a href="#1984">1984</a>
						<a href="#1988">1988</a>
						<a href="#1992">1992</a>
						<a href="#1996">1996</a>
						<a href="#2000">2000</a>
						<a href="#2004">2004</a>
						<a href="#2008">2008</a>
						<a href="#2012">2012</a>
						<a href="#2016">2016</a>
					</div>
					<div class="history-box" id="1900">
						<div class="flex-box">
							<h2 class="mbttl">1900 Paris Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1900.png" alt=""></div>
							<div class="cont">
								<h2>1900 Paris Olympics</h2>
								<p>Despite the fact that India were part of the British Empire until 1947, a majority of Olympic historians differentiate between athletes that competed for countries and athletes that competed under the banner of erstwhile colonies, meaning that India's first Olympic appearance came a lot sooner than you would've thought. In fact, the first time an Indian competed in the Olympics was all the way back in the 1900 Paris Summer Olympics.</p>
								<p class="showtext">Norman Pritchard, who was born in Calcutta, became the first Indian and first Asian to participate in the Games, but that is not the only noteworthy thing about his appearance. He competed in five different athletics events, namely the 60m, the 100m, the 200m, the 110m hurdles and the 200m hurdles, and he won silver medals in two out of the five events, making it a debut to remember for India. Of course, there is still some debate over whether or not Pritchard represented India, but the International Olympic Committee (IOC) firmly maintains that he was an Indian athlete, which is good enough for us.</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1920">
						<div class="flex-box">
							<h2 class="mbttl">1920 Antwerp Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1920.png" alt=""></div>
							<div class="cont">
								<h2>1920 Antwerp Olympics</h2>
								<p>India's next appearance at the Olympics would come a full twenty years later in Antwerp, when thanks to the work of Deccan Gymkhana President Dorabji Tata, an Indian team was sent to compete at the Games for the first time ever. This team consisted of five athletes: Purma Bannerjee (100m, 400m), Phadeppa Chaugule (10000m, Marathon), Sadashiv Datar (Marathon), Kumar Navale (Wrestling) and Randhir Shindes (Wrestling).</p>
								<p class="showtext">The athletes' performances were nothing to write home about, with none of the shorter-distance runners making it past the heats. Of the two marathon runners, only Chaugule managed to finish, crossing the line in 19th place. Navale did not fare much better in the middleweight wrestling event, getting a bye in the first round and then losing his first match proper. The highlight of this year was undoubtedly the performance of Shindes, who made it all the way to the semi-finals of the featherweight category, before losing his last two matches to end the contest without a medal in fourth place. </p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1924">
						<div class="flex-box">
							<h2 class="mbttl">1924 Paris Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1924.png" alt=""></div>
							<div class="cont">
								<h2>1924 Paris Olympics</h2>
								<p>India followed up their decision to send a small team in 1920 by putting together an even-larger contingent for the 1924 Games in Paris. The Indian team was made up of 14 athletes, with seven competitors for athletics, and seven tennis players. In athletics, James Hall (100m, 200m), Wilfred Hildreth (100m, 200m), Cheruvari 'CK' Lakshmanan (110m), Terence Pitt (100m, 200m, 400m), Dalip Singh (Long Jump), Mahadeo Singh (Marathon) and Pala Singh (1500m, 5000m, 10000m) competed for India, but none of them was able to pick up any medals.</p>
								<p class="showtext">The tennis team was made up of Athar Fyzee, Syed Mohammad Hadi, Sydney Jacob, Mohammed Sleem, Donald Rutnam, Nora Polley and Mehri Tata. Polley and Tata were the first women to represent India at the Olympics, but unfortunately for Tata, she was unable to actually compete after receiving a bye in the first round and then giving a walkover to her opponents in the second round. India also missed out on medals in tennis, with Jacob (men's singles) and Hadi/Rutnam (men's doubles) coming closest by making it to the quarter-finals.</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1928">
						<div class="flex-box">
							<h2 class="mbttl">1928 Amsterdam Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1928.png" alt=""></div>
							<div class="cont">
								<h2>1928 Amsterdam Olympics</h2>
								<p>It was the beginning of an era for Indian hockey at the 1928 Olympic Games in Amsterdam as inspired leadership from then captain Jaipal Singh led the men's team to country's maiden Olympic gold medal.</p>
								<div class="showtext">
									<p>India were ruthlessly dominant throughout the league stage, outplaying the likes of Belgium and Switzerland on their way to the final, where they beat Netherlands 3-0 to claim the historic prize.</p>
									<p>Major Dhyan Chand, widely regarded as 'Wizard of Hockey', was instrumental, ending the tournament as India’s leading scorer with 14 goals, including a hat-trick in the final. In just five matches throughout the tournament, India amassed 30 goals, but what’s more, they did this all without conceding a single goal.</p>
									<p>This victory, thus began India's golden streak at the Olympics that would go on until the 1956 Games.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1932">
						<div class="flex-box">
							<h2 class="mbttl">1932 Los Angeles Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1932.png" alt=""></div>
							<div class="cont">
								<h2>1932 Los Angeles Olympics</h2>
								<p>It was yet another successful Games for the Indian men's hockey team, as they clinched their second consecutive gold medal. </p>
								<p>European countries stayed away from this edition due to the Great Depression, and the tournament was contested by 37 nations. In hockey, only three nations sent their teams - hosts United States, India and Japan.</p>
								<div class="showtext">
									<p>However, India's road to LA was not easy, as the Indian Hockey Federation (IHF) were reeling under a financial crisis, and even considered pulling out of the Games at one point.</p>
									<p>The IHF approached the royal families and governors, while also managing to obtain a loan. At the same time, the IHF also raised funds through gate receipts at exhibition matches as India played matches across Bangalore, Chennai (then Madras), Mumbai (then Bombay) among other cities.</p>
									<p>Even during their 42-day sea voyage to Los Angeles, India played exhibition matches at almost every port, thereby displaying their potential.</p>
									<p>On the field, India were once again the dominant side. Just three countries competing meant that every team was assured of a medal.</p>
									<p>India thumped Japan in the first match 11-1, while the Japanese beat hosts United States 9-2 in the second.</p>
									<p>India pumped 24 goals against the US, which became the biggest score in an international hockey match.</p>
									<p>Roop Singh, younger brother of Dhyan Chand, created a record for the most number of goals scored by an individual in a single match, slamming 10 en route to victory.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1936">
						<div class="flex-box">
							<h2 class="mbttl">1936 Berlin Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1936.png" alt=""></div>
							<div class="cont">
								<h2>1936 Berlin Olympics</h2>
								<p>This edition of Olympics marked the hat-trick of gold medals for the Indian men’s hockey team at the Games. By the end of the tournament, India had cemented their place among the greatest hockey-playing nations, and their latest success in the Berlin was led by none other than Major Dhyan Chand. 11 countries were divided into three groups - Group A and Group C had four teams each and Group B had three. India were joined with Japan, Hungary and United States in Group A, where only the top team qualified for the semi-finals.</p>
								<div class="showtext">
									<p>India entered the Olympics with a 48-match unbeaten streak and continued to do what they did best - score goals. They outplayed Hungary (4-0), United States (7-0) and Japan (9-0) in the group stage, before amassing 10 goals against France in the semi-finals.</p>
									<p>India then met Germany in the summit clash. Germany, too, were coming off a strong show in the group stage with victories over Afghanistan and Denmark, which enabled them to top their group with four points.</p>
									<p>India started the final well, disallowing the Germans to make room for themselves and attack the opposition.</p>
									<p>Dhyan Chand rode on the back of India's aggressive display to score six past Germany, but that did not come without a setback. He was involved in a collision with German keeper Tito Warnholtz, which resulted him losing his tooth.</p>
									<p>He, however, returned strongly in the second half to clinch India's hat-trick with an 8-1 win over Germany. All in all, India ended the tournament scoring 38 goals and conceding just one.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1948">
						<div class="flex-box">
							<h2 class="mbttl">1948 London Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1948.png" alt=""></div>
							<div class="cont">
								<h2>1948 London Olympics</h2>
								<p>This was India's first Olympic Games as an independent nation, and the country sent 39 athletes to the Games in London, who participated across 10 events.</p>
								<p>And yet, the lone medal came in the form of gold, once again from the Indian hockey team.</p>
								<div class="showtext">
									<p>13 teams were divided into three groups (with Group A and B having four teams and five in Group C), and India were placed with Argentina, Austria and Spain in Group A. They thumped Austria (8-0) and Argentina (9-1), before seeing off Spain (2-0), and met Netherlands in the semis, who they beat 2-1.</p>
									<p>The legendary centre-forward Balbir Singh Senior would make a mark on the big stage; he would go onto be a part of India's next hat-trick of golds that followed.</p>
									<p>Balbir was not initially selected in the squad due to internal quarrels over regionalism, but veteran hockey player Dickie Carr, a gold medal winner at the 1932 LA Olympics, persuaded the IHF for Balbir’s inclusion, and he was added.</p>
									<p>Balbir made his debut against Argentina, scoring six past the South Americans. However, Balbir was not utiliesed to the maximum by the team management, and protests from a few Indian students in London made the management change their mind and bring back Balbir.</p>
									<p>Balbir would go onto score two goals in the final against Great Britain as India romped to their fourth gold with a 4-0 win.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1952">
						<div class="flex-box">
							<h2 class="mbttl">1952 Helsinki Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1952.png" alt=""></div>
							<div class="cont">
								<h2>1952 Helsinki Olympics</h2>
								<p>Another Olympics, another routine Games for the Indian hockey team as they clinched their fifth gold medal. But, that was not all.</p>
								<p>Wrestler KD Jadhav became independent India's first individual medal winner when he won bronze in men's freestyle wrestling (57 kg) in Helsinki. 64 competitors (60 men, four women) took part in the Games as India finished with a total of two medals.</p>
								<div class="showtext">
									<p>This edition of the Games also witnessed another landmark-with teenager Nilima Ghose becoming the first Indian woman to participate in the Olympics. The 17-year-old competed in two events - 100m sprint and 80m hurdles in Heinsinki. Ghose finished the 100m heat at 13.8 seconds, but finished last and failed to advance to the next round. A couple of days later, Ghose took part in the 80m hurdles as the event’s youngest athlete, and finished fifth with a time of 13.07 seconds.</p>
									<p>Another sprinter Mary D’ Souza was among the four women to take part in the Games, becoming unsuccessful in qualifying for the Women's 100m and 200m events.</p>
									<p>Apart from the duo, swimmers Dolly Nazir and Arati Saha also made a mark in the Games.</p>
									<p>The men's hockey tournament was held on a knock-out basis with India, led by KD Singh 'Babu', receiving a 'bye' to the second-round with Pakistan and Great Britain.</p>
									<p>India routed Austria 4-0 in the quart-finals. Despite the big margin over victory, India's passing looked shaky and the damp field conditions made it even tough to execute their plans on heavy grass. Nevertheless, India overcame this as well as Great Britain (3-1) in the semis, where Balbir Singh Sr scored the second of his three Olympic hat-tricks.</p>
									<p>India then went onto rout Netherlands in the summit clash, where Balbir would amass five goals as India romped to their fifth consecutive Olympic hockey gold.</p>
									<p>India finished the Games with one gold and a bronze.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1956">
						<div class="flex-box">
							<h2 class="mbttl">1956 Melbourne Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1956.png" alt=""></div>
							<div class="cont">
								<h2>1956 Melbourne Olympics</h2>
								<p>The 1956 Olympiad witnessed the world's largest sporting event move to Australia for the first time with Melbourne hosting the 16th Summer Olympic Games. India fielded a 59-strong contingent - of which sprinter Mary Rao (100m) was the only female athlete.</p>
								<div class="showtext">
									<p>While the heroics of KD Jadhav in the previous edition at Helsinki, winning an individual medal that is, could not be repeated by any of the athletes four years later, the Indian men’s hockey team continued its domination in the sport, winning their sixth consecutive gold medal by beating arch-rivals Pakistan - whom they were facing for the first time since the partition nine years earlier - in the final. India emerged victors by a narrow 1-0 margin, but would go on to surrender their Olympic streak to the same opponents four years later at Rome.</p>
									<p>India also progressed all the way to the bronze-medal match in the men’s football event, beating hosts Australia 4-2 at the Melbourne Cricket Ground along the way. While Bulgaria would take home the bronze after a 3-0 win over the Indians, there was some consolation in Neville D’Souza finishing the leading goal-scorer at the event. </p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1960">
						<div class="flex-box">
							<h2 class="mbttl">1960 Rome Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1960.png" alt=""></div>
							<div class="cont">
								<h2>1960 Rome Olympics</h2>
								<p>Having hosted the Winter Olympics in 1956, Italy got to host the summer Games for the first time as the Olympic caravan moved to Rome in 1960.</p>
								<p>As far as the Indian contingent, which had 45 athletes taking part in 20 events across six sports, was concerned, their biggest takeaway from the 17th Summer Games were the men’s hockey team's gold-winning streak finally coming to an end after 22 years, and Milkha Singh nearly becoming the third Indian to win an individual Olympic medal.</p>
								<div class="showtext">
									<p>Milkha, also known as the 'Flying Sikh', who was making his second Olympic appearance, was one of the favourites going into the men's 400m final, gradually improving his timing through the heats. Despite starting strong in the final race and looking certain for a historic podium finish, a costly error in judgement with 250 metres left proved his undoing as it allowed South Africa's Malcolm Spence to close in and finish ahead of him by a fraction of a second in a photo finish, the bronze medal slipping out of his hand by just 0.1 seconds.</p>
									<p>India also endured disappointment in field hockey as their run of six consecutive gold medals in the men’s event was brought to an end by neighbours Pakistan, who won the gold medal match 1-0. In men’s football, despite finishing at the bottom of Group D with two defeats in three games, the Indian team was impressive in their game against European heavyweights France, whom they held to a 1-1 draw.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1964">
						<div class="flex-box">
							<h2 class="mbttl">1964 Tokyo Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1964.png" alt=""></div>
							<div class="cont">
								<h2>1964 Tokyo Olympics</h2>
								<p>The 1964 Olympiad was the first time the Games were hosted in an Asian country, as Japan was awarded the opportunity to showcase themselves in new light and redeem its global image in the aftermath of the second World War. Tokyo, which is also scheduled to host this year's postponed Games, was chosen as the host city for the eighteenth edition with Yoshinori Sakai, who was born on the day the atom bomb exploded in Hiroshima, chosen as the carrier of the Olympic flame as a tribute to the victims.</p>
								<div class="showtext">
									<p>The Olympics is best-remembered from the Indian perspective for India regaining gold in men’s field hockey after their winning streak in the event ended at Rome with a defeat to Pakistan, which was followed by a defeat to the same opponents in the 1962 Asian Games. For the third consecutive time, India faced their neighbours in the gold medal match, and for the third consecutive time, it ended in a 1-0 margin, this time in favour of the team captained by Charanjit Singh at the Komazawa Hockey Field.</p>
									<p>The hockey team’s gold-medal feat was, however, the only performance of note from the Indian contingent, which had 53 participants across 42 events in eight sports.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1968">
						<div class="flex-box">
							<h2 class="mbttl">1968 Mexico City Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1968.png" alt=""></div>
							<div class="cont">
								<h2>1968 Mexico City Olympics</h2>
								<p>The 19th Olympic Games at Mexico City, the first and till date the only Games held in Mexico, is most famously remembered for the ‘Black Power Salute’ in what was one of the most political1964 Tokyo Olympics Olympics of all time. It was also the first time East and West Germany competed as separate nations, and also witnessed drug testing and female gender verification being carried out for the first time in the history of the event.</p>
								<div class="showtext">
									<p>India fielded a considerably small contingent for Mexico City, just 25 athletes - all men - for 11 events across five sports making the final cut. The centre of attention was the men's hockey team as usual. Though they started strong by topping their pool with six wins in seven games, they failed to reach the final for the first time since 1928 after losing to Australia 2-1 in the semi-final. The team which was jointly captained by Prithipal Singh and Gurbax Singh, however bounced back in the bronze medal match against West Germany, which they won to help the nation avoid drawing a blank that year. Some, though, argue that the loss to Australia marked the beginning of the slide in Indian hockey.</p>
									<p>As for the other competitors, shooters Karni Singh and Randhir Singh finished 10th and 17th in the men’s trap event, while Sudesh Kumar (52kg), Bishamber Singh (57kg) and Udey Chand (70kg) managed to reach the fifth round in men's freestyle wrestling.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1972">
						<div class="flex-box">
							<h2 class="mbttl">1972 Munich Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1972.png" alt=""></div>
							<div class="cont">
								<h2>1972 Munich Olympics</h2>
								<p>Perhaps the most infamous Games of all time, the 1972 Munich Olympics, were the first to be held on German soil since the end of the second World War. Like the Tokyo edition eight years ago, 1972 Munich was meant to mark the beginning of a new era for the war-torn nation. But the enduring memory of these Games will be the terrorist attack in the Olympic village that resulted in the deaths of five Israeli athletes and six coaches. </p>
								<div class="showtext">
									<p>India sent a much larger team to the West German host city, a total of 40 men and one woman in 27 events across seven sports, 16 more than the number of people who had qualified for the Mexico City Games. The increase in the contingent size, however, didn’t translate to a proportional increase in the medal tally, as India finished with a bronze medal in the men’s hockey event for a second consecutive edition. Like the previous edition, India topped their pool, winning five games out of seven.</p>
									<p>They were, however, stopped in their tracks by arch-rivals Pakistan, who handed them a 2-0 loss to progress into yet another Olympic final and ultimately win silver. India, whose dominance in the sport was slowly beginning to fade around this time, finished beat Netherlands 2-1 in the bronze playoff, winning India their only medal of the 20th edition of the Games.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1976">
						<div class="flex-box">
							<h2 class="mbttl">1976 Montreal Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1976.png" alt=""></div>
							<div class="cont">
								<h2>1976 Montreal Olympics</h2>
								<p>For the first time in over fifty years, India failed to win a single medal at the Olympic Games in 1976 in Montreal - the first and till date the only time the Summer Games have been hosted in Canada.</p>
								<div class="showtext">
									<p>For more than three decades, the men's hockey team had been ensuring India did not return from an Olympiad empty-handed. Petty feuds and regionalism had started to creep into Indian hockey towards the end of the previous decade and this was taking a toll on its on-field performances.</p>
									<p>India finished third in Group A behind Netherlands and Australia with three wins in five games, which, unfortunately for them, wasn't enough for them to progress into the semi-finals. What's worse, India lost to West Germany in the fifth-place playoffs and ended up seventh only after beating Malaysia 2-0. Also, for the first time since 1928, an Asian side failed to reach the final of the men's hockey event, with Pakistan losing to Australia in the semis, before settling for bronze by beating Netherlands.</p>
									<p>Hockey aside, Sriram Singh Shekhawat impressed in the men's 800m event, reaching the final where he finished seventh. The Honorary Captain, who had joined the Rajputana Rifles regiment of the Indian Army in 1968, broke his own Asian record during the heats on his way to the final, and set a national record that would last more than four decades, before getting bettered by Jinson Johnson recently.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1980">
						<div class="flex-box">
							<h2 class="mbttl">1980 Moscow Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1980.png" alt=""></div>
							<div class="cont">
								<h2>1980 Moscow Olympics</h2>
								<p>The 1980 Olympics, held in Moscow, will always be remembered the world over for the boycott by many nations, led by the United States of America, due to the Soviet Union’s invasion of Afghanistan. But Indians will remember it as the last time the Indian hockey team won a medal-gold- at the Games.
								</p>
								<p class="showtext">The 1980 Games also saw PT Usha make her Olympic debut at the age of 16. She competed in two events: 100m and 200m. India also fielded teams in women's hockey, basketball and had four equestrian riders competing. Karni Singh, the man after whom the shooting ranges in New Delhi are named; Adille Sumariwala, the current president of Athletics Federation of India; and Satpal Singh, the coach of two-time Olympic medallist Sushil Kumar were some other names at Moscow 1980 who went on to make a mark on Indian sport.</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1984">
						<div class="flex-box">
							<h2 class="mbttl">1984 Los Angeles Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1984.png" alt=""></div>
							<div class="cont">
								<h2>1984 Los Angeles Olympics</h2>
								<p>This was the year that the great Indian hockey drought at the Olympics began. The men's hockey team, with names like Mohammed Shahid, Zafar Iqbal, Joaquim Carvalho and Marcellus Gomes, returned home empty-handed.</p>
								<p class="showtext">Elsewhere on the athletics track, PT Usha, now in her second Olympics, came within touching distance of winning an Olympic medal. She lost out on winning a bronze by one-hundredth of a second in the 400m hurdles race. Meanwhile, Shiny Abraham made it to the semi-finals of the 800m event after clocking a personal best of 2:04.69 secs while the Indian women's 4x400M relay team also made it to the finals, finishing last (while setting an Asian record of 3:32.49 secs).</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1988">
						<div class="flex-box">
							<h2 class="mbttl">1988 Seoul Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1988.png" alt=""></div>
							<div class="cont">
								<h2>1988 Seoul Olympics</h2>
								<p>At the Seoul Olympics in 1988, the Indian contingent did not return home with any medals.</p>
								<p>The men's hockey team had a disappointing run at the 1988 Olympics, finishing sixth, despite the presence of Mohammed Shahid, MM Somaya, Mervyn Fernandis, Jude Felix, Jagbir Singh, Mark Patterson and Pargat Singh. </p>
								<p class="showtext">Elsewhere, storied legends of their own sports like tennis ace Vijay Amritraj, PT Usha (400m hurdles) and archer Limba Ram returned home empty-handed.</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="1992">
						<div class="flex-box">
							<h2 class="mbttl">1992 Barcelona Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1992.png" alt=""></div>
							<div class="cont">
								<h2>1992 Barcelona Olympics</h2>
								<p>The 1992 will forever be remembered in history for the breath-taking artistry of the USA's Dream Team. While that outfit, consisting of Magic Johnson, Larry Bird, Michael Jordan, was mesmerising the world, it was the first time two of India's biggest sporting legends-Leander Paes and Dhanraj Pillay—made their Games debut.</p>
								<p class="showtext">India set a 53-member contingent to the Barcelona Olympics, but ended the Games medal-less. Leander and his partner Ramesh Krishnan came as close as the quarter-finals but lost to Australia's John Fitzgerald and Todd Woodbridge in the men's doubles event in Barcelona. The men's hockey team, meanwhile, finished seventh. </p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="1996">
						<div class="flex-box">
							<h2 class="mbttl">1996 Atlanta Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/1996.png" alt=""></div>
							<div class="cont">
								<h2>1996 Atlanta Olympics</h2>
								<p>At the Atlanta Olympics, Leander Paes wrote his name in Olympic history by winning a bronze medal in the men's singles tennis event. Paes' medal was the first individual medal for an Indian athlete at the Olympics after KD Jadhav's bronze at Helsinki in 1952 and the first medal for India at the Games after 1980. </p>
								<div class="showtext">
									<p>While it remains India's only medal in tennis at the Olympics, since 1996, India's individual athletes have won medals at every edition of the Games.</p>
									<p>Paes lost to Andre Agassi in the semis. In his bronze medal playoff, he came up against Brazil's Fernando Meligeni. The Indian was in trouble at one point, trailing 30-40 on serve while the score was 1-2 in the second set after dropping the first set. But Paes found inspiration from within to mount a comeback to give India only its second individual medal since Independence.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="2000">
						<div class="flex-box">
							<h2 class="mbttl">2000 Sydney Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/2000.png" alt=""></div>
							<div class="cont">
								<h2>2000 Sydney Olympics</h2>
								<p>The first Summer Olympics of the new millennium didn’t bring any great cheers for the country as the 65-member Indian contingent returned with a solitary bronze. Yet, this continues to be among the most important bronze medals in India's sports history as it was for the first time that a woman had won it.</p>
								<div class="showtext">
									<p>Weightlifter Karnam Malleswari, competing in the 69 kg division, lifted a total of 240 kgs (110 in snatch and 130 in clean and jerk) to become the first, and so far the only woman weightlifter from India to win an Olympic medal. Boxer MC Mary Kom and shuttler Saina Nehwal followed her lead in 2012, while wrestler Sakshi Malik and badminton ace PV Sindhu took the legacy forward in 2016.</p>
									<p>Malleswari's success was not a flash in the pan. Her Olympic podium was preceded by four consecutive World Championships medals from 1993 to 1996, including gold medals in '94 and '95. Those, however, were won in the 54 kg class. She won an Asian Games silver (1998) in 63 kg category, and by the time the International Olympic Committee (IOC) introduced weightlifting for women at the Games in 2000, many believed Malleswari was past her prime. Be that as it may, she lifted not just 240 kgs of metal in Sydney, but also the hopes and aspirations of countless women in Indian sports.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="2004">
						<div class="flex-box">
							<h2 class="mbttl">2004 Athens Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/2004.png" alt=""></div>
							<div class="cont">
								<h2>2004 Athens Olympics</h2>
								<p>India sent a contingent of 73 athletes to the 2004 Summer Olympics in Athens, and by the time the team returned, Captain Rajyavardhan Singh Rathore had become a household name in the country. Hitherto unknown in public conscience despite medals at World Championships, World Cups, and Commonwealth Games, 'Chilly' shot a silver in men's double trap event to win country's only medal at the 2004 Olympics.</p>
								<p class="showtext">Rathore's medal was then India's first individual silver at the Olympics and started a glorious phase in Indian shooting at the Games. Overall, it was another story of misses for India as quite a few athletes - Samanacha Chanu, Kunjarani, Devi (both weightlifting), Abhinav Bindra, and Suma Shirur (both shooting) - made it to the finals but none, barring Rathore, could climb the podium. The tennis doubles pair of Leander Paes and Mahesh Bhupati came close to a medal too, but lost their bronze medal match to Croatia.</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box" id="2008">
						<div class="flex-box">
							<h2 class="mbttl">2008 Beijing Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/2008.png" alt=""></div>
							<div class="cont">
								<h2>2008 Beijing Olympics </h2>
								<p>A bespectacled Abhinav Bindra with a raised fist and an impish, embarrassed smile, having won gold with an incredible 10.8 in the last shot of men’s 10-metre air rifle final, became the toast of a medal-starved nation on 11 August, 2008 to mark Beijing Olympics as an immovable pit-stop in India’s sporting history. It remains India’s only individual gold at the Games. A World Championships gold medallist and a two-time Commonwealth Games winner by the time he entered his third Olympics, a yet-to-be-25 Bindra put up an exhibition of pristine shooting under tremendous pressure to reach where no Indian shooter, or an individual athlete, had been before.</p>
								<p class="showtext">Almost spurred by his success, Vijender Singh won a bronze to claim India's first ever boxing medal at the Games while wrestler Sushil Kumar, competing in his second Olympics, also won a bronze. It was India's first medal in wrestling since KD Jadhav's feat in 1952 Olympics. Among other notable performers was a teenaged Saina Nehwal’s run to quarter-finals in her maiden Olympics. Boxers Jitender Kumar and Akhil Kumar also reached quarters to cap a creditable performance.</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="2012">
						<div class="flex-box">
							<h2 class="mbttl">2012 London Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/2012.png" alt=""></div>
							<div class="cont">
								<h2>2012 London Olympics</h2>
								<p>India's most successful Olympics till date saw the country doubling its medal haul from Beijing. There was no gold medal, but Indian shooting and wrestling did come of age. Vijay Kumar and Gagan Narang won a silver and a bronze in 25-metre rapid fire pistol and 10-metre air rifle events respectively, while Joydeep Karmakar finished fourth in men's 50-metre prone event. Wrestler Sushil Kumar bettered his bronze medal from 2008 with a silver in 66 kg category while Yogeshwar Dutt won a bronze in 60 kg event.</p>
								<p class="showtext">The biggest story of the Olympics from an Indian perspective though was the rise of women athletes. Twelve years after Karnam Malleswari became the first Indian woman to climb the Olympic podium, London 2012 had iconic boxer MC Mary Kom and shuttler Saina Nehwal picking a bronze each to herald a new era for women in Indian sports. The Indian men’s hockey team, after ignominiously missing the previous edition, made a comeback in 2012 but lost each of its five matches in group stage.</p>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
					<div class="history-box history-box-gray" id="2016">
						<div class="flex-box">
							<h2 class="mbttl">2016 Rio Olympics</h2>
							<div class="thumb-wrap"><img src="<%-constant.SITE_URL %>static/images/olympics/newHistory/2016.png" alt=""></div>
							<div class="cont">
								<h2>2016 Rio Olympics</h2>
								<p>India sent their highest ever contingent - 117 athletes across 15 disciplines - to Rio Olympics in 2016. Having won six medals in the previous edition of the Olympics, talks of a double-digit haul did the rounds in the run-up to the Games, but once the action began in the Brazil capital, it was a tale of gloom and disappointment.</p>
								<div class="showtext">
									<p>Barring a fourth-place finish by Abhinav Bindra, no shooter could make an impression. Boxing, that had yielded medals in 2008 and 2012, didn't produce a single podium finish, while men's wrestling also proved to be a disappointment. Sania Mirza and Rohan Bopanna came close to a medal in mixed doubles category, Indian women's hockey team returned to the Olympics after a gap of 36 years, and gymnast Dipa Karmakar caught the nation's attention with her Produnova vault, but medals were just not coming.</p>
									<p>Sakshi Malik ended the draught with a bronze in 58 kg category to become the first woman wrestler from India to medal at the Olympics. Two days later, shuttler PV Sindhu went down to Spain's Carolina Marin in the women's singles final to secure a silver. Sindhu, in fact, had a memorable week where she got the better of Tai Tzu Ying and Nozomi Okuhara before losing to Marin in three games.</p>
									<p>The two medals, and Karmakar's vault to the fourth place, made it a Games to remember for India's women athletes, so much so that a new generation of female sportspersons, such as Manu Bhaker, Vinesh Phogat, and Anjum Moudgil are seen as genuine medal contenders for Tokyo Games.</p>
								</div>
								<div class="readmore-wrap"><a href="javascript:void(0);" class="readmore">Read &nbsp;<span>more</span> <i class="arwdwn"><svg width="20" height="20" viewBox="0 0 24 24" fill="#fff"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></i></a></div>
							</div>
						</div>
					</div>
				</div>
				 <a id="back2Top" title="Back to top" href="javascript:void(0);" style="position: fixed; bottom: 60px; left: 45.5%;"><svg width="40" height="40" viewBox="0 0 24 24" fill="#000"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></a>
			</div>
			<%- include(viewpath+ '/desktop/microsites/olympics-rhs'); %>
		</div>
	</div>

	<link rel="stylesheet" type="text/css" href="<%-constant.SITE_URL%>static/css/olympics.css">
    <link rel="stylesheet" type="text/css" href="<%-constant.SITE_URL%>static/css/footer-fp.css">
    <script type="text/javascript" src="<%-constant.SITE_URL%>static/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="<%-constant.SITE_URL%>static/js/glide.min.js"></script>
    <script type="text/javascript" src="<%-constant.SITE_URL%>static/js/olymp-common.js?v=1"></script>
    
    <script type="text/javascript">
    	$(document).ready(function(){
    		$('#back2Top').hide();
    		$('.anchor-wrap a').on('click', function(){
    			$('#back2Top').show();
    		});
    		$("#back2Top").click(function(event) {
	          event.preventDefault();
	          $(this).hide();
	          $("html, body").animate({scrollTop: 0}, 1000);
	          return false;
	        });
	        $(window).scroll(function(){
				var scroll = $(window).scrollTop();
				if (scroll >= 500) {
					$('#back2Top').show()
				}
				else{
					$('#back2Top').hide()
				}
			});
    	});
    </script>

<%- include(viewpath+ '/desktop/microsites/olympics-footer'); %>