<%- include(viewpath+ '/desktop/microsites/olympics-header'); %>
<div class="wrapper">
    <div class="breadcrumbs">
        <ul>
            <li><a href="<%=constant.SITE_URL%>sports/olympics/">Olympic 2020</a></li>
            <li><span>Olympic Sports</span></li>
        </ul>
    </div>
    <div class="cont-wrap">
        <div class="left-section">
            <div class="sports-main-wrap">
                <h1 class="pgttl">
                    <span>Olympic Sports</span>
                </h1>
                <ul class="list-wrap">
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-aquatics"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Aquatics.png" alt=""><span class="icname">Aquatics</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-archery"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Archery.png" alt=""><span class="icname">Archery</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-athletics"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Athletics.png" alt=""><span class="icname">Athletics</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-badminton"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Badminton.png" alt=""><span class="icname">Badminton</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-baseball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Baseball.png" alt=""><span class="icname">Baseball</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-basketball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Basketball.png" alt=""><span class="icname">Basketball</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-boxing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Boxing.png" alt=""><span class="icname">Boxing</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-canoeing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Canoeing.png" alt=""><span class="icname">Canoeing</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-cycling"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Cycling.png" alt=""><span class="icname">Cycling</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-equestrian"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Equestrian.png" alt=""><span class="icname">Equestrian</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-fencing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Fencing.png" alt=""><span class="icname">Fencing</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-hockey"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Field-Hockey.png" alt=""><span class="icname">Field Hockey</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-football"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Football.png" alt=""><span class="icname">Football</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-golf"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Golf.png" alt=""><span class="icname">Golf</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-gymnastics"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Gymnastics.png" alt=""><span class="icname">Gymnastics</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-handball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Handball.png" alt=""><span class="icname">Handball</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-judo"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Judo.png" alt=""><span class="icname">Judo</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-karate"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Karate.png" alt=""><span class="icname">Karate</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-modern-pentathlon"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Modern-Pentathlon.png" alt=""><span class="icname">Modern Pentathlon</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-rowing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Rowing.png" alt=""><span class="icname">Rowing</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-rugby-sevens"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Rugby-Sevens.png" alt=""><span class="icname">Rugby Sevens</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-sailing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Sailing.png" alt=""><span class="icname">Sailing</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-shooting"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Shooting.png" alt=""><span class="icname">Shooting</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-skateboarding"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Skateboarding.png" alt=""><span class="icname">Skateboarding</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-softball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Softball.png" alt=""><span class="icname">Softball</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-sports-climbing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Sports-climbing.png" alt=""><span class="icname">Sports climbing</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-surfing"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Surfing.png" alt=""><span class="icname">Surfing</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-table-tennis"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Table-Tennis.png" alt=""><span class="icname">Table Tennis</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-taekwondo"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Taekwondo.png" alt=""><span class="icname">Taekwondo</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-tennis"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Tennis.png" alt=""><span class="icname">Tennis</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-triathlon"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Triathlon.png" alt=""><span class="icname">Triathlon</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-volleyball"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Volleyball.png" alt=""><span class="icname">Volleyball</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-weightlifting"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Weightlifting.png" alt=""><span class="icname">Weightlifting</span></a></li>
                    <li><a href="https://www.firstpost.com/tag/tokyo-olympics-2020-wrestling"><img src="<%-constant.SITE_URL %>static/images/olympics/sports/Wrestling.png" alt=""><span class="icname">Wrestling</span></a></li>
            </ul>
                
            </div>
        </div>
        <%- include(viewpath+ '/desktop/microsites/olympics-rhs'); %>
    </div>
</div>
<%- include(viewpath+ '/desktop/microsites/olympics-footer'); %>