<div class="videos small-thumb-wrap">
    <h3 class="main-story-title">
        <a href="<%-constant.SITE_URL%>category/videos" title="Videos">
            Videos
        </a>
        <span>
        </span>
    </h3>
    <div class="glide videos-slider" id="videosslider">
        <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
            	<% for (const [homePageJson_key, homePageJson_val] of Object.entries(homePageJson['HPLatestVideos'])) { %>
                <div class="glide__slide small-thumb">
                    <a href="<%-homePageJson_val['VidPostURL'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" class="thumbnail" title="<%-homePageJson_val['PostTitle'] %>">
                        <img class="fp-lazy" src="<%-constant.PLACEHOLDER_IMG_192x104 %>" data-src="<%-common.firstpost_imageOptimization(homePageJson_val['PostImage'], 192, 104, '') %>" alt="<%-homePageJson_val['PostTitle'] %>">
                        <svg class="video-icon" height="70.182" viewbox="0 0 70.182 70.182" width="70.182">
                            <defs>
                                <filter filterunits="userSpaceOnUse" height="70.182" id="a" width="70.182" x="0" y="0">
                                    <feoffset dy="3" input="SourceAlpha">
                                    </feoffset>
                                    <fegaussianblur result="b" stddeviation="4.5">
                                    </fegaussianblur>
                                    <feflood flood-opacity="0.294">
                                    </feflood>
                                    <fecomposite in2="b" operator="in">
                                    </fecomposite>
                                    <fecomposite in="SourceGraphic">
                                    </fecomposite>
                                </filter>
                            </defs>
                            <g transform="matrix(1, 0, 0, 1, 0, 0)">
                                <path d="M23.591,2A21.591,21.591,0,1,0,45.182,23.591,21.6,21.6,0,0,0,23.591,2ZM19.273,33.307V13.875l12.955,9.716Z" fill="#fff" transform="translate(11.5 8.5)">
                                </path>
                            </g>
                        </svg>
                    </a>
                    <a href="<%-homePageJson_val['VidPostURL'].replace(constant.MAIN_SITE_URL, constant.SITE_URL) %>" title="<%-homePageJson_val['PostTitle'] %>" class="copy">
						<%-homePageJson_val['PostTitle'] %>
					</a>
                    <% var shareArr = []; 
		             shareArr['shareTitle'] = homePageJson_val['PostTitle'];
		             shareArr['shareUrl'] = homePageJson_val['VidPostURL']; %>
		            <%- include(viewpath+ '/widgets/popup_social_share_widget',{shareArr:shareArr}); %>
                </div>
                <% } %>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <div class="glide__arrow glide__arrow--prev" data-glide-dir="<">
                    <svg height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none">
                        </path>
                        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z">
                        </path>
                    </svg>
                </div>
                <div class="glide__arrow glide__arrow--next" data-glide-dir=">">
                    <svg height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none">
                        </path>
                        <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <a href="<%-constant.SITE_URL%>category/videos" class="see-all" title="See All">
        see all
        <svg viewbox="0 0 24 24">
            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z">
            </path>
            <path d="M0 0h24v24H0V0z" fill="none">
            </path>
        </svg>
    </a>
</div>
<!--videos-->
