<%- include(viewpath+ '/layouts/header'); %>
<div class="container mainArticlediv">
    <% if (typeof ads  !== 'undefined' && typeof ads['ATF_728']  !== 'undefined'){%>
        <div class="ad-center ATF_728"  data-ad-id="<%-ads['ATF_728'][0]%>" data-ad-size="<%-ads['ATF_728'][1]%>">
            <%-common.displayAds(ads['ATF_728'][0]) %>
        </div>
    <% } %>  
    <!--cricket-ticker-wrap-->
    <%- include(viewpath+ '/widgets/cricketscore_strip'); %>
    <!--cricket-ticker-wrap-->
    <%- include(viewpath+ '/widgets/breadCrumbs'); %>
    <!-- main container wrapper -->
    <div class="main-container" >
	<div class="main-content">
		<div class="article-div-wrap">
			<%- include(viewpath+ '/widgets/floating_social_share_widget'); %>
			<div class="article-sect">
				<div class="innerpage-share">
					<h2 class="category-name"><a href="<%=constant.SITE_URL%>category/<%=catSlug_new%>" class="section-btn"><%=common.capitalizeFLetter(catSlug_new)%></a></h2>
					<%# include(viewpath+ '/widgets/social_share_widget'); %>
					</div>
					<h1 class="inner-main-title" id="headlineitem">
					<%=postPageJson['post']['post_title']%>
					</h1>
					<p class="inner-copy">
					<%=postPageJson['post']['post_excerpt']%>
					</p>
					
					<div class="author-info">
					<a href="<%=constant['SITE_URL']%>author/<%=postPageJson['post']['post_authorslug']%>"><span class="article-by <% if(catSlug == 'health'){%> health-category <% } %>"><%=postPageJson['post']['post_authorname']%></span></a>
					<span><%=dateFormat(postPageJson['post']['post_date'] , "mmmm dd',' yyyy HH:MM:ss")%> IST</span>
					</div>
					<%  if(typeof videoURLArr !== 'undefined' && videoURLArr != ''){ %>
					<%- include(viewpath+ '/widgets/video_player_widget',{videoURLArr:videoURLArr}); %>
					<%  }else if(typeof movieActorSchemaString !== 'undefined' && movieActorSchemaString != ""){%>
					<%- include(viewpath+ '/widgets/movie_review_widget',{postPageJson:postPageJson}); %>    
					<%	}else { %>
					<div class="article-img">
						<img class="fp-lazy" title="<%=postPageJson['post']['post_title']%>" alt="<%=postPageJson['post']['post_title']%>" src="<%-constant.PLACEHOLDER_IMG_640x362 %>" data-src="<%-common.firstpost_imageOptimization(postPageJson['post']['post_image'], 640, 363, '') %>">
					</div>
					<%  } %>
					<ul class="bullets-list">
					<% for ( let bullCount=1 ; bullCount <=5 ; bullCount++ ){ %>
								<% if (typeof postPageJson['meta']["heading-"+bullCount] !== 'undefined' && postPageJson['meta']["heading-"+bullCount] != "") { %>
						<li><h2 class="bullets"><%=postPageJson['meta']["heading-"+bullCount]%></h2></li>
								<% } %>
							<% } %>
					</ul>
					
					<div class="inner-copy article-full-content">
					<%- postContent %>   
					</div>
					<p class="author-info" >Updated Date: <span class="article-date"><%=dateFormat(postPageJson['post']['post_modified'] , "mmmm dd',' yyyy HH:MM:ss")%> IST</span></p>
				
					<% if(typeof postPageJson['tag'] !== 'undefined' && postPageJson['tag'] !== null && postPageJson['tag'] != ''){ %>
					<div class="tags-wrap">
					<p class="tags-heading">TAGS:</p>
					<ul class="tags-list">
						<% for (var [tag_key, tag_val] of Object.entries(postPageJson['tag'])) { %>
						<li>
							<a href="<%=tag_val.url.replace('http://www.firstpost.com/' , constant.SITE_URL)%>"><%= common.capitalizeEWLetter(tag_val.name) %></a>
						</li>
						<%
						if(tag_key >= 4){
							break;
						}
						} %>
					</ul>
					</div>
					<% } %>
					<% if (typeof outbrain_ads  !== 'undefined' && typeof outbrain_ads['AR_1']  !== 'undefined'){%>
					    <%-outbrain_ads['AR_1'];%>	
					<% } %>
					<%- include(viewpath+ '/widgets/whatsapp_text_widget'); %>
					<!--<div class="share-page innerpage-share">
					<p>Share this article</p>
					<%# include(viewpath+ '/widgets/social_share_widget'); %>
					</div>-->
			</div>
		</div>
	    
		<%- include(viewpath+ '/widgets/alsosee_article_widget'); %>
	</div><!--main-content-->
	    <!--- sidebar  start --->
	    <%- include(viewpath+ '/'+device+'/firstpost/rhs'); %>
    </div>
</div><!--container-->
<%- include(viewpath+ '/layouts/footer'); %>